In [1]:
import pandas as pd
import numpy as np

In [2]:
## 작업폴더 설정
#학교
# folder = "C:/Users/Juhyung/OneDrive - 연세대학교 (Yonsei University)/1 able택/2 작업일지/221114/"

#집
folder ="C:/Users/wl/Desktop/◆◆◆원 드라이브◆◆◆/OneDrive - 연세대학교 (Yonsei University)/1 able택/2 작업일지/221114/"

In [3]:
df=pd.read_csv(folder + "master(id_adtm_sca_tlp_result)(1차).csv", encoding = 'CP949')
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,1897,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,3.11,1.8,1.0,1.0,1.4,1.30,3.00,1.6,4.20,1.14
1898,1898,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,4.03,1.2,1.0,1.2,1.4,1.20,3.50,2.8,3.85,3.29
1899,1899,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,2.06,2.4,3.2,2.6,2.0,2.55,2.50,3.4,3.05,2.43
1900,1900,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,3.36,1.0,1.0,1.4,1.6,1.25,3.50,1.6,4.45,3.57
1901,1901,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,2.82,3.0,3.8,3.4,3.6,3.45,3.25,3.2,3.53,2.86

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1902 entries, 0 to 1901
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            1902 non-null   int64
 1   diag_student_id       1902 non-null   int64
 2   student_id            471 non-null    float64
 3   Unnamed: 2            471 non-null    object
 4   schoolType            471 non-null    object
 5   schoolYear            471 non-null    float64
 6   created_date          471 non-null    object
 7   section3_score        1902 non-null   int64
 8   section4_score        1902 non-null   int64
 9   section5_score        1902 non-null   int64
 10  section6_score        1902 non-null   int64
 11  section7_score        1902 non-null   int64
 12  self_efficacy         1537 non-null   float64
 13  math_self_efficacy    1537 non-null   float64
 14  in_goal_Orientation   1537 non-null   float64
 15  out_goal_Orientation  1537 non-null   float64
 16  learning_readiness    1537 non-null   float64
 17  learning_ability      1537 non-null   float64
 18  parent_communication  1537 non-null   float64
 19  test_anxiety          1537 non-null   float64
 20  math_anxiety          1537 non-null   float64
 21  academy_relies        1537 non-null   float64
 22  LMS번호                 372 non-null    float64
 23  학년                    372 non-null    float64
 24  과정                    372 non-null    float64
 25  Self_Efficacy         372 non-null    float64
 26  Math_efficacy         372 non-null    float64
 27  내재조절2                 372 non-null    float64
 28  확인조절2                 372 non-null    float64
 29  부과조절2                 372 non-null    float64
 30  외재조절2                 372 non-null    float64
 31  RAI2                  372 non-null    float64
 32  숙달접근                  372 non-null    float64
 33  수행접근                  372 non-null    float64
 34  수행회피                  372 non-null    float64
 35  숙달회피                  372 non-null    float64
 36  수학흥미                  372 non-null    float64
 37  주의집중                  372 non-null    float64
 38  능동적학습                 372 non-null    float64
 39  총점                    372 non-null    float64
 40  수학학습전략                372 non-null    float64
 41  인지전략                  372 non-null    float64
 42  메타인지전략                372 non-null    float64
 43  총전략점수                 372 non-null    float64
 44  정서불안                  372 non-null    float64
 45  인지불안                  372 non-null    float64
 46  관계불안                  372 non-null    float64
 47  일반불안                  372 non-null    float64
 48  총불안                   372 non-null    float64
 49  부모관계긍정                372 non-null    float64
 50  부모관계부정                372 non-null    float64
 51  전체관계                  372 non-null    float64
 52  학원의존                  372 non-null    float64
dtypes: float64(43), int64(7), object(3)
memory usage: 787.7+ KB

In [5]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section4_score', 'section5_score', 'section6_score', 'section7_score',
       'self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'learning_readiness', 'learning_ability',
       'parent_communication', 'test_anxiety', 'math_anxiety',
       'academy_relies', 'LMS번호', '학년', '과정', 'Self_Efficacy', 'Math_efficacy',
       '내재조절2', '확인조절2', '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피',
       '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략',
       '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정',
       '전체관계', '학원의존'],
      dtype='object')

# SCA

In [6]:
# sca 컬럼 가져오기
df2=df[['self_efficacy','math_self_efficacy', 'in_goal_Orientation', 'out_goal_Orientation', 
        'test_anxiety', 'parent_communication','academy_relies' ]]
df2

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,test_anxiety,parent_communication,academy_relies
0,22.0,24.0,15.0,7.0,16.0,37.0,12.0
1,19.0,15.0,14.0,5.0,33.0,35.0,15.0
2,22.0,17.0,10.0,7.0,21.0,41.0,7.0
3,13.0,9.0,13.0,14.0,26.0,16.0,4.0
4,14.0,19.0,9.0,7.0,23.0,23.0,15.0
...,...,...,...,...,...,...,...
1897,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1898,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1899,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
### sca 만점 이상 확인, 최소 0점이하 확인
df2.describe()

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,test_anxiety,parent_communication,academy_relies
count,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000
mean,18.605725,17.810020,9.913468,7.070267,19.728042,28.918673,13.155498
std,4.448861,4.580908,2.849010,3.155106,7.271892,7.723191,5.580252
min,1.000000,0.000000,0.000000,0.000000,6.000000,1.000000,0.000000
25%,16.000000,15.000000,8.000000,5.000000,14.000000,24.000000,10.000000
50%,19.000000,18.000000,10.000000,7.000000,20.000000,29.000000,13.000000
75%,22.000000,21.000000,12.000000,9.000000,25.000000,35.000000,17.000000
max,27.000000,27.000000,15.000000,15.000000,43.000000,42.000000,36.000000

In [8]:
from sklearn.preprocessing import  MinMaxScaler

In [9]:
scaler = MinMaxScaler()
sca_scaled = scaler.fit_transform(df2)
sca_scaled = pd.DataFrame(sca_scaled, columns = ['self_efficacy','math_self_efficacy', 'in_goal_Orientation', 'out_goal_Orientation',
                         'test_anxiety', 'parent_communication','academy_relies'] )
sca_scaled

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,test_anxiety,parent_communication,academy_relies
0,0.807692,0.888889,1.000000,0.466667,0.270270,0.878049,0.333333
1,0.692308,0.555556,0.933333,0.333333,0.729730,0.829268,0.416667
2,0.807692,0.629630,0.666667,0.466667,0.405405,0.975610,0.194444
3,0.461538,0.333333,0.866667,0.933333,0.540541,0.365854,0.111111
4,0.500000,0.703704,0.600000,0.466667,0.459459,0.536585,0.416667
...,...,...,...,...,...,...,...
1897,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1898,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1899,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
sca_scaled

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,test_anxiety,parent_communication,academy_relies
0,0.807692,0.888889,1.000000,0.466667,0.270270,0.878049,0.333333
1,0.692308,0.555556,0.933333,0.333333,0.729730,0.829268,0.416667
2,0.807692,0.629630,0.666667,0.466667,0.405405,0.975610,0.194444
3,0.461538,0.333333,0.866667,0.933333,0.540541,0.365854,0.111111
4,0.500000,0.703704,0.600000,0.466667,0.459459,0.536585,0.416667
...,...,...,...,...,...,...,...
1897,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1898,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1899,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print(f"최소 : {sca_scaled.min()}")
print()
print(f"최대 : {sca_scaled.max()}")

최소 : self_efficacy           0.0
math_self_efficacy      0.0
in_goal_Orientation     0.0
out_goal_Orientation    0.0
test_anxiety            0.0
parent_communication    0.0
academy_relies          0.0
dtype: float64

최대 : self_efficacy           1.0
math_self_efficacy      1.0
in_goal_Orientation     1.0
out_goal_Orientation    1.0
test_anxiety            1.0
parent_communication    1.0
academy_relies          1.0
dtype: float64

In [12]:
sca_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1902 entries, 0 to 1901
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   self_efficacy         1537 non-null   float64
 1   math_self_efficacy    1537 non-null   float64
 2   in_goal_Orientation   1537 non-null   float64
 3   out_goal_Orientation  1537 non-null   float64
 4   test_anxiety          1537 non-null   float64
 5   parent_communication  1537 non-null   float64
 6   academy_relies        1537 non-null   float64
dtypes: float64(7)
memory usage: 104.1 KB

# TLP

In [13]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section4_score', 'section5_score', 'section6_score', 'section7_score',
       'self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'learning_readiness', 'learning_ability',
       'parent_communication', 'test_anxiety', 'math_anxiety',
       'academy_relies', 'LMS번호', '학년', '과정', 'Self_Efficacy', 'Math_efficacy',
       '내재조절2', '확인조절2', '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피',
       '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략',
       '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정',
       '전체관계', '학원의존'],
      dtype='object')

In [14]:
# tlp 컬럼 가져오기
df3=df[['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
         'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존']]

In [15]:
### tlp 만점 이상 확인, 최소 0점이하 확인
df3.describe()

,Self_Efficacy,Math_efficacy,내재조절2,확인조절2,부과조절2,외재조절2,RAI2,숙달접근,수행접근,수행회피,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
count,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,...,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000
mean,4.302016,4.215968,4.109194,4.635081,3.097392,2.065457,-5.625134,4.140995,2.851478,2.445161,...,3.837392,2.347849,2.858602,2.291398,2.422581,2.480108,4.099462,2.590860,4.256586,2.795484
std,0.777508,0.888187,1.023970,0.936710,1.080510,1.099513,4.026461,1.042479,1.174736,1.117999,...,0.822514,1.262424,1.317396,1.077599,1.250391,1.067516,1.186963,1.072379,0.992996,0.882469
min,1.560000,1.440000,1.290000,1.000000,1.000000,1.000000,-15.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.670000,3.560000,3.430000,4.000000,2.330000,1.000000,-8.390000,3.500000,2.000000,1.550000,...,3.310000,1.200000,1.800000,1.400000,1.400000,1.637500,3.437500,1.800000,3.680000,2.140000
50%,4.330000,4.330000,4.140000,4.750000,3.170000,2.000000,-5.870000,4.170000,2.750000,2.400000,...,3.785000,2.000000,2.800000,2.200000,2.200000,2.300000,4.250000,2.600000,4.230000,2.785000
75%,4.890000,4.890000,4.860000,5.250000,3.830000,2.670000,-3.092500,4.872500,3.750000,3.200000,...,4.332500,3.000000,3.800000,2.850000,3.200000,3.150000,5.000000,3.400000,5.050000,3.430000
max,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,7.110000,6.000000,6.000000,5.800000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.710000

In [16]:
scaler = MinMaxScaler()
tlp_scaled=scaler.fit_transform(df3)
tlp_scaled = pd.DataFrame(tlp_scaled, columns = ['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
         'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'] )
tlp_scaled

,Self_Efficacy,Math_efficacy,내재조절2,확인조절2,부과조절2,외재조절2,RAI2,숙달접근,수행접근,수행회피,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,0.500000,0.489035,0.333333,0.50,0.000,0.000,0.397558,0.366,0.0,0.000000,...,0.422,0.16,0.00,0.00,0.08,0.06,0.40,0.12,0.640,0.029724
1898,0.599099,0.438596,0.513800,0.65,0.500,0.400,0.579828,0.566,0.5,0.125000,...,0.606,0.04,0.00,0.04,0.08,0.04,0.50,0.36,0.570,0.486200
1899,0.274775,0.195175,0.180467,0.50,0.266,0.334,0.672999,0.234,0.2,0.625000,...,0.212,0.28,0.44,0.32,0.20,0.31,0.30,0.48,0.410,0.303609
1900,0.799550,0.684211,0.878981,0.80,0.266,0.000,0.157395,0.934,0.2,0.208333,...,0.472,0.00,0.00,0.08,0.12,0.05,0.50,0.12,0.690,0.545648
1901,0.524775,0.342105,0.301486,0.25,0.166,0.600,0.775667,0.366,0.0,0.666667,...,0.364,0.40,0.56,0.48,0.52,0.49,0.45,0.44,0.506,0.394904

In [17]:
print(f"최소 : {tlp_scaled.min()}")
print()
print(f"최대 : {tlp_scaled.max()}")

최소 : Self_Efficacy    0.0
Math_efficacy    0.0
내재조절2            0.0
확인조절2            0.0
부과조절2            0.0
외재조절2            0.0
RAI2             0.0
숙달접근             0.0
수행접근             0.0
수행회피             0.0
숙달회피             0.0
수학흥미             0.0
주의집중             0.0
능동적학습            0.0
총점               0.0
수학학습전략           0.0
인지전략             0.0
메타인지전략           0.0
총전략점수            0.0
정서불안             0.0
인지불안             0.0
관계불안             0.0
일반불안             0.0
총불안              0.0
부모관계긍정           0.0
부모관계부정           0.0
전체관계             0.0
학원의존             0.0
dtype: float64

최대 : Self_Efficacy    1.0
Math_efficacy    1.0
내재조절2            1.0
확인조절2            1.0
부과조절2            1.0
외재조절2            1.0
RAI2             1.0
숙달접근             1.0
수행접근             1.0
수행회피             1.0
숙달회피             1.0
수학흥미             1.0
주의집중             1.0
능동적학습            1.0
총점               1.0
수학학습전략           1.0
인지전략             1.0
메타인지전략           1.0
총전략점수            1.0
정서불안             1.0
인지불안             1.0
관계불안             1.0
일반불안             1.0
총불안              1.0
부모관계긍정           1.0
부모관계부정           1.0
전체관계             1.0
학원의존             1.0
dtype: float64

In [18]:
tlp_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1902 entries, 0 to 1901
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Self_Efficacy  372 non-null    float64
 1   Math_efficacy  372 non-null    float64
 2   내재조절2          372 non-null    float64
 3   확인조절2          372 non-null    float64
 4   부과조절2          372 non-null    float64
 5   외재조절2          372 non-null    float64
 6   RAI2           372 non-null    float64
 7   숙달접근           372 non-null    float64
 8   수행접근           372 non-null    float64
 9   수행회피           372 non-null    float64
 10  숙달회피           372 non-null    float64
 11  수학흥미           372 non-null    float64
 12  주의집중           372 non-null    float64
 13  능동적학습          372 non-null    float64
 14  총점             372 non-null    float64
 15  수학학습전략         372 non-null    float64
 16  인지전략           372 non-null    float64
 17  메타인지전략         372 non-null    float64
 18  총전략점수          372 non-null    float64
 19  정서불안           372 non-null    float64
 20  인지불안           372 non-null    float64
 21  관계불안           372 non-null    float64
 22  일반불안           372 non-null    float64
 23  총불안            372 non-null    float64
 24  부모관계긍정         372 non-null    float64
 25  부모관계부정         372 non-null    float64
 26  전체관계           372 non-null    float64
 27  학원의존           372 non-null    float64
dtypes: float64(28)
memory usage: 416.2 KB

# SCA +TLP (TLP 기준)

In [19]:
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,1897,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,3.11,1.8,1.0,1.0,1.4,1.30,3.00,1.6,4.20,1.14
1898,1898,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,4.03,1.2,1.0,1.2,1.4,1.20,3.50,2.8,3.85,3.29
1899,1899,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,2.06,2.4,3.2,2.6,2.0,2.55,2.50,3.4,3.05,2.43
1900,1900,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,3.36,1.0,1.0,1.4,1.6,1.25,3.50,1.6,4.45,3.57
1901,1901,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,2.82,3.0,3.8,3.4,3.6,3.45,3.25,3.2,3.53,2.86

In [20]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section4_score', 'section5_score', 'section6_score', 'section7_score',
       'self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'learning_readiness', 'learning_ability',
       'parent_communication', 'test_anxiety', 'math_anxiety',
       'academy_relies', 'LMS번호', '학년', '과정', 'Self_Efficacy', 'Math_efficacy',
       '내재조절2', '확인조절2', '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피',
       '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략',
       '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정',
       '전체관계', '학원의존'],
      dtype='object')

In [21]:
sca_scaled.columns

Index(['self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'test_anxiety', 'parent_communication',
       'academy_relies'],
      dtype='object')

In [22]:
tlp_scaled.columns

Index(['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
       'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [23]:
sca_scaled

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,test_anxiety,parent_communication,academy_relies
0,0.807692,0.888889,1.000000,0.466667,0.270270,0.878049,0.333333
1,0.692308,0.555556,0.933333,0.333333,0.729730,0.829268,0.416667
2,0.807692,0.629630,0.666667,0.466667,0.405405,0.975610,0.194444
3,0.461538,0.333333,0.866667,0.933333,0.540541,0.365854,0.111111
4,0.500000,0.703704,0.600000,0.466667,0.459459,0.536585,0.416667
...,...,...,...,...,...,...,...
1897,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1898,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1899,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
tlp_scaled

,Self_Efficacy,Math_efficacy,내재조절2,확인조절2,부과조절2,외재조절2,RAI2,숙달접근,수행접근,수행회피,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,0.500000,0.489035,0.333333,0.50,0.000,0.000,0.397558,0.366,0.0,0.000000,...,0.422,0.16,0.00,0.00,0.08,0.06,0.40,0.12,0.640,0.029724
1898,0.599099,0.438596,0.513800,0.65,0.500,0.400,0.579828,0.566,0.5,0.125000,...,0.606,0.04,0.00,0.04,0.08,0.04,0.50,0.36,0.570,0.486200
1899,0.274775,0.195175,0.180467,0.50,0.266,0.334,0.672999,0.234,0.2,0.625000,...,0.212,0.28,0.44,0.32,0.20,0.31,0.30,0.48,0.410,0.303609
1900,0.799550,0.684211,0.878981,0.80,0.266,0.000,0.157395,0.934,0.2,0.208333,...,0.472,0.00,0.00,0.08,0.12,0.05,0.50,0.12,0.690,0.545648
1901,0.524775,0.342105,0.301486,0.25,0.166,0.600,0.775667,0.366,0.0,0.666667,...,0.364,0.40,0.56,0.48,0.52,0.49,0.45,0.44,0.506,0.394904

In [25]:
'''
<for문>
-둘다 있으면 아무것도 안한다
-sca값 널이아니면 그값을 tlp에다가 넣는다 
-sca널이면 아무것도 안한다
'''

'\n<for문>\n-둘다 있으면 아무것도 안한다\n-sca값 널이아니면 그값을 tlp에다가 넣는다 \n-sca널이면 아무것도 안한다\n'

In [26]:
sca_list = ['self_efficacy', 'math_self_efficacy', 'in_goal_Orientation','out_goal_Orientation', 'test_anxiety', 'parent_communication', 'academy_relies']
tlp_list = ['Self_Efficacy', 'Math_efficacy', '숙달접근', '수행접근', '총불안', '전체관계', '학원의존' ]

for i in range(1902):
    for j in range(7):
        if pd.isna(sca_scaled.loc[i, sca_list[j]]) != True:     ## sca 값 있을때
            if pd.isna(tlp_scaled.loc[i, tlp_list[j]]) != True: ## tlp 값도 있으면
                continue    ## 넘어감


            else:           ## sca있고 tlp값은 없으면
                tlp_scaled.loc[i, tlp_list[j]] = sca_scaled.loc[i, sca_list[j]] ## tlp에 sca 값 넣기  


        else:              ## sca 값 없으면
            continue      ## 넘어감


tlp_scaled[['Self_Efficacy', 'Math_efficacy', '숙달접근', '수행접근', '총불안', '전체관계', '학원의존' ]]

,Self_Efficacy,Math_efficacy,숙달접근,수행접근,총불안,전체관계,학원의존
0,0.807692,0.888889,1.000000,0.466667,0.270270,0.878049,0.333333
1,0.692308,0.555556,0.933333,0.333333,0.729730,0.829268,0.416667
2,0.807692,0.629630,0.666667,0.466667,0.405405,0.975610,0.194444
3,0.461538,0.333333,0.866667,0.933333,0.540541,0.365854,0.111111
4,0.500000,0.703704,0.600000,0.466667,0.459459,0.536585,0.416667
...,...,...,...,...,...,...,...
1897,0.500000,0.489035,0.366000,0.000000,0.060000,0.640000,0.029724
1898,0.599099,0.438596,0.566000,0.500000,0.040000,0.570000,0.486200
1899,0.274775,0.195175,0.234000,0.200000,0.310000,0.410000,0.303609
1900,0.799550,0.684211,0.934000,0.200000,0.050000,0.690000,0.545648
1901,0.524775,0.342105,0.366000,0.000000,0.490000,0.506000,0.394904

In [27]:
df[['Self_Efficacy', 'Math_efficacy', '숙달접근', '수행접근', '총불안', '전체관계', '학원의존' ]] = tlp_scaled[['Self_Efficacy', 'Math_efficacy', '숙달접근', '수행접근', '총불안', '전체관계', '학원의존' ]]
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,NaN,NaN,NaN,NaN,0.270270,NaN,NaN,0.878049,0.333333
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,NaN,NaN,NaN,NaN,0.729730,NaN,NaN,0.829268,0.416667
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,NaN,NaN,NaN,NaN,0.405405,NaN,NaN,0.975610,0.194444
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,NaN,NaN,NaN,NaN,0.540541,NaN,NaN,0.365854,0.111111
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,NaN,NaN,NaN,NaN,0.459459,NaN,NaN,0.536585,0.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,1897,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,3.11,1.8,1.0,1.0,1.4,0.060000,3.00,1.6,0.640000,0.029724
1898,1898,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,4.03,1.2,1.0,1.2,1.4,0.040000,3.50,2.8,0.570000,0.486200
1899,1899,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,2.06,2.4,3.2,2.6,2.0,0.310000,2.50,3.4,0.410000,0.303609
1900,1900,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,3.36,1.0,1.0,1.4,1.6,0.050000,3.50,1.6,0.690000,0.545648
1901,1901,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,2.82,3.0,3.8,3.4,3.6,0.490000,3.25,3.2,0.506000,0.394904

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1902 entries, 0 to 1901
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            1902 non-null   int64
 1   diag_student_id       1902 non-null   int64
 2   student_id            471 non-null    float64
 3   Unnamed: 2            471 non-null    object
 4   schoolType            471 non-null    object
 5   schoolYear            471 non-null    float64
 6   created_date          471 non-null    object
 7   section3_score        1902 non-null   int64
 8   section4_score        1902 non-null   int64
 9   section5_score        1902 non-null   int64
 10  section6_score        1902 non-null   int64
 11  section7_score        1902 non-null   int64
 12  self_efficacy         1537 non-null   float64
 13  math_self_efficacy    1537 non-null   float64
 14  in_goal_Orientation   1537 non-null   float64
 15  out_goal_Orientation  1537 non-null   float64
 16  learning_readiness    1537 non-null   float64
 17  learning_ability      1537 non-null   float64
 18  parent_communication  1537 non-null   float64
 19  test_anxiety          1537 non-null   float64
 20  math_anxiety          1537 non-null   float64
 21  academy_relies        1537 non-null   float64
 22  LMS번호                 372 non-null    float64
 23  학년                    372 non-null    float64
 24  과정                    372 non-null    float64
 25  Self_Efficacy         1902 non-null   float64
 26  Math_efficacy         1902 non-null   float64
 27  내재조절2                 372 non-null    float64
 28  확인조절2                 372 non-null    float64
 29  부과조절2                 372 non-null    float64
 30  외재조절2                 372 non-null    float64
 31  RAI2                  372 non-null    float64
 32  숙달접근                  1902 non-null   float64
 33  수행접근                  1902 non-null   float64
 34  수행회피                  372 non-null    float64
 35  숙달회피                  372 non-null    float64
 36  수학흥미                  372 non-null    float64
 37  주의집중                  372 non-null    float64
 38  능동적학습                 372 non-null    float64
 39  총점                    372 non-null    float64
 40  수학학습전략                372 non-null    float64
 41  인지전략                  372 non-null    float64
 42  메타인지전략                372 non-null    float64
 43  총전략점수                 372 non-null    float64
 44  정서불안                  372 non-null    float64
 45  인지불안                  372 non-null    float64
 46  관계불안                  372 non-null    float64
 47  일반불안                  372 non-null    float64
 48  총불안                   1902 non-null   float64
 49  부모관계긍정                372 non-null    float64
 50  부모관계부정                372 non-null    float64
 51  전체관계                  1902 non-null   float64
 52  학원의존                  1902 non-null   float64
dtypes: float64(43), int64(7), object(3)
memory usage: 787.7+ KB

# TLP 4개 카테고리로 통합

In [29]:
# tlp_scaled 전체
tlp_scaled

,Self_Efficacy,Math_efficacy,내재조절2,확인조절2,부과조절2,외재조절2,RAI2,숙달접근,수행접근,수행회피,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,0.807692,0.888889,NaN,NaN,NaN,NaN,NaN,1.000000,0.466667,NaN,...,NaN,NaN,NaN,NaN,NaN,0.270270,NaN,NaN,0.878049,0.333333
1,0.692308,0.555556,NaN,NaN,NaN,NaN,NaN,0.933333,0.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,0.729730,NaN,NaN,0.829268,0.416667
2,0.807692,0.629630,NaN,NaN,NaN,NaN,NaN,0.666667,0.466667,NaN,...,NaN,NaN,NaN,NaN,NaN,0.405405,NaN,NaN,0.975610,0.194444
3,0.461538,0.333333,NaN,NaN,NaN,NaN,NaN,0.866667,0.933333,NaN,...,NaN,NaN,NaN,NaN,NaN,0.540541,NaN,NaN,0.365854,0.111111
4,0.500000,0.703704,NaN,NaN,NaN,NaN,NaN,0.600000,0.466667,NaN,...,NaN,NaN,NaN,NaN,NaN,0.459459,NaN,NaN,0.536585,0.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,0.500000,0.489035,0.333333,0.50,0.000,0.000,0.397558,0.366000,0.000000,0.000000,...,0.422,0.16,0.00,0.00,0.08,0.060000,0.40,0.12,0.640000,0.029724
1898,0.599099,0.438596,0.513800,0.65,0.500,0.400,0.579828,0.566000,0.500000,0.125000,...,0.606,0.04,0.00,0.04,0.08,0.040000,0.50,0.36,0.570000,0.486200
1899,0.274775,0.195175,0.180467,0.50,0.266,0.334,0.672999,0.234000,0.200000,0.625000,...,0.212,0.28,0.44,0.32,0.20,0.310000,0.30,0.48,0.410000,0.303609
1900,0.799550,0.684211,0.878981,0.80,0.266,0.000,0.157395,0.934000,0.200000,0.208333,...,0.472,0.00,0.00,0.08,0.12,0.050000,0.50,0.12,0.690000,0.545648
1901,0.524775,0.342105,0.301486,0.25,0.166,0.600,0.775667,0.366000,0.000000,0.666667,...,0.364,0.40,0.56,0.48,0.52,0.490000,0.45,0.44,0.506000,0.394904

# 학습동기

In [30]:
tlp_scaled.columns

Index(['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
       'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [31]:
tlp_motivation = tlp_scaled[['Self_Efficacy', 'Math_efficacy', '확인조절2', '부과조절2', '외재조절2',
       '숙달접근', '수행접근', '수행회피']].mean(axis=1)
tlp_motivation

0       0.790812
1       0.628632
2       0.642664
3       0.648718
4       0.567593
          ...
1897    0.231879
1898    0.472337
1899    0.328619
1900    0.486512
1901    0.364443
Length: 1902, dtype: float64

In [32]:
sum(tlp_motivation.isna())

0

In [33]:
df['tlp_motivation']=tlp_motivation
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존,tlp_motivation
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,NaN,NaN,NaN,0.270270,NaN,NaN,0.878049,0.333333,0.790812
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,NaN,NaN,NaN,0.729730,NaN,NaN,0.829268,0.416667,0.628632
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,NaN,NaN,NaN,0.405405,NaN,NaN,0.975610,0.194444,0.642664
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,NaN,NaN,NaN,0.540541,NaN,NaN,0.365854,0.111111,0.648718
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,NaN,NaN,NaN,0.459459,NaN,NaN,0.536585,0.416667,0.567593
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,1897,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,1.8,1.0,1.0,1.4,0.060000,3.00,1.6,0.640000,0.029724,0.231879
1898,1898,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,1.2,1.0,1.2,1.4,0.040000,3.50,2.8,0.570000,0.486200,0.472337
1899,1899,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,2.4,3.2,2.6,2.0,0.310000,2.50,3.4,0.410000,0.303609,0.328619
1900,1900,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,1.0,1.0,1.4,1.6,0.050000,3.50,1.6,0.690000,0.545648,0.486512
1901,1901,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,3.0,3.8,3.4,3.6,0.490000,3.25,3.2,0.506000,0.394904,0.364443

# 학습태도

In [34]:
tlp_scaled.columns

Index(['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
       'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [35]:
# sca는 있지만 tlp에 매치되는 항목이 없어서 tlp값에 널값 존재
tlp_attitude = tlp_scaled[['수학흥미', '주의집중', '능동적학습']].mean(axis=1)
tlp_attitude

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
1897    0.183333
1898    0.819333
1899    0.264000
1900    0.839333
1901    0.188000
Length: 1902, dtype: float64

In [36]:
df['tlp_attitude']=tlp_attitude
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존,tlp_motivation,tlp_attitude
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,NaN,NaN,0.270270,NaN,NaN,0.878049,0.333333,0.790812,NaN
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,NaN,NaN,0.729730,NaN,NaN,0.829268,0.416667,0.628632,NaN
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,NaN,NaN,0.405405,NaN,NaN,0.975610,0.194444,0.642664,NaN
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,NaN,NaN,0.540541,NaN,NaN,0.365854,0.111111,0.648718,NaN
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,NaN,NaN,0.459459,NaN,NaN,0.536585,0.416667,0.567593,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,1897,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,1.0,1.0,1.4,0.060000,3.00,1.6,0.640000,0.029724,0.231879,0.183333
1898,1898,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,1.0,1.2,1.4,0.040000,3.50,2.8,0.570000,0.486200,0.472337,0.819333
1899,1899,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,3.2,2.6,2.0,0.310000,2.50,3.4,0.410000,0.303609,0.328619,0.264000
1900,1900,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,1.0,1.4,1.6,0.050000,3.50,1.6,0.690000,0.545648,0.486512,0.839333
1901,1901,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,3.8,3.4,3.6,0.490000,3.25,3.2,0.506000,0.394904,0.364443,0.188000

# 학습전략

In [37]:
tlp_scaled.columns

Index(['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
       'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [38]:
# sca는 있지만 tlp에 매치되는 항목이 없어서 널값 존재
tlp_strategy = tlp_scaled[[ '수학학습전략', '인지전략', '메타인지전략']].mean(axis=1)
tlp_strategy

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
1897    0.422000
1898    0.606667
1899    0.211333
1900    0.471333
1901    0.364667
Length: 1902, dtype: float64

In [39]:
df['tlp_strategy']=tlp_strategy
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존,tlp_motivation,tlp_attitude,tlp_strategy
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,NaN,0.270270,NaN,NaN,0.878049,0.333333,0.790812,NaN,NaN
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,NaN,0.729730,NaN,NaN,0.829268,0.416667,0.628632,NaN,NaN
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,NaN,0.405405,NaN,NaN,0.975610,0.194444,0.642664,NaN,NaN
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,NaN,0.540541,NaN,NaN,0.365854,0.111111,0.648718,NaN,NaN
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,NaN,0.459459,NaN,NaN,0.536585,0.416667,0.567593,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,1897,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,1.0,1.4,0.060000,3.00,1.6,0.640000,0.029724,0.231879,0.183333,0.422000
1898,1898,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,1.2,1.4,0.040000,3.50,2.8,0.570000,0.486200,0.472337,0.819333,0.606667
1899,1899,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,2.6,2.0,0.310000,2.50,3.4,0.410000,0.303609,0.328619,0.264000,0.211333
1900,1900,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,1.4,1.6,0.050000,3.50,1.6,0.690000,0.545648,0.486512,0.839333,0.471333
1901,1901,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,3.4,3.6,0.490000,3.25,3.2,0.506000,0.394904,0.364443,0.188000,0.364667

# 학습불안

In [40]:
tlp_scaled.columns

Index(['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
       'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [41]:
tlp_scaled[['총불안']]

           총불안
0     0.270270
1     0.729730
2     0.405405
3     0.540541
4     0.459459
...        ...
1897  0.060000
1898  0.040000
1899  0.310000
1900  0.050000
1901  0.490000

[1902 rows x 1 columns]

In [42]:
tlp_scaled[['총불안']]*4

           총불안
0     1.081081
1     2.918919
2     1.621622
3     2.162162
4     1.837838
...        ...
1897  0.240000
1898  0.160000
1899  1.240000
1900  0.200000
1901  1.960000

[1902 rows x 1 columns]

In [43]:
# tlp_fear : 시험불안 + 부모자녀의사소통 + 학원의존
#          * 시험불안 = (정서불안, 인지불안, 관계불안, 일반불안, 총불안)

# 총불안 :  시험불안 4개항목(정서불안, 인지불안, 관계불안, 일반불안) 평균값
# sca에서 tlp로 합친 데이터들은 시험불안 항목 5개 값이 다 있지 않고, 총불안(평균값) 값만 있기 때문에 총불안x4값으로 계산

tlp_scaled[['총불안']]= tlp_scaled[['총불안']]*4

In [44]:
tlp_fear = tlp_scaled[['총불안','부모관계긍정', '부모관계부정', '학원의존']].mean(axis=1)
tlp_fear

0       0.707207
1       1.667793
2       0.908033
3       1.136637
4       1.127252
          ...
1897    0.197431
1898    0.376550
1899    0.580902
1900    0.341412
1901    0.811226
Length: 1902, dtype: float64

In [45]:
df['tlp_fear']=tlp_fear
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,0.270270,NaN,NaN,0.878049,0.333333,0.790812,NaN,NaN,0.707207
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,0.729730,NaN,NaN,0.829268,0.416667,0.628632,NaN,NaN,1.667793
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,0.405405,NaN,NaN,0.975610,0.194444,0.642664,NaN,NaN,0.908033
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,0.540541,NaN,NaN,0.365854,0.111111,0.648718,NaN,NaN,1.136637
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,0.459459,NaN,NaN,0.536585,0.416667,0.567593,NaN,NaN,1.127252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,1897,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,1.4,0.060000,3.00,1.6,0.640000,0.029724,0.231879,0.183333,0.422000,0.197431
1898,1898,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,1.4,0.040000,3.50,2.8,0.570000,0.486200,0.472337,0.819333,0.606667,0.376550
1899,1899,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,2.0,0.310000,2.50,3.4,0.410000,0.303609,0.328619,0.264000,0.211333,0.580902
1900,1900,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,1.6,0.050000,3.50,1.6,0.690000,0.545648,0.486512,0.839333,0.471333,0.341412
1901,1901,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,3.6,0.490000,3.25,3.2,0.506000,0.394904,0.364443,0.188000,0.364667,0.811226

In [46]:
df4=df[['diag_student_id',
        'section3_score','section4_score','section5_score','section6_score', 'section7_score',
        'tlp_motivation', 'tlp_attitude', 'tlp_strategy', 'tlp_fear']]
df4

,diag_student_id,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear
0,40,26,16,10,8,2,0.790812,NaN,NaN,0.707207
1,42,13,26,17,2,0,0.628632,NaN,NaN,1.667793
2,46,45,23,8,0,0,0.642664,NaN,NaN,0.908033
3,47,74,74,42,25,0,0.648718,NaN,NaN,1.136637
4,49,77,42,50,6,0,0.567593,NaN,NaN,1.127252
...,...,...,...,...,...,...,...,...,...,...
1897,9569,77,40,24,8,0,0.231879,0.183333,0.422000,0.197431
1898,9633,27,5,12,0,0,0.472337,0.819333,0.606667,0.376550
1899,9688,52,44,25,10,0,0.328619,0.264000,0.211333,0.580902
1900,9770,30,34,18,7,11,0.486512,0.839333,0.471333,0.341412
1901,9814,66,27,14,2,4,0.364443,0.188000,0.364667,0.811226

In [47]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section4_score', 'section5_score', 'section6_score', 'section7_score',
       'self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'learning_readiness', 'learning_ability',
       'parent_communication', 'test_anxiety', 'math_anxiety',
       'academy_relies', 'LMS번호', '학년', '과정', 'Self_Efficacy', 'Math_efficacy',
       '내재조절2', '확인조절2', '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피',
       '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략',
       '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정',
       '전체관계', '학원의존', 'tlp_motivation', 'tlp_attitude', 'tlp_strategy',
       'tlp_fear'],
      dtype='object')

In [48]:
df4.columns

Index(['diag_student_id', 'section3_score', 'section4_score', 'section5_score',
       'section6_score', 'section7_score', 'tlp_motivation', 'tlp_attitude',
       'tlp_strategy', 'tlp_fear'],
      dtype='object')

In [49]:
df4.to_excel('master(sca+tlp)_main_category.xlsx')