In [16]:
import pandas as pd
import numpy as np

In [17]:
## 작업폴더 설정
#학교
# folder = "C:/Users/Juhyung/OneDrive - 연세대학교 (Yonsei University)/1 able택/2 작업일지/221114/"

# #집
# folder ="C:/Users/wl/Desktop/◆◆◆원 드라이브◆◆◆/OneDrive - 연세대학교 (Yonsei University)/1 able택/2 작업일지/221114/"

# 노트북
folder ="C:/Users/wL/OneDrive - 연세대학교 (Yonsei University)/1 able택/2 작업일지/221114/"

In [20]:
df=pd.read_csv(folder + "master(id_adtm_sca_tlp_result)(최종).csv", encoding = 'CP949')
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,1759,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,3.11,1.8,1.0,1.0,1.4,1.30,3.00,1.6,4.20,1.14
1760,1760,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,4.03,1.2,1.0,1.2,1.4,1.20,3.50,2.8,3.85,3.29
1761,1761,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,2.06,2.4,3.2,2.6,2.0,2.55,2.50,3.4,3.05,2.43
1762,1762,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,3.36,1.0,1.0,1.4,1.6,1.25,3.50,1.6,4.45,3.57
1763,1763,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,2.82,3.0,3.8,3.4,3.6,3.45,3.25,3.2,3.53,2.86

In [21]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section4_score', 'section5_score', 'section6_score', 'section7_score',
       'self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'learning_readiness', 'learning_ability',
       'parent_communication', 'test_anxiety', 'math_anxiety',
       'academy_relies', 'LMS번호', '학년', '과정', 'Self_Efficacy', 'Math_efficacy',
       '내재조절2', '확인조절2', '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피',
       '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략',
       '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정',
       '전체관계', '학원의존'],
      dtype='object')

# SCA

In [22]:
df2=df[['self_efficacy','math_self_efficacy', 'in_goal_Orientation', 'out_goal_Orientation', 
        'test_anxiety', 'parent_communication','academy_relies' ]]
df2

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,test_anxiety,parent_communication,academy_relies
0,22.0,24.0,15.0,7.0,16.0,37.0,12.0
1,19.0,15.0,14.0,5.0,33.0,35.0,15.0
2,22.0,17.0,10.0,7.0,21.0,41.0,7.0
3,13.0,9.0,13.0,14.0,26.0,16.0,4.0
4,14.0,19.0,9.0,7.0,23.0,23.0,15.0
...,...,...,...,...,...,...,...
1759,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1760,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1761,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1762,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1763,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df2.describe()

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,test_anxiety,parent_communication,academy_relies
count,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000
mean,18.451883,17.689679,9.856346,7.073919,19.919805,28.722455,13.101116
std,4.419173,4.592152,2.863297,3.158984,7.267291,7.721402,5.543732
min,1.000000,0.000000,0.000000,0.000000,6.000000,1.000000,0.000000
25%,16.000000,15.000000,8.000000,5.000000,14.000000,24.000000,10.000000
50%,18.500000,18.000000,10.000000,7.000000,20.000000,28.000000,13.000000
75%,22.000000,21.000000,12.000000,9.000000,25.000000,35.000000,17.000000
max,27.000000,27.000000,15.000000,15.000000,43.000000,42.000000,36.000000

In [12]:
from sklearn.preprocessing import  MinMaxScaler

In [27]:
scaler = MinMaxScaler()
sca_scaled = scaler.fit_transform(df2)
sca_scaled = pd.DataFrame(sca_scaled, columns = ['self_efficacy','math_self_efficacy', 'in_goal_Orientation', 'out_goal_Orientation',
                         'test_anxiety', 'parent_communication','academy_relies'] )
sca_scaled

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,test_anxiety,parent_communication,academy_relies
0,0.807692,0.888889,1.000000,0.466667,0.270270,0.878049,0.333333
1,0.692308,0.555556,0.933333,0.333333,0.729730,0.829268,0.416667
2,0.807692,0.629630,0.666667,0.466667,0.405405,0.975610,0.194444
3,0.461538,0.333333,0.866667,0.933333,0.540541,0.365854,0.111111
4,0.500000,0.703704,0.600000,0.466667,0.459459,0.536585,0.416667
...,...,...,...,...,...,...,...
1759,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1760,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1761,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1762,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1763,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
sca_scaled

array([[0.80769231, 0.88888889, 1.        , ..., 0.27027027, 0.87804878,
        0.33333333],
       [0.69230769, 0.55555556, 0.93333333, ..., 0.72972973, 0.82926829,
        0.41666667],
       [0.80769231, 0.62962963, 0.66666667, ..., 0.40540541, 0.97560976,
        0.19444444],
       ...,
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan]])

In [28]:
print(f"최소 : {sca_scaled.min()}")
print()
print(f"최대 : {sca_scaled.max()}")

최소 : self_efficacy           0.0
math_self_efficacy      0.0
in_goal_Orientation     0.0
out_goal_Orientation    0.0
test_anxiety            0.0
parent_communication    0.0
academy_relies          0.0
dtype: float64

최대 : self_efficacy           1.0
math_self_efficacy      1.0
in_goal_Orientation     1.0
out_goal_Orientation    1.0
test_anxiety            1.0
parent_communication    1.0
academy_relies          1.0
dtype: float64

In [29]:
sca_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764 entries, 0 to 1763
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   self_efficacy         1434 non-null   float64
 1   math_self_efficacy    1434 non-null   float64
 2   in_goal_Orientation   1434 non-null   float64
 3   out_goal_Orientation  1434 non-null   float64
 4   test_anxiety          1434 non-null   float64
 5   parent_communication  1434 non-null   float64
 6   academy_relies        1434 non-null   float64
dtypes: float64(7)
memory usage: 96.6 KB

# TLP

In [30]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section4_score', 'section5_score', 'section6_score', 'section7_score',
       'self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'learning_readiness', 'learning_ability',
       'parent_communication', 'test_anxiety', 'math_anxiety',
       'academy_relies', 'LMS번호', '학년', '과정', 'Self_Efficacy', 'Math_efficacy',
       '내재조절2', '확인조절2', '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피',
       '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략',
       '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정',
       '전체관계', '학원의존'],
      dtype='object')

In [31]:
df3=df[['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
         'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존']]

In [32]:
scaler = MinMaxScaler()
tlp_scaled=scaler.fit_transform(df3)
tlp_scaled = pd.DataFrame(tlp_scaled, columns = ['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
         'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'] )
tlp_scaled

,Self_Efficacy,Math_efficacy,내재조절2,확인조절2,부과조절2,외재조절2,RAI2,숙달접근,수행접근,수행회피,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,0.500000,0.489035,0.333333,0.50,0.000,0.000,0.397558,0.366,0.0,0.000000,...,0.422,0.16,0.00,0.00,0.08,0.06,0.40,0.12,0.640,0.029724
1760,0.599099,0.438596,0.513800,0.65,0.500,0.400,0.579828,0.566,0.5,0.125000,...,0.606,0.04,0.00,0.04,0.08,0.04,0.50,0.36,0.570,0.486200
1761,0.274775,0.195175,0.180467,0.50,0.266,0.334,0.672999,0.234,0.2,0.625000,...,0.212,0.28,0.44,0.32,0.20,0.31,0.30,0.48,0.410,0.303609
1762,0.799550,0.684211,0.878981,0.80,0.266,0.000,0.157395,0.934,0.2,0.208333,...,0.472,0.00,0.00,0.08,0.12,0.05,0.50,0.12,0.690,0.545648
1763,0.524775,0.342105,0.301486,0.25,0.166,0.600,0.775667,0.366,0.0,0.666667,...,0.364,0.40,0.56,0.48,0.52,0.49,0.45,0.44,0.506,0.394904

In [33]:
print(f"최소 : {tlp_scaled.min()}")
print()
print(f"최대 : {tlp_scaled.max()}")

최소 : Self_Efficacy    0.0
Math_efficacy    0.0
내재조절2            0.0
확인조절2            0.0
부과조절2            0.0
외재조절2            0.0
RAI2             0.0
숙달접근             0.0
수행접근             0.0
수행회피             0.0
숙달회피             0.0
수학흥미             0.0
주의집중             0.0
능동적학습            0.0
총점               0.0
수학학습전략           0.0
인지전략             0.0
메타인지전략           0.0
총전략점수            0.0
정서불안             0.0
인지불안             0.0
관계불안             0.0
일반불안             0.0
총불안              0.0
부모관계긍정           0.0
부모관계부정           0.0
전체관계             0.0
학원의존             0.0
dtype: float64

최대 : Self_Efficacy    1.0
Math_efficacy    1.0
내재조절2            1.0
확인조절2            1.0
부과조절2            1.0
외재조절2            1.0
RAI2             1.0
숙달접근             1.0
수행접근             1.0
수행회피             1.0
숙달회피             1.0
수학흥미             1.0
주의집중             1.0
능동적학습            1.0
총점               1.0
수학학습전략           1.0
인지전략             1.0
메타인지전략           1.0
총전략점수            1.0
정서불안             1.0
인지불안             1.0
관계불안             1.0
일반불안             1.0
총불안              1.0
부모관계긍정           1.0
부모관계부정           1.0
전체관계             1.0
학원의존             1.0
dtype: float64

In [34]:
tlp_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764 entries, 0 to 1763
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Self_Efficacy  336 non-null    float64
 1   Math_efficacy  336 non-null    float64
 2   내재조절2          336 non-null    float64
 3   확인조절2          336 non-null    float64
 4   부과조절2          336 non-null    float64
 5   외재조절2          336 non-null    float64
 6   RAI2           336 non-null    float64
 7   숙달접근           336 non-null    float64
 8   수행접근           336 non-null    float64
 9   수행회피           336 non-null    float64
 10  숙달회피           336 non-null    float64
 11  수학흥미           336 non-null    float64
 12  주의집중           336 non-null    float64
 13  능동적학습          336 non-null    float64
 14  총점             336 non-null    float64
 15  수학학습전략         336 non-null    float64
 16  인지전략           336 non-null    float64
 17  메타인지전략         336 non-null    float64
 18  총전략점수          336 non-null    float64
 19  정서불안           336 non-null    float64
 20  인지불안           336 non-null    float64
 21  관계불안           336 non-null    float64
 22  일반불안           336 non-null    float64
 23  총불안            336 non-null    float64
 24  부모관계긍정         336 non-null    float64
 25  부모관계부정         336 non-null    float64
 26  전체관계           336 non-null    float64
 27  학원의존           336 non-null    float64
dtypes: float64(28)
memory usage: 386.0 KB

# SCA +TLP (TLP 기준)

In [35]:
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,1759,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,3.11,1.8,1.0,1.0,1.4,1.30,3.00,1.6,4.20,1.14
1760,1760,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,4.03,1.2,1.0,1.2,1.4,1.20,3.50,2.8,3.85,3.29
1761,1761,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,2.06,2.4,3.2,2.6,2.0,2.55,2.50,3.4,3.05,2.43
1762,1762,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,3.36,1.0,1.0,1.4,1.6,1.25,3.50,1.6,4.45,3.57
1763,1763,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,2.82,3.0,3.8,3.4,3.6,3.45,3.25,3.2,3.53,2.86

In [36]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section4_score', 'section5_score', 'section6_score', 'section7_score',
       'self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'learning_readiness', 'learning_ability',
       'parent_communication', 'test_anxiety', 'math_anxiety',
       'academy_relies', 'LMS번호', '학년', '과정', 'Self_Efficacy', 'Math_efficacy',
       '내재조절2', '확인조절2', '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피',
       '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략',
       '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정',
       '전체관계', '학원의존'],
      dtype='object')

In [38]:
sca_scaled

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,test_anxiety,parent_communication,academy_relies
0,0.807692,0.888889,1.000000,0.466667,0.270270,0.878049,0.333333
1,0.692308,0.555556,0.933333,0.333333,0.729730,0.829268,0.416667
2,0.807692,0.629630,0.666667,0.466667,0.405405,0.975610,0.194444
3,0.461538,0.333333,0.866667,0.933333,0.540541,0.365854,0.111111
4,0.500000,0.703704,0.600000,0.466667,0.459459,0.536585,0.416667
...,...,...,...,...,...,...,...
1759,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1760,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1761,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1762,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1763,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
tlp_scaled

,Self_Efficacy,Math_efficacy,내재조절2,확인조절2,부과조절2,외재조절2,RAI2,숙달접근,수행접근,수행회피,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,0.500000,0.489035,0.333333,0.50,0.000,0.000,0.397558,0.366,0.0,0.000000,...,0.422,0.16,0.00,0.00,0.08,0.06,0.40,0.12,0.640,0.029724
1760,0.599099,0.438596,0.513800,0.65,0.500,0.400,0.579828,0.566,0.5,0.125000,...,0.606,0.04,0.00,0.04,0.08,0.04,0.50,0.36,0.570,0.486200
1761,0.274775,0.195175,0.180467,0.50,0.266,0.334,0.672999,0.234,0.2,0.625000,...,0.212,0.28,0.44,0.32,0.20,0.31,0.30,0.48,0.410,0.303609
1762,0.799550,0.684211,0.878981,0.80,0.266,0.000,0.157395,0.934,0.2,0.208333,...,0.472,0.00,0.00,0.08,0.12,0.05,0.50,0.12,0.690,0.545648
1763,0.524775,0.342105,0.301486,0.25,0.166,0.600,0.775667,0.366,0.0,0.666667,...,0.364,0.40,0.56,0.48,0.52,0.49,0.45,0.44,0.506,0.394904

In [40]:
sca_scaled.columns

Index(['self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'test_anxiety', 'parent_communication',
       'academy_relies'],
      dtype='object')

In [41]:
tlp_scaled.columns

Index(['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
       'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [ ]:
'''
sca값 널이아니면 그값을 tlp에다가 넣는다 
둘다 있으면 아무것도 안한다
널이면 아무것도 안한다

'''

In [42]:
sca_list = ['self_efficacy', 'math_self_efficacy', 'in_goal_Orientation','out_goal_Orientation', 'test_anxiety', 'parent_communication', 'academy_relies']
tlp_list = ['Self_Efficacy', 'Math_efficacy', '숙달접근', '수행접근', '총불안', '전체관계', '학원의존' ]

for i in range(477):
    for j in range(7):
        if pd.isna(sca_scaled.loc[i, sca_list[j]]) != True:    ## sca 값 있을때
            if pd.isna(tlp_scaled.loc[i, tlp_list[j]]) != True: ## tlp 값도 있으면
                continue  ## 넘어감


            else:         ## sca있고 tlp값은 없으면
                tlp_scaled.loc[i, tlp_list[j]] = sca_scaled.loc[i, sca_list[j]] ## tlp에 sca 값 넣기  


        else:             ## sca 값 없으면
            continue      ## 넘어감


tlp_scaled[['Self_Efficacy', 'Math_efficacy', '숙달접근', '수행접근', '총불안', '전체관계', '학원의존' ]]

,Self_Efficacy,Math_efficacy,숙달접근,수행접근,총불안,전체관계,학원의존
0,0.807692,0.888889,1.000000,0.466667,0.270270,0.878049,0.333333
1,0.692308,0.555556,0.933333,0.333333,0.729730,0.829268,0.416667
2,0.807692,0.629630,0.666667,0.466667,0.405405,0.975610,0.194444
3,0.461538,0.333333,0.866667,0.933333,0.540541,0.365854,0.111111
4,0.500000,0.703704,0.600000,0.466667,0.459459,0.536585,0.416667
...,...,...,...,...,...,...,...
1759,0.500000,0.489035,0.366000,0.000000,0.060000,0.640000,0.029724
1760,0.599099,0.438596,0.566000,0.500000,0.040000,0.570000,0.486200
1761,0.274775,0.195175,0.234000,0.200000,0.310000,0.410000,0.303609
1762,0.799550,0.684211,0.934000,0.200000,0.050000,0.690000,0.545648
1763,0.524775,0.342105,0.366000,0.000000,0.490000,0.506000,0.394904

In [43]:
df[['Self_Efficacy', 'Math_efficacy', '숙달접근', '수행접근', '총불안', '전체관계', '학원의존' ]] = tlp_scaled[['Self_Efficacy', 'Math_efficacy', '숙달접근', '수행접근', '총불안', '전체관계', '학원의존' ]]
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,NaN,NaN,NaN,NaN,0.270270,NaN,NaN,0.878049,0.333333
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,NaN,NaN,NaN,NaN,0.729730,NaN,NaN,0.829268,0.416667
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,NaN,NaN,NaN,NaN,0.405405,NaN,NaN,0.975610,0.194444
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,NaN,NaN,NaN,NaN,0.540541,NaN,NaN,0.365854,0.111111
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,NaN,NaN,NaN,NaN,0.459459,NaN,NaN,0.536585,0.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,1759,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,3.11,1.8,1.0,1.0,1.4,0.060000,3.00,1.6,0.640000,0.029724
1760,1760,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,4.03,1.2,1.0,1.2,1.4,0.040000,3.50,2.8,0.570000,0.486200
1761,1761,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,2.06,2.4,3.2,2.6,2.0,0.310000,2.50,3.4,0.410000,0.303609
1762,1762,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,3.36,1.0,1.0,1.4,1.6,0.050000,3.50,1.6,0.690000,0.545648
1763,1763,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,2.82,3.0,3.8,3.4,3.6,0.490000,3.25,3.2,0.506000,0.394904

# TLP 4개 카테고리로 통합

In [44]:
# tlp_scaled 전체
tlp_scaled

,Self_Efficacy,Math_efficacy,내재조절2,확인조절2,부과조절2,외재조절2,RAI2,숙달접근,수행접근,수행회피,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,0.807692,0.888889,NaN,NaN,NaN,NaN,NaN,1.000000,0.466667,NaN,...,NaN,NaN,NaN,NaN,NaN,0.270270,NaN,NaN,0.878049,0.333333
1,0.692308,0.555556,NaN,NaN,NaN,NaN,NaN,0.933333,0.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,0.729730,NaN,NaN,0.829268,0.416667
2,0.807692,0.629630,NaN,NaN,NaN,NaN,NaN,0.666667,0.466667,NaN,...,NaN,NaN,NaN,NaN,NaN,0.405405,NaN,NaN,0.975610,0.194444
3,0.461538,0.333333,NaN,NaN,NaN,NaN,NaN,0.866667,0.933333,NaN,...,NaN,NaN,NaN,NaN,NaN,0.540541,NaN,NaN,0.365854,0.111111
4,0.500000,0.703704,NaN,NaN,NaN,NaN,NaN,0.600000,0.466667,NaN,...,NaN,NaN,NaN,NaN,NaN,0.459459,NaN,NaN,0.536585,0.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,0.500000,0.489035,0.333333,0.50,0.000,0.000,0.397558,0.366000,0.000000,0.000000,...,0.422,0.16,0.00,0.00,0.08,0.060000,0.40,0.12,0.640000,0.029724
1760,0.599099,0.438596,0.513800,0.65,0.500,0.400,0.579828,0.566000,0.500000,0.125000,...,0.606,0.04,0.00,0.04,0.08,0.040000,0.50,0.36,0.570000,0.486200
1761,0.274775,0.195175,0.180467,0.50,0.266,0.334,0.672999,0.234000,0.200000,0.625000,...,0.212,0.28,0.44,0.32,0.20,0.310000,0.30,0.48,0.410000,0.303609
1762,0.799550,0.684211,0.878981,0.80,0.266,0.000,0.157395,0.934000,0.200000,0.208333,...,0.472,0.00,0.00,0.08,0.12,0.050000,0.50,0.12,0.690000,0.545648
1763,0.524775,0.342105,0.301486,0.25,0.166,0.600,0.775667,0.366000,0.000000,0.666667,...,0.364,0.40,0.56,0.48,0.52,0.490000,0.45,0.44,0.506000,0.394904

# 학습동기

In [45]:
tlp_scaled.columns

Index(['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
       'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [46]:
tlp_motivation = tlp_scaled[['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
       'RAI2', '숙달접근', '수행접근', '수행회피']].mean(axis=1)
tlp_motivation

0       0.790812
1       0.628632
2       0.642664
3       0.648718
4       0.567593
          ...
1759    0.258593
1760    0.487232
1761    0.348242
1762    0.492847
1763    0.399270
Length: 1764, dtype: float64

In [47]:
df['tlp_motivation']=tlp_motivation
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존,tlp_motivation
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,NaN,NaN,NaN,0.270270,NaN,NaN,0.878049,0.333333,0.790812
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,NaN,NaN,NaN,0.729730,NaN,NaN,0.829268,0.416667,0.628632
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,NaN,NaN,NaN,0.405405,NaN,NaN,0.975610,0.194444,0.642664
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,NaN,NaN,NaN,0.540541,NaN,NaN,0.365854,0.111111,0.648718
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,NaN,NaN,NaN,0.459459,NaN,NaN,0.536585,0.416667,0.567593
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,1759,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,1.8,1.0,1.0,1.4,0.060000,3.00,1.6,0.640000,0.029724,0.258593
1760,1760,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,1.2,1.0,1.2,1.4,0.040000,3.50,2.8,0.570000,0.486200,0.487232
1761,1761,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,2.4,3.2,2.6,2.0,0.310000,2.50,3.4,0.410000,0.303609,0.348242
1762,1762,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,1.0,1.0,1.4,1.6,0.050000,3.50,1.6,0.690000,0.545648,0.492847
1763,1763,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,3.0,3.8,3.4,3.6,0.490000,3.25,3.2,0.506000,0.394904,0.399270

# 학습태도

In [48]:
tlp_scaled.columns

Index(['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
       'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [49]:
# sca는 있지만 tlp에 매치되는 항목이 없어서 널값 존재
tlp_attitude = tlp_scaled[['수학흥미', '주의집중', '능동적학습', '총점']].mean(axis=1)
tlp_attitude

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
1759    0.180978
1760    0.818304
1761    0.261587
1762    0.840370
1763    0.185565
Length: 1764, dtype: float64

In [50]:
df['tlp_attitude']=tlp_attitude
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존,tlp_motivation,tlp_attitude
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,NaN,NaN,0.270270,NaN,NaN,0.878049,0.333333,0.790812,NaN
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,NaN,NaN,0.729730,NaN,NaN,0.829268,0.416667,0.628632,NaN
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,NaN,NaN,0.405405,NaN,NaN,0.975610,0.194444,0.642664,NaN
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,NaN,NaN,0.540541,NaN,NaN,0.365854,0.111111,0.648718,NaN
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,NaN,NaN,0.459459,NaN,NaN,0.536585,0.416667,0.567593,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,1759,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,1.0,1.0,1.4,0.060000,3.00,1.6,0.640000,0.029724,0.258593,0.180978
1760,1760,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,1.0,1.2,1.4,0.040000,3.50,2.8,0.570000,0.486200,0.487232,0.818304
1761,1761,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,3.2,2.6,2.0,0.310000,2.50,3.4,0.410000,0.303609,0.348242,0.261587
1762,1762,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,1.0,1.4,1.6,0.050000,3.50,1.6,0.690000,0.545648,0.492847,0.840370
1763,1763,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,3.8,3.4,3.6,0.490000,3.25,3.2,0.506000,0.394904,0.399270,0.185565

# 학습전략

In [51]:
tlp_scaled.columns

Index(['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
       'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [52]:
# sca는 있지만 tlp에 매치되는 항목이 없어서 널값 존재
tlp_strategy = tlp_scaled[[ '수학학습전략', '인지전략', '메타인지전략', '총전략점수']].mean(axis=1)
tlp_strategy

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
1759    0.4220
1760    0.6065
1761    0.2115
1762    0.4715
1763    0.3645
Length: 1764, dtype: float64

In [53]:
df['tlp_strategy']=tlp_strategy
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존,tlp_motivation,tlp_attitude,tlp_strategy
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,NaN,0.270270,NaN,NaN,0.878049,0.333333,0.790812,NaN,NaN
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,NaN,0.729730,NaN,NaN,0.829268,0.416667,0.628632,NaN,NaN
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,NaN,0.405405,NaN,NaN,0.975610,0.194444,0.642664,NaN,NaN
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,NaN,0.540541,NaN,NaN,0.365854,0.111111,0.648718,NaN,NaN
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,NaN,0.459459,NaN,NaN,0.536585,0.416667,0.567593,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,1759,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,1.0,1.4,0.060000,3.00,1.6,0.640000,0.029724,0.258593,0.180978,0.4220
1760,1760,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,1.2,1.4,0.040000,3.50,2.8,0.570000,0.486200,0.487232,0.818304,0.6065
1761,1761,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,2.6,2.0,0.310000,2.50,3.4,0.410000,0.303609,0.348242,0.261587,0.2115
1762,1762,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,1.4,1.6,0.050000,3.50,1.6,0.690000,0.545648,0.492847,0.840370,0.4715
1763,1763,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,3.4,3.6,0.490000,3.25,3.2,0.506000,0.394904,0.399270,0.185565,0.3645

# 학습불안

In [54]:
tlp_scaled.columns

Index(['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
       'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [55]:
tlp_fear = tlp_scaled[['정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존']].mean(axis=1)
tlp_fear

0       0.493884
1       0.658555
2       0.525153
3       0.339168
4       0.470904
          ...
1759    0.165525
1760    0.235133
1761    0.338179
1762    0.233961
1763    0.471212
Length: 1764, dtype: float64

In [56]:
df['tlp_fear']=tlp_fear
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,0.270270,NaN,NaN,0.878049,0.333333,0.790812,NaN,NaN,0.493884
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,0.729730,NaN,NaN,0.829268,0.416667,0.628632,NaN,NaN,0.658555
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,0.405405,NaN,NaN,0.975610,0.194444,0.642664,NaN,NaN,0.525153
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,0.540541,NaN,NaN,0.365854,0.111111,0.648718,NaN,NaN,0.339168
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,0.459459,NaN,NaN,0.536585,0.416667,0.567593,NaN,NaN,0.470904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,1759,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,1.4,0.060000,3.00,1.6,0.640000,0.029724,0.258593,0.180978,0.4220,0.165525
1760,1760,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,1.4,0.040000,3.50,2.8,0.570000,0.486200,0.487232,0.818304,0.6065,0.235133
1761,1761,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,2.0,0.310000,2.50,3.4,0.410000,0.303609,0.348242,0.261587,0.2115,0.338179
1762,1762,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,1.6,0.050000,3.50,1.6,0.690000,0.545648,0.492847,0.840370,0.4715,0.233961
1763,1763,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,3.6,0.490000,3.25,3.2,0.506000,0.394904,0.399270,0.185565,0.3645,0.471212

In [62]:
#df.to_excel('master(sca+tlp)_all.xlsx')

In [59]:
df2=df[['diag_student_id',
        'section3_score','section4_score','section5_score','section6_score', 'section7_score',
        'tlp_motivation', 'tlp_attitude', 'tlp_strategy', 'tlp_fear']]
df2




#-------------------------------------------------------------------------------------------------------
## 이전작업
# df2=df[['diag_student_id', 'student_id', 'Unnamed: 2', 'schoolType',
#        'schoolYear', 'created_date', 'section3_score',
#        'section3_concentration', 'section3_estimated', 'section4_score',
#        'section4_concentration', 'section4_estimated', 'section5_score',
#        'section5_concentration', 'section5_estimated', 'section6_score',
#        'section6_concentration', 'section6_estimated', 'section7_score',
#        'section7_concentration', 'section7_estimated','tlp_motivation',
#        'tlp_attitude', 'tlp_strategy', 'tlp_fear']]

,diag_student_id,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear
0,40,26,16,10,8,2,0.790812,NaN,NaN,0.493884
1,42,13,26,17,2,0,0.628632,NaN,NaN,0.658555
2,46,45,23,8,0,0,0.642664,NaN,NaN,0.525153
3,47,74,74,42,25,0,0.648718,NaN,NaN,0.339168
4,49,77,42,50,6,0,0.567593,NaN,NaN,0.470904
...,...,...,...,...,...,...,...,...,...,...
1759,9569,77,40,24,8,0,0.258593,0.180978,0.4220,0.165525
1760,9633,27,5,12,0,0,0.487232,0.818304,0.6065,0.235133
1761,9688,52,44,25,10,0,0.348242,0.261587,0.2115,0.338179
1762,9770,30,34,18,7,11,0.492847,0.840370,0.4715,0.233961
1763,9814,66,27,14,2,4,0.399270,0.185565,0.3645,0.471212

In [60]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section4_score', 'section5_score', 'section6_score', 'section7_score',
       'self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'learning_readiness', 'learning_ability',
       'parent_communication', 'test_anxiety', 'math_anxiety',
       'academy_relies', 'LMS번호', '학년', '과정', 'Self_Efficacy', 'Math_efficacy',
       '내재조절2', '확인조절2', '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피',
       '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략',
       '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정',
       '전체관계', '학원의존', 'tlp_motivation', 'tlp_attitude', 'tlp_strategy',
       'tlp_fear'],
      dtype='object')

In [61]:
df2.to_excel('master(sca+tlp)_main_category.xlsx')