In [1]:
import pandas as pd
import numpy as np

import warnings 
warnings.filterwarnings('ignore')

In [2]:
## 작업폴더 설정
#학교
# folder = "C:/Users/Juhyung/OneDrive - 연세대학교 (Yonsei University)/1 able택/2 작업일지/221114/"

#집
folder ="C:/Users/wl/Desktop/◆◆◆원 드라이브◆◆◆/OneDrive - 연세대학교 (Yonsei University)/1 able택/2 작업일지/221122, 221123/"

In [3]:
df=pd.read_csv(folder + "master(id_adtm_sca_tlp_result).csv", encoding="CP949")
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section3_condition,section3_concentration,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,4,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,4,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,1897,9569,NaN,NaN,NaN,NaN,NaN,77,4,3,...,3.11,1.8,1.0,1.0,1.4,1.30,3.00,1.6,4.20,1.14
1898,1898,9633,NaN,NaN,NaN,NaN,NaN,27,0,0,...,4.03,1.2,1.0,1.2,1.4,1.20,3.50,2.8,3.85,3.29
1899,1899,9688,NaN,NaN,NaN,NaN,NaN,52,3,1,...,2.06,2.4,3.2,2.6,2.0,2.55,2.50,3.4,3.05,2.43
1900,1900,9770,NaN,NaN,NaN,NaN,NaN,30,2,3,...,3.36,1.0,1.0,1.4,1.6,1.25,3.50,1.6,4.45,3.57
1901,1901,9814,NaN,NaN,NaN,NaN,NaN,66,3,4,...,2.82,3.0,3.8,3.4,3.6,3.45,3.25,3.2,3.53,2.86

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1902 entries, 0 to 1901
Data columns (total 68 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1902 non-null   int64
 1   diag_student_id         1902 non-null   int64
 2   student_id              471 non-null    float64
 3   Unnamed: 2              471 non-null    object
 4   schoolType              471 non-null    object
 5   schoolYear              471 non-null    float64
 6   created_date            471 non-null    object
 7   section3_score          1902 non-null   int64
 8   section3_condition      1902 non-null   int64
 9   section3_concentration  1902 non-null   int64
 10  section3_estimated      1902 non-null   int64
 11  section4_score          1902 non-null   int64
 12  section4_condition      1902 non-null   int64
 13  section4_concentration  1902 non-null   int64
 14  section4_estimated      1902 non-null   int64
 15  section5_score          1902 non-null   int64
 16  section5_condition      1902 non-null   int64
 17  section5_concentration  1902 non-null   int64
 18  section5_estimated      1902 non-null   int64
 19  section6_score          1902 non-null   int64
 20  section6_condition      1902 non-null   int64
 21  section6_concentration  1902 non-null   int64
 22  section6_estimated      1902 non-null   int64
 23  section7_score          1902 non-null   int64
 24  section7_condition      1902 non-null   int64
 25  section7_concentration  1902 non-null   int64
 26  section7_estimated      1902 non-null   int64
 27  self_efficacy           1537 non-null   float64
 28  math_self_efficacy      1537 non-null   float64
 29  in_goal_Orientation     1537 non-null   float64
 30  out_goal_Orientation    1537 non-null   float64
 31  learning_readiness      1537 non-null   float64
 32  learning_ability        1537 non-null   float64
 33  parent_communication    1537 non-null   float64
 34  test_anxiety            1537 non-null   float64
 35  math_anxiety            1537 non-null   float64
 36  academy_relies          1537 non-null   float64
 37  LMS번호                   372 non-null    float64
 38  학년                      372 non-null    float64
 39  과정                      372 non-null    float64
 40  Self_Efficacy           372 non-null    float64
 41  Math_efficacy           372 non-null    float64
 42  내재조절2                   372 non-null    float64
 43  확인조절2                   372 non-null    float64
 44  부과조절2                   372 non-null    float64
 45  외재조절2                   372 non-null    float64
 46  RAI2                    372 non-null    float64
 47  숙달접근                    372 non-null    float64
 48  수행접근                    372 non-null    float64
 49  수행회피                    372 non-null    float64
 50  숙달회피                    372 non-null    float64
 51  수학흥미                    372 non-null    float64
 52  주의집중                    372 non-null    float64
 53  능동적학습                   372 non-null    float64
 54  총점                      372 non-null    float64
 55  수학학습전략                  372 non-null    float64
 56  인지전략                    372 non-null    float64
 57  메타인지전략                  372 non-null    float64
 58  총전략점수                   372 non-null    float64
 59  정서불안                    372 non-null    float64
 60  인지불안                    372 non-null    float64
 61  관계불안                    372 non-null    float64
 62  일반불안                    372 non-null    float64
 63  총불안                     372 non-null    float64
 64  부모관계긍정                  372 non-null    float64
 65  부모관계부정                  372 non-null    float64
 66  전체관계                    372 non-null    float64
 67  학원의존                    372 non-null    float64
dtypes: float64(43), int64(22), object(3)
memory usage: 1010.6+ KB

In [5]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section3_condition', 'section3_concentration', 'section3_estimated',
       'section4_score', 'section4_condition', 'section4_concentration',
       'section4_estimated', 'section5_score', 'section5_condition',
       'section5_concentration', 'section5_estimated', 'section6_score',
       'section6_condition', 'section6_concentration', 'section6_estimated',
       'section7_score', 'section7_condition', 'section7_concentration',
       'section7_estimated', 'self_efficacy', 'math_self_efficacy',
       'in_goal_Orientation', 'out_goal_Orientation', 'learning_readiness',
       'learning_ability', 'parent_communication', 'test_anxiety',
       'math_anxiety', 'academy_relies', 'LMS번호', '학년', '과정', 'Self_Efficacy',
       'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2', 'RAI2', '숙달접근',
       '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략',
       '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정',
       '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

# SCA

In [6]:
# sca 컬럼 가져오기
df2=df[['self_efficacy','math_self_efficacy', 'in_goal_Orientation', 'out_goal_Orientation', 
        'test_anxiety', 'parent_communication','academy_relies' ]]
df2

# 'learning_readiness','learning_ability', 'math_anxiety'는 tlp에 매칭되지 않아 가져오지 않음

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,test_anxiety,parent_communication,academy_relies
0,22.0,24.0,15.0,7.0,16.0,37.0,12.0
1,19.0,15.0,14.0,5.0,33.0,35.0,15.0
2,22.0,17.0,10.0,7.0,21.0,41.0,7.0
3,13.0,9.0,13.0,14.0,26.0,16.0,4.0
4,14.0,19.0,9.0,7.0,23.0,23.0,15.0
...,...,...,...,...,...,...,...
1897,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1898,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1899,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df2.describe()

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,test_anxiety,parent_communication,academy_relies
count,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000
mean,18.605725,17.810020,9.913468,7.070267,19.728042,28.918673,13.155498
std,4.448861,4.580908,2.849010,3.155106,7.271892,7.723191,5.580252
min,1.000000,0.000000,0.000000,0.000000,6.000000,1.000000,0.000000
25%,16.000000,15.000000,8.000000,5.000000,14.000000,24.000000,10.000000
50%,19.000000,18.000000,10.000000,7.000000,20.000000,29.000000,13.000000
75%,22.000000,21.000000,12.000000,9.000000,25.000000,35.000000,17.000000
max,27.000000,27.000000,15.000000,15.000000,43.000000,42.000000,36.000000

In [8]:
from sklearn.preprocessing import  MinMaxScaler

scaler = MinMaxScaler()
sca_scaled = scaler.fit_transform(df2)
sca_scaled = pd.DataFrame(sca_scaled, columns = ['self_efficacy','math_self_efficacy', 'in_goal_Orientation', 'out_goal_Orientation',
                         'test_anxiety', 'parent_communication','academy_relies'] )
sca_scaled

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,test_anxiety,parent_communication,academy_relies
0,0.807692,0.888889,1.000000,0.466667,0.270270,0.878049,0.333333
1,0.692308,0.555556,0.933333,0.333333,0.729730,0.829268,0.416667
2,0.807692,0.629630,0.666667,0.466667,0.405405,0.975610,0.194444
3,0.461538,0.333333,0.866667,0.933333,0.540541,0.365854,0.111111
4,0.500000,0.703704,0.600000,0.466667,0.459459,0.536585,0.416667
...,...,...,...,...,...,...,...
1897,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1898,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1899,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print(f"<최소값> \n{sca_scaled.min()}")
print()
print(f"<최대값> \n{sca_scaled.max()}")

<최소값>
self_efficacy           0.0
math_self_efficacy      0.0
in_goal_Orientation     0.0
out_goal_Orientation    0.0
test_anxiety            0.0
parent_communication    0.0
academy_relies          0.0
dtype: float64

<최대값>
self_efficacy           1.0
math_self_efficacy      1.0
in_goal_Orientation     1.0
out_goal_Orientation    1.0
test_anxiety            1.0
parent_communication    1.0
academy_relies          1.0
dtype: float64

In [10]:
# 학생별 sca 점수 없는 사람 존재
sca_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1902 entries, 0 to 1901
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   self_efficacy         1537 non-null   float64
 1   math_self_efficacy    1537 non-null   float64
 2   in_goal_Orientation   1537 non-null   float64
 3   out_goal_Orientation  1537 non-null   float64
 4   test_anxiety          1537 non-null   float64
 5   parent_communication  1537 non-null   float64
 6   academy_relies        1537 non-null   float64
dtypes: float64(7)
memory usage: 104.1 KB

In [11]:
df[['self_efficacy','math_self_efficacy', 'in_goal_Orientation', 'out_goal_Orientation',
                         'test_anxiety', 'parent_communication','academy_relies']]=sca_scaled[[
    'self_efficacy','math_self_efficacy', 'in_goal_Orientation', 'out_goal_Orientation',
                         'test_anxiety', 'parent_communication','academy_relies']]

df[['self_efficacy','math_self_efficacy', 'in_goal_Orientation', 'out_goal_Orientation',
                         'test_anxiety', 'parent_communication','academy_relies']]

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,test_anxiety,parent_communication,academy_relies
0,0.807692,0.888889,1.000000,0.466667,0.270270,0.878049,0.333333
1,0.692308,0.555556,0.933333,0.333333,0.729730,0.829268,0.416667
2,0.807692,0.629630,0.666667,0.466667,0.405405,0.975610,0.194444
3,0.461538,0.333333,0.866667,0.933333,0.540541,0.365854,0.111111
4,0.500000,0.703704,0.600000,0.466667,0.459459,0.536585,0.416667
...,...,...,...,...,...,...,...
1897,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1898,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1899,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# TLP

In [12]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section3_condition', 'section3_concentration', 'section3_estimated',
       'section4_score', 'section4_condition', 'section4_concentration',
       'section4_estimated', 'section5_score', 'section5_condition',
       'section5_concentration', 'section5_estimated', 'section6_score',
       'section6_condition', 'section6_concentration', 'section6_estimated',
       'section7_score', 'section7_condition', 'section7_concentration',
       'section7_estimated', 'self_efficacy', 'math_self_efficacy',
       'in_goal_Orientation', 'out_goal_Orientation', 'learning_readiness',
       'learning_ability', 'parent_communication', 'test_anxiety',
       'math_anxiety', 'academy_relies', 'LMS번호', '학년', '과정', 'Self_Efficacy',
       'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2', 'RAI2', '숙달접근',
       '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략',
       '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정',
       '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [13]:
# tlp 컬럼 가져오기
df3=df[['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
         'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존']]

In [14]:
df3.describe()

,Self_Efficacy,Math_efficacy,내재조절2,확인조절2,부과조절2,외재조절2,RAI2,숙달접근,수행접근,수행회피,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
count,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,...,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000
mean,4.302016,4.215968,4.109194,4.635081,3.097392,2.065457,-5.625134,4.140995,2.851478,2.445161,...,3.837392,2.347849,2.858602,2.291398,2.422581,2.480108,4.099462,2.590860,4.256586,2.795484
std,0.777508,0.888187,1.023970,0.936710,1.080510,1.099513,4.026461,1.042479,1.174736,1.117999,...,0.822514,1.262424,1.317396,1.077599,1.250391,1.067516,1.186963,1.072379,0.992996,0.882469
min,1.560000,1.440000,1.290000,1.000000,1.000000,1.000000,-15.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.670000,3.560000,3.430000,4.000000,2.330000,1.000000,-8.390000,3.500000,2.000000,1.550000,...,3.310000,1.200000,1.800000,1.400000,1.400000,1.637500,3.437500,1.800000,3.680000,2.140000
50%,4.330000,4.330000,4.140000,4.750000,3.170000,2.000000,-5.870000,4.170000,2.750000,2.400000,...,3.785000,2.000000,2.800000,2.200000,2.200000,2.300000,4.250000,2.600000,4.230000,2.785000
75%,4.890000,4.890000,4.860000,5.250000,3.830000,2.670000,-3.092500,4.872500,3.750000,3.200000,...,4.332500,3.000000,3.800000,2.850000,3.200000,3.150000,5.000000,3.400000,5.050000,3.430000
max,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,7.110000,6.000000,6.000000,5.800000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.710000

In [16]:
scaler = MinMaxScaler()
tlp_scaled=scaler.fit_transform(df3)
tlp_scaled = pd.DataFrame(tlp_scaled, columns = ['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
         'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'] )
tlp_scaled

,Self_Efficacy,Math_efficacy,내재조절2,확인조절2,부과조절2,외재조절2,RAI2,숙달접근,수행접근,수행회피,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,0.500000,0.489035,0.333333,0.50,0.000,0.000,0.397558,0.366,0.0,0.000000,...,0.422,0.16,0.00,0.00,0.08,0.06,0.40,0.12,0.640,0.029724
1898,0.599099,0.438596,0.513800,0.65,0.500,0.400,0.579828,0.566,0.5,0.125000,...,0.606,0.04,0.00,0.04,0.08,0.04,0.50,0.36,0.570,0.486200
1899,0.274775,0.195175,0.180467,0.50,0.266,0.334,0.672999,0.234,0.2,0.625000,...,0.212,0.28,0.44,0.32,0.20,0.31,0.30,0.48,0.410,0.303609
1900,0.799550,0.684211,0.878981,0.80,0.266,0.000,0.157395,0.934,0.2,0.208333,...,0.472,0.00,0.00,0.08,0.12,0.05,0.50,0.12,0.690,0.545648
1901,0.524775,0.342105,0.301486,0.25,0.166,0.600,0.775667,0.366,0.0,0.666667,...,0.364,0.40,0.56,0.48,0.52,0.49,0.45,0.44,0.506,0.394904

In [17]:
print(f"<최소값> \n{tlp_scaled.min()}")
print()
print(f"<최소값> \n{tlp_scaled.max()}")

<최소값>
Self_Efficacy    0.0
Math_efficacy    0.0
내재조절2            0.0
확인조절2            0.0
부과조절2            0.0
외재조절2            0.0
RAI2             0.0
숙달접근             0.0
수행접근             0.0
수행회피             0.0
숙달회피             0.0
수학흥미             0.0
주의집중             0.0
능동적학습            0.0
총점               0.0
수학학습전략           0.0
인지전략             0.0
메타인지전략           0.0
총전략점수            0.0
정서불안             0.0
인지불안             0.0
관계불안             0.0
일반불안             0.0
총불안              0.0
부모관계긍정           0.0
부모관계부정           0.0
전체관계             0.0
학원의존             0.0
dtype: float64

<최소값>
Self_Efficacy    1.0
Math_efficacy    1.0
내재조절2            1.0
확인조절2            1.0
부과조절2            1.0
외재조절2            1.0
RAI2             1.0
숙달접근             1.0
수행접근             1.0
수행회피             1.0
숙달회피             1.0
수학흥미             1.0
주의집중             1.0
능동적학습            1.0
총점               1.0
수학학습전략           1.0
인지전략             1.0
메타인지전략           1.0
총전략점수            1.0
정서불안             1.0
인지불안             1.0
관계불안             1.0
일반불안             1.0
총불안              1.0
부모관계긍정           1.0
부모관계부정           1.0
전체관계             1.0
학원의존             1.0
dtype: float64

In [18]:
# 학생별 tlp 점수 없는 사람 존재
tlp_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1902 entries, 0 to 1901
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Self_Efficacy  372 non-null    float64
 1   Math_efficacy  372 non-null    float64
 2   내재조절2          372 non-null    float64
 3   확인조절2          372 non-null    float64
 4   부과조절2          372 non-null    float64
 5   외재조절2          372 non-null    float64
 6   RAI2           372 non-null    float64
 7   숙달접근           372 non-null    float64
 8   수행접근           372 non-null    float64
 9   수행회피           372 non-null    float64
 10  숙달회피           372 non-null    float64
 11  수학흥미           372 non-null    float64
 12  주의집중           372 non-null    float64
 13  능동적학습          372 non-null    float64
 14  총점             372 non-null    float64
 15  수학학습전략         372 non-null    float64
 16  인지전략           372 non-null    float64
 17  메타인지전략         372 non-null    float64
 18  총전략점수          372 non-null    float64
 19  정서불안           372 non-null    float64
 20  인지불안           372 non-null    float64
 21  관계불안           372 non-null    float64
 22  일반불안           372 non-null    float64
 23  총불안            372 non-null    float64
 24  부모관계긍정         372 non-null    float64
 25  부모관계부정         372 non-null    float64
 26  전체관계           372 non-null    float64
 27  학원의존           372 non-null    float64
dtypes: float64(28)
memory usage: 416.2 KB

In [19]:
df[['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
         'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존']]=tlp_scaled[[
    'Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
         'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존']]

df[['Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2',
         'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점',
       '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안',
       '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존']]

,Self_Efficacy,Math_efficacy,내재조절2,확인조절2,부과조절2,외재조절2,RAI2,숙달접근,수행접근,수행회피,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,0.500000,0.489035,0.333333,0.50,0.000,0.000,0.397558,0.366,0.0,0.000000,...,0.422,0.16,0.00,0.00,0.08,0.06,0.40,0.12,0.640,0.029724
1898,0.599099,0.438596,0.513800,0.65,0.500,0.400,0.579828,0.566,0.5,0.125000,...,0.606,0.04,0.00,0.04,0.08,0.04,0.50,0.36,0.570,0.486200
1899,0.274775,0.195175,0.180467,0.50,0.266,0.334,0.672999,0.234,0.2,0.625000,...,0.212,0.28,0.44,0.32,0.20,0.31,0.30,0.48,0.410,0.303609
1900,0.799550,0.684211,0.878981,0.80,0.266,0.000,0.157395,0.934,0.2,0.208333,...,0.472,0.00,0.00,0.08,0.12,0.05,0.50,0.12,0.690,0.545648
1901,0.524775,0.342105,0.301486,0.25,0.166,0.600,0.775667,0.366,0.0,0.666667,...,0.364,0.40,0.56,0.48,0.52,0.49,0.45,0.44,0.506,0.394904

In [20]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section3_condition', 'section3_concentration', 'section3_estimated',
       'section4_score', 'section4_condition', 'section4_concentration',
       'section4_estimated', 'section5_score', 'section5_condition',
       'section5_concentration', 'section5_estimated', 'section6_score',
       'section6_condition', 'section6_concentration', 'section6_estimated',
       'section7_score', 'section7_condition', 'section7_concentration',
       'section7_estimated', 'self_efficacy', 'math_self_efficacy',
       'in_goal_Orientation', 'out_goal_Orientation', 'learning_readiness',
       'learning_ability', 'parent_communication', 'test_anxiety',
       'math_anxiety', 'academy_relies', 'LMS번호', '학년', '과정', 'Self_Efficacy',
       'Math_efficacy', '내재조절2', '확인조절2', '부과조절2', '외재조절2', 'RAI2', '숙달접근',
       '수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략',
       '메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정',
       '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [21]:
# sca, tlp 스케일링값 확인
df[['self_efficacy', 'math_self_efficacy','in_goal_Orientation', 'out_goal_Orientation',  'parent_communication', # sca
    'test_anxiety', 'academy_relies', 
    
    'Self_Efficacy','Math_efficacy', '내재조절2', '확인조절2', '부과조절2',                                       # tlp
    '외재조절2', 'RAI2', '숙달접근','수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', 
    '총점', '수학학습전략', '인지전략','메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', 
    '일반불안', '총불안', '부모관계긍정','부모관계부정', '전체관계', '학원의존']].describe()

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,parent_communication,test_anxiety,academy_relies,Self_Efficacy,Math_efficacy,내재조절2,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
count,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,372.000000,372.000000,372.000000,...,372.000000,372.000000,372.000000,372.00000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000
mean,0.677143,0.659630,0.660898,0.471351,0.680943,0.371028,0.365430,0.617571,0.608765,0.598555,...,0.567478,0.269570,0.371720,0.25828,0.284516,0.296022,0.619892,0.318172,0.651317,0.381207
std,0.171110,0.169663,0.189934,0.210340,0.188371,0.196538,0.155007,0.175114,0.194778,0.217403,...,0.164503,0.252485,0.263479,0.21552,0.250078,0.213503,0.237393,0.214476,0.198599,0.187361
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.576923,0.555556,0.533333,0.333333,0.560976,0.216216,0.277778,0.475225,0.464912,0.454352,...,0.462000,0.040000,0.160000,0.08000,0.080000,0.127500,0.487500,0.160000,0.536000,0.242038
50%,0.692308,0.666667,0.666667,0.466667,0.682927,0.378378,0.361111,0.623874,0.633772,0.605096,...,0.557000,0.200000,0.360000,0.24000,0.240000,0.260000,0.650000,0.320000,0.646000,0.378981
75%,0.807692,0.777778,0.800000,0.600000,0.829268,0.513514,0.472222,0.750000,0.756579,0.757962,...,0.666500,0.400000,0.560000,0.37000,0.440000,0.430000,0.800000,0.480000,0.810000,0.515924
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [30]:
# 전체 데이터 확인
   df[['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2','schoolType', 'schoolYear', 'created_date',        # /// id,


   'section3_score', 'section4_score', 'section5_score', 'section6_score', 'section7_score',                      # ///  adtm


   'self_efficacy', 'math_self_efficacy','in_goal_Orientation', 'out_goal_Orientation',  'parent_communication',  # /// sca
   'test_anxiety', 'academy_relies', 

   'Self_Efficacy','Math_efficacy', '내재조절2', '확인조절2', '부과조절2',                                        # /// tlp
   '외재조절2', 'RAI2', '숙달접근','수행접근', '수행회피', '숙달회피', '수학흥미', '주의집중', '능동적학습', 
   '총점', '수학학습전략', '인지전략','메타인지전략', '총전략점수', '정서불안', '인지불안', '관계불안', 
   '일반불안', '총불안', '부모관계긍정','부모관계부정', '전체관계', '학원의존']]

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,1897,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,0.422,0.16,0.00,0.00,0.08,0.06,0.40,0.12,0.640,0.029724
1898,1898,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,0.606,0.04,0.00,0.04,0.08,0.04,0.50,0.36,0.570,0.486200
1899,1899,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,0.212,0.28,0.44,0.32,0.20,0.31,0.30,0.48,0.410,0.303609
1900,1900,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,0.472,0.00,0.00,0.08,0.12,0.05,0.50,0.12,0.690,0.545648
1901,1901,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,0.364,0.40,0.56,0.48,0.52,0.49,0.45,0.44,0.506,0.394904

# SCA +TLP (TLP 기준)

In [31]:
df[['Self_Efficacy', 'Math_efficacy', '숙달접근', '수행접근', '총불안', '전체관계', '학원의존' ]]

      Self_Efficacy  Math_efficacy   숙달접근  수행접근   총불안   전체관계      학원의존
0               NaN            NaN    NaN   NaN   NaN    NaN       NaN
1               NaN            NaN    NaN   NaN   NaN    NaN       NaN
2               NaN            NaN    NaN   NaN   NaN    NaN       NaN
3               NaN            NaN    NaN   NaN   NaN    NaN       NaN
4               NaN            NaN    NaN   NaN   NaN    NaN       NaN
...             ...            ...    ...   ...   ...    ...       ...
1897       0.500000       0.489035  0.366   0.0  0.06  0.640  0.029724
1898       0.599099       0.438596  0.566   0.5  0.04  0.570  0.486200
1899       0.274775       0.195175  0.234   0.2  0.31  0.410  0.303609
1900       0.799550       0.684211  0.934   0.2  0.05  0.690  0.545648
1901       0.524775       0.342105  0.366   0.0  0.49  0.506  0.394904

[1902 rows x 7 columns]

In [32]:
'''
<for문>
-둘다 있으면 아무것도 안한다
-sca값 널이아니면 그값을 tlp에다가 넣는다 
-sca널이면 아무것도 안한다
'''

'\n<for문>\n-둘다 있으면 아무것도 안한다\n-sca값 널이아니면 그값을 tlp에다가 넣는다 \n-sca널이면 아무것도 안한다\n'

In [33]:
# 221123 수정
sca_list = ['self_efficacy', 'math_self_efficacy', 'in_goal_Orientation','out_goal_Orientation', 'test_anxiety', 'parent_communication', 'academy_relies']
tlp_list = ['Self_Efficacy', 'Math_efficacy', '숙달접근', '수행접근', '총불안', '전체관계', '학원의존' ]

for i in range(1902):
    for j in range(7):
        if pd.isna(df.loc[i, sca_list[j]]) != True:            ## sca 값 있을때
            if pd.isna(df.loc[i, tlp_list[j]]) != True:        ## tlp 값도 있으면
                continue    ## 넘어감


            else:           ## sca있고 tlp값은 없으면
                df.loc[i, tlp_list[j]] = df.loc[i, sca_list[j]] ## tlp에 sca 값 넣기  


        else:              ## sca 값 없으면
            continue      ## 넘어감


df[['Self_Efficacy', 'Math_efficacy', '숙달접근', '수행접근', '총불안', '전체관계', '학원의존' ]]

,Self_Efficacy,Math_efficacy,숙달접근,수행접근,총불안,전체관계,학원의존
0,0.807692,0.888889,1.000000,0.466667,0.270270,0.878049,0.333333
1,0.692308,0.555556,0.933333,0.333333,0.729730,0.829268,0.416667
2,0.807692,0.629630,0.666667,0.466667,0.405405,0.975610,0.194444
3,0.461538,0.333333,0.866667,0.933333,0.540541,0.365854,0.111111
4,0.500000,0.703704,0.600000,0.466667,0.459459,0.536585,0.416667
...,...,...,...,...,...,...,...
1897,0.500000,0.489035,0.366000,0.000000,0.060000,0.640000,0.029724
1898,0.599099,0.438596,0.566000,0.500000,0.040000,0.570000,0.486200
1899,0.274775,0.195175,0.234000,0.200000,0.310000,0.410000,0.303609
1900,0.799550,0.684211,0.934000,0.200000,0.050000,0.690000,0.545648
1901,0.524775,0.342105,0.366000,0.000000,0.490000,0.506000,0.394904

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1902 entries, 0 to 1901
Data columns (total 47 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            1902 non-null   int64
 1   diag_student_id       1902 non-null   int64
 2   student_id            471 non-null    float64
 3   Unnamed: 2            471 non-null    object
 4   schoolType            471 non-null    object
 5   schoolYear            471 non-null    float64
 6   created_date          471 non-null    object
 7   section3_score        1902 non-null   int64
 8   section4_score        1902 non-null   int64
 9   section5_score        1902 non-null   int64
 10  section6_score        1902 non-null   int64
 11  section7_score        1902 non-null   int64
 12  self_efficacy         1537 non-null   float64
 13  math_self_efficacy    1537 non-null   float64
 14  in_goal_Orientation   1537 non-null   float64
 15  out_goal_Orientation  1537 non-null   float64
 16  parent_communication  1537 non-null   float64
 17  test_anxiety          1537 non-null   float64
 18  academy_relies        1537 non-null   float64
 19  Self_Efficacy         1902 non-null   float64
 20  Math_efficacy         1902 non-null   float64
 21  내재조절2                 372 non-null    float64
 22  확인조절2                 372 non-null    float64
 23  부과조절2                 372 non-null    float64
 24  외재조절2                 372 non-null    float64
 25  RAI2                  372 non-null    float64
 26  숙달접근                  1902 non-null   float64
 27  수행접근                  1902 non-null   float64
 28  수행회피                  372 non-null    float64
 29  숙달회피                  372 non-null    float64
 30  수학흥미                  372 non-null    float64
 31  주의집중                  372 non-null    float64
 32  능동적학습                 372 non-null    float64
 33  총점                    372 non-null    float64
 34  수학학습전략                372 non-null    float64
 35  인지전략                  372 non-null    float64
 36  메타인지전략                372 non-null    float64
 37  총전략점수                 372 non-null    float64
 38  정서불안                  372 non-null    float64
 39  인지불안                  372 non-null    float64
 40  관계불안                  372 non-null    float64
 41  일반불안                  372 non-null    float64
 42  총불안                   1902 non-null   float64
 43  부모관계긍정                372 non-null    float64
 44  부모관계부정                372 non-null    float64
 45  전체관계                  1902 non-null   float64
 46  학원의존                  1902 non-null   float64
dtypes: float64(37), int64(7), object(3)
memory usage: 698.5+ KB

In [35]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section4_score', 'section5_score', 'section6_score', 'section7_score',
       'self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'parent_communication', 'test_anxiety',
       'academy_relies', 'Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2',
       '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미',
       '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안',
       '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [37]:
# sxa, tlp 항목 확인
df[['self_efficacy', 'math_self_efficacy', 'in_goal_Orientation','out_goal_Orientation', 'parent_communication', 
    'test_anxiety','academy_relies', 
    
    'Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2',
       '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미',
       '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안',
       '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존']].describe()

,self_efficacy,math_self_efficacy,in_goal_Orientation,out_goal_Orientation,parent_communication,test_anxiety,academy_relies,Self_Efficacy,Math_efficacy,내재조절2,...,총전략점수,정서불안,인지불안,관계불안,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존
count,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1902.000000,1902.000000,372.000000,...,372.000000,372.000000,372.000000,372.00000,372.000000,1902.000000,372.000000,372.000000,1902.000000,1902.000000
mean,0.677143,0.659630,0.660898,0.471351,0.680943,0.371028,0.365430,0.665355,0.649617,0.598555,...,0.567478,0.269570,0.371720,0.25828,0.284516,0.356331,0.619892,0.318172,0.674654,0.368707
std,0.171110,0.169663,0.189934,0.210340,0.188371,0.196538,0.155007,0.173306,0.175761,0.217403,...,0.164503,0.252485,0.263479,0.21552,0.250078,0.201453,0.237393,0.214476,0.190633,0.161770
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.576923,0.555556,0.533333,0.333333,0.560976,0.216216,0.277778,0.538462,0.518519,0.454352,...,0.462000,0.040000,0.160000,0.08000,0.080000,0.189189,0.487500,0.160000,0.560976,0.250000
50%,0.692308,0.666667,0.666667,0.466667,0.682927,0.378378,0.361111,0.653846,0.666667,0.605096,...,0.557000,0.200000,0.360000,0.24000,0.240000,0.351351,0.650000,0.320000,0.663000,0.363057
75%,0.807692,0.777778,0.800000,0.600000,0.829268,0.513514,0.472222,0.807692,0.777778,0.757962,...,0.666500,0.400000,0.560000,0.37000,0.440000,0.510000,0.800000,0.480000,0.829268,0.472222
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# TLP 4개 카테고리로 통합

# 학습동기

In [38]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section4_score', 'section5_score', 'section6_score', 'section7_score',
       'self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'parent_communication', 'test_anxiety',
       'academy_relies', 'Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2',
       '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미',
       '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안',
       '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존'],
      dtype='object')

In [39]:
df[['Self_Efficacy', 'Math_efficacy', '확인조절2', '부과조절2', '외재조절2',
       '숙달접근', '수행접근']]

      Self_Efficacy  Math_efficacy  확인조절2  부과조절2  외재조절2      숙달접근      수행접근
0          0.807692       0.888889    NaN    NaN    NaN  1.000000  0.466667
1          0.692308       0.555556    NaN    NaN    NaN  0.933333  0.333333
2          0.807692       0.629630    NaN    NaN    NaN  0.666667  0.466667
3          0.461538       0.333333    NaN    NaN    NaN  0.866667  0.933333
4          0.500000       0.703704    NaN    NaN    NaN  0.600000  0.466667
...             ...            ...    ...    ...    ...       ...       ...
1897       0.500000       0.489035   0.50  0.000  0.000  0.366000  0.000000
1898       0.599099       0.438596   0.65  0.500  0.400  0.566000  0.500000
1899       0.274775       0.195175   0.50  0.266  0.334  0.234000  0.200000
1900       0.799550       0.684211   0.80  0.266  0.000  0.934000  0.200000
1901       0.524775       0.342105   0.25  0.166  0.600  0.366000  0.000000

[1902 rows x 7 columns]

In [42]:

# 학습동기 항목 점수 평균

# RAI2는 tlp_motivation의 다른 항목들로 계산되는 값으로 제외
# '내제조절2은 숙달접근과 같고, tlp 숙달접근으로 결합가능한 sca의 in_goal_Orientation 값이 있으므로 내제조절2는 제외
# 수행회피, 숙달회피는 척도(1~6)상 반대값이고, 수행접근, 숙달접근값 있으므로 수행회피, 숙달회피는 평균 계산시 제외


df['tlp_motivation'] = df[['Self_Efficacy', 'Math_efficacy', '확인조절2', '부과조절2', '외재조절2',
       '숙달접근', '수행접근']].mean(axis=1)
df['tlp_motivation']

0       0.790812
1       0.628632
2       0.642664
3       0.648718
4       0.567593
          ...
1897    0.265005
1898    0.521957
1899    0.286279
1900    0.526251
1901    0.321269
Name: tlp_motivation, Length: 1902, dtype: float64

In [ ]:
df.columns

In [44]:
sum(df['tlp_motivation'].isna())

0

In [45]:
df['tlp_motivation'].describe()

count    1902.000000
mean        0.596814
std         0.132071
min         0.150000
25%         0.513889
50%         0.591987
75%         0.687001
max         0.992921
Name: tlp_motivation, dtype: float64

# 학습태도

In [46]:
# sca는 있지만 tlp에 매치되는 항목이 없어서 tlp값에 널값 존재
df['tlp_attitude'] = df[['수학흥미', '주의집중', '능동적학습']].mean(axis=1)
df['tlp_attitude']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
1897    0.183333
1898    0.819333
1899    0.264000
1900    0.839333
1901    0.188000
Name: tlp_attitude, Length: 1902, dtype: float64

In [47]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section4_score', 'section5_score', 'section6_score', 'section7_score',
       'self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'parent_communication', 'test_anxiety',
       'academy_relies', 'Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2',
       '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미',
       '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안',
       '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존',
       'tlp_motivation', 'tlp_attitude'],
      dtype='object')

In [48]:
df['tlp_attitude'].describe()

count    372.000000
mean       0.515518
std        0.190526
min        0.016667
25%        0.397000
50%        0.520000
75%        0.628500
max        1.000000
Name: tlp_attitude, dtype: float64

# 학습전략

In [49]:
# sca는 있지만 tlp에 매치되는 항목이 없어서 널값 존재
df['tlp_strategy'] = df[[ '수학학습전략', '인지전략', '메타인지전략']].mean(axis=1)
df['tlp_strategy']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
1897    0.422000
1898    0.606667
1899    0.211333
1900    0.471333
1901    0.364667
Name: tlp_strategy, Length: 1902, dtype: float64

In [50]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section4_score', 'section5_score', 'section6_score', 'section7_score',
       'self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'parent_communication', 'test_anxiety',
       'academy_relies', 'Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2',
       '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미',
       '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안',
       '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존',
       'tlp_motivation', 'tlp_attitude', 'tlp_strategy'],
      dtype='object')

In [51]:
df['tlp_strategy'].describe()

count    372.000000
mean       0.567522
std        0.164497
min        0.000000
25%        0.462667
50%        0.557000
75%        0.667167
max        1.000000
Name: tlp_strategy, dtype: float64

# 학습불안

In [52]:
df[['총불안']]

           총불안
0     0.270270
1     0.729730
2     0.405405
3     0.540541
4     0.459459
...        ...
1897  0.060000
1898  0.040000
1899  0.310000
1900  0.050000
1901  0.490000

[1902 rows x 1 columns]

In [53]:
# tlp_fear : 시험불안 + 부모자녀의사소통 + 학원의존
#          * 시험불안 = (정서불안, 인지불안, 관계불안, 일반불안, 총불안)

# 총불안 :  시험불안 4개항목(정서불안, 인지불안, 관계불안, 일반불안) 평균값
# sca에서 tlp로 합친 데이터들은 시험불안 항목 5개 값이 다 있지 않고, 총불안(평균값) 값만 있기 때문에 총불안x4값으로 계산후 평균계산

df[['총불안']]= df[['총불안']]*4
df[['총불안']]

           총불안
0     1.081081
1     2.918919
2     1.621622
3     2.162162
4     1.837838
...        ...
1897  0.240000
1898  0.160000
1899  1.240000
1900  0.200000
1901  1.960000

[1902 rows x 1 columns]

In [54]:
tlp_fear = df[['총불안','부모관계긍정', '부모관계부정', '학원의존']]
tlp_fear

           총불안  부모관계긍정  부모관계부정      학원의존
0     1.081081     NaN     NaN  0.333333
1     2.918919     NaN     NaN  0.416667
2     1.621622     NaN     NaN  0.194444
3     2.162162     NaN     NaN  0.111111
4     1.837838     NaN     NaN  0.416667
...        ...     ...     ...       ...
1897  0.240000    0.40    0.12  0.029724
1898  0.160000    0.50    0.36  0.486200
1899  1.240000    0.30    0.48  0.303609
1900  0.200000    0.50    0.12  0.545648
1901  1.960000    0.45    0.44  0.394904

[1902 rows x 4 columns]

In [55]:
tlp_fear.describe()

               총불안      부모관계긍정      부모관계부정         학원의존
count  1902.000000  372.000000  372.000000  1902.000000
mean      1.425324    0.619892    0.318172     0.368707
std       0.805810    0.237393    0.214476     0.161770
min       0.000000    0.000000    0.000000     0.000000
25%       0.756757    0.487500    0.160000     0.250000
50%       1.405405    0.650000    0.320000     0.363057
75%       2.040000    0.800000    0.480000     0.472222
max       4.000000    1.000000    1.000000     1.000000

In [56]:
from pandas import Series
h='부모관계긍정'

for i in range(1902):
    if pd.isna(tlp_fear.loc[i, h]) != True: # 부모관계긍정 값이 있으면
        tlp_fear.loc[i, 'tlp_fear'] = (tlp_fear.sum(axis=1)[i]) / 7
    else:
        tlp_fear.loc[i ,'tlp_fear'] = (tlp_fear.sum(axis=1)[i]) / 5
tlp_fear

           총불안  부모관계긍정  부모관계부정      학원의존  tlp_fear
0     1.081081     NaN     NaN  0.333333  0.282883
1     2.918919     NaN     NaN  0.416667  0.667117
2     1.621622     NaN     NaN  0.194444  0.363213
3     2.162162     NaN     NaN  0.111111  0.454655
4     1.837838     NaN     NaN  0.416667  0.450901
...        ...     ...     ...       ...       ...
1897  0.240000    0.40    0.12  0.029724  0.112818
1898  0.160000    0.50    0.36  0.486200  0.215171
1899  1.240000    0.30    0.48  0.303609  0.331944
1900  0.200000    0.50    0.12  0.545648  0.195093
1901  1.960000    0.45    0.44  0.394904  0.463558

[1902 rows x 5 columns]

In [57]:
tlp_fear.max()

총불안         4.000000
부모관계긍정      1.000000
부모관계부정      1.000000
학원의존        1.000000
tlp_fear    0.906156
dtype: float64

In [58]:
df['tlp_fear'] = tlp_fear['tlp_fear']
df['tlp_fear']

0       0.282883
1       0.667117
2       0.363213
3       0.454655
4       0.450901
          ...
1897    0.112818
1898    0.215171
1899    0.331944
1900    0.195093
1901    0.463558
Name: tlp_fear, Length: 1902, dtype: float64

In [59]:
df

,Unnamed: 0,diag_student_id,student_id,Unnamed: 2,schoolType,schoolYear,created_date,section3_score,section4_score,section5_score,...,일반불안,총불안,부모관계긍정,부모관계부정,전체관계,학원의존,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear
0,0,40,1521.0,신송우,중,1.0,2016-08-11,26,16,10,...,NaN,1.081081,NaN,NaN,0.878049,0.333333,0.790812,NaN,NaN,0.282883
1,1,42,1509.0,최지수,중,1.0,2016-08-11,13,26,17,...,NaN,2.918919,NaN,NaN,0.829268,0.416667,0.628632,NaN,NaN,0.667117
2,2,46,1534.0,박용겸,중,1.0,2016-08-22,45,23,8,...,NaN,1.621622,NaN,NaN,0.975610,0.194444,0.642664,NaN,NaN,0.363213
3,3,47,1535.0,양효원,중,2.0,2016-08-22,74,74,42,...,NaN,2.162162,NaN,NaN,0.365854,0.111111,0.648718,NaN,NaN,0.454655
4,4,49,1533.0,정서윤,중,1.0,2016-08-24,77,42,50,...,NaN,1.837838,NaN,NaN,0.536585,0.416667,0.567593,NaN,NaN,0.450901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,1897,9569,NaN,NaN,NaN,NaN,NaN,77,40,24,...,0.08,0.240000,0.40,0.12,0.640000,0.029724,0.265005,0.183333,0.422000,0.112818
1898,1898,9633,NaN,NaN,NaN,NaN,NaN,27,5,12,...,0.08,0.160000,0.50,0.36,0.570000,0.486200,0.521957,0.819333,0.606667,0.215171
1899,1899,9688,NaN,NaN,NaN,NaN,NaN,52,44,25,...,0.20,1.240000,0.30,0.48,0.410000,0.303609,0.286279,0.264000,0.211333,0.331944
1900,1900,9770,NaN,NaN,NaN,NaN,NaN,30,34,18,...,0.12,0.200000,0.50,0.12,0.690000,0.545648,0.526251,0.839333,0.471333,0.195093
1901,1901,9814,NaN,NaN,NaN,NaN,NaN,66,27,14,...,0.52,1.960000,0.45,0.44,0.506000,0.394904,0.321269,0.188000,0.364667,0.463558

In [60]:
df4=df[['diag_student_id',
        'section3_score','section4_score','section5_score','section6_score', 'section7_score',
        'tlp_motivation', 'tlp_attitude', 'tlp_strategy', 'tlp_fear']]
df4

,diag_student_id,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear
0,40,26,16,10,8,2,0.790812,NaN,NaN,0.282883
1,42,13,26,17,2,0,0.628632,NaN,NaN,0.667117
2,46,45,23,8,0,0,0.642664,NaN,NaN,0.363213
3,47,74,74,42,25,0,0.648718,NaN,NaN,0.454655
4,49,77,42,50,6,0,0.567593,NaN,NaN,0.450901
...,...,...,...,...,...,...,...,...,...,...
1897,9569,77,40,24,8,0,0.265005,0.183333,0.422000,0.112818
1898,9633,27,5,12,0,0,0.521957,0.819333,0.606667,0.215171
1899,9688,52,44,25,10,0,0.286279,0.264000,0.211333,0.331944
1900,9770,30,34,18,7,11,0.526251,0.839333,0.471333,0.195093
1901,9814,66,27,14,2,4,0.321269,0.188000,0.364667,0.463558

In [61]:
df4.describe()

,diag_student_id,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear
count,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,372.000000,372.000000,1902.000000
mean,1977.435857,51.497371,48.065720,40.552050,8.672450,14.297581,0.596814,0.515518,0.567522,0.367522
std,2326.911014,21.336899,21.338962,22.996539,8.949885,15.135780,0.132071,0.190526,0.164497,0.164587
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.150000,0.016667,0.000000,0.000000
25%,556.250000,35.000000,33.000000,22.000000,0.000000,2.000000,0.513889,0.397000,0.462667,0.240240
50%,1101.500000,53.000000,48.000000,39.000000,6.000000,10.000000,0.591987,0.520000,0.557000,0.364185
75%,1869.750000,67.000000,63.000000,57.000000,15.000000,21.000000,0.687001,0.628500,0.667167,0.482883
max,9905.000000,100.000000,100.000000,100.000000,40.000000,81.000000,0.992921,1.000000,1.000000,0.906156

In [62]:
# 추가) 전처리 : adtm_total 변수 생성 및 정규화

df4['adtm_total'] = df4[['section3_score', 'section4_score', 'section5_score', 
                                           'section6_score','section7_score']].sum(axis=1)
df4

,diag_student_id,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total
0,40,26,16,10,8,2,0.790812,NaN,NaN,0.282883,62
1,42,13,26,17,2,0,0.628632,NaN,NaN,0.667117,58
2,46,45,23,8,0,0,0.642664,NaN,NaN,0.363213,76
3,47,74,74,42,25,0,0.648718,NaN,NaN,0.454655,215
4,49,77,42,50,6,0,0.567593,NaN,NaN,0.450901,175
...,...,...,...,...,...,...,...,...,...,...,...
1897,9569,77,40,24,8,0,0.265005,0.183333,0.422000,0.112818,149
1898,9633,27,5,12,0,0,0.521957,0.819333,0.606667,0.215171,44
1899,9688,52,44,25,10,0,0.286279,0.264000,0.211333,0.331944,131
1900,9770,30,34,18,7,11,0.526251,0.839333,0.471333,0.195093,100
1901,9814,66,27,14,2,4,0.321269,0.188000,0.364667,0.463558,113

In [63]:
# 정규화
scaler = MinMaxScaler()
df4[['adtm_total']] = scaler.fit_transform(df4[['adtm_total']])
df4

,diag_student_id,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total
0,40,26,16,10,8,2,0.790812,NaN,NaN,0.282883,0.175439
1,42,13,26,17,2,0,0.628632,NaN,NaN,0.667117,0.163743
2,46,45,23,8,0,0,0.642664,NaN,NaN,0.363213,0.216374
3,47,74,74,42,25,0,0.648718,NaN,NaN,0.454655,0.622807
4,49,77,42,50,6,0,0.567593,NaN,NaN,0.450901,0.505848
...,...,...,...,...,...,...,...,...,...,...,...
1897,9569,77,40,24,8,0,0.265005,0.183333,0.422000,0.112818,0.429825
1898,9633,27,5,12,0,0,0.521957,0.819333,0.606667,0.215171,0.122807
1899,9688,52,44,25,10,0,0.286279,0.264000,0.211333,0.331944,0.377193
1900,9770,30,34,18,7,11,0.526251,0.839333,0.471333,0.195093,0.286550
1901,9814,66,27,14,2,4,0.321269,0.188000,0.364667,0.463558,0.324561

In [64]:
df4.describe()

,diag_student_id,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total
count,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,1902.000000,372.000000,372.000000,1902.000000,1902.000000
mean,1977.435857,51.497371,48.065720,40.552050,8.672450,14.297581,0.596814,0.515518,0.567522,0.367522,0.471009
std,2326.911014,21.336899,21.338962,22.996539,8.949885,15.135780,0.132071,0.190526,0.164497,0.164587,0.186297
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.150000,0.016667,0.000000,0.000000,0.000000
25%,556.250000,35.000000,33.000000,22.000000,0.000000,2.000000,0.513889,0.397000,0.462667,0.240240,0.333333
50%,1101.500000,53.000000,48.000000,39.000000,6.000000,10.000000,0.591987,0.520000,0.557000,0.364185,0.473684
75%,1869.750000,67.000000,63.000000,57.000000,15.000000,21.000000,0.687001,0.628500,0.667167,0.482883,0.614035
max,9905.000000,100.000000,100.000000,100.000000,40.000000,81.000000,0.992921,1.000000,1.000000,0.906156,1.000000

In [65]:
print(f"<최소값> \n{df4.min()}")
print()
print(f"<최대값> \n{df4.max()}")

<최소값>
diag_student_id    18.000000
section3_score      0.000000
section4_score      0.000000
section5_score      0.000000
section6_score      0.000000
section7_score      0.000000
tlp_motivation      0.150000
tlp_attitude        0.016667
tlp_strategy        0.000000
tlp_fear            0.000000
adtm_total          0.000000
dtype: float64

<최대값>
diag_student_id    9905.000000
section3_score      100.000000
section4_score      100.000000
section5_score      100.000000
section6_score       40.000000
section7_score       81.000000
tlp_motivation        0.992921
tlp_attitude          1.000000
tlp_strategy          1.000000
tlp_fear              0.906156
adtm_total            1.000000
dtype: float64

In [66]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'created_date', 'section3_score',
       'section4_score', 'section5_score', 'section6_score', 'section7_score',
       'self_efficacy', 'math_self_efficacy', 'in_goal_Orientation',
       'out_goal_Orientation', 'parent_communication', 'test_anxiety',
       'academy_relies', 'Self_Efficacy', 'Math_efficacy', '내재조절2', '확인조절2',
       '부과조절2', '외재조절2', 'RAI2', '숙달접근', '수행접근', '수행회피', '숙달회피', '수학흥미',
       '주의집중', '능동적학습', '총점', '수학학습전략', '인지전략', '메타인지전략', '총전략점수', '정서불안',
       '인지불안', '관계불안', '일반불안', '총불안', '부모관계긍정', '부모관계부정', '전체관계', '학원의존',
       'tlp_motivation', 'tlp_attitude', 'tlp_strategy', 'tlp_fear'],
      dtype='object')

In [67]:
df4.columns

Index(['diag_student_id', 'section3_score', 'section4_score', 'section5_score',
       'section6_score', 'section7_score', 'tlp_motivation', 'tlp_attitude',
       'tlp_strategy', 'tlp_fear', 'adtm_total'],
      dtype='object')

In [68]:
df4.to_excel('master table_final2.xlsx')