In [1]:
import pandas as pd
import numpy as np

import warnings 
warnings.filterwarnings('ignore')

In [2]:
## 작업폴더 설정

#학교
# folder = "C:/Users/Juhyung/OneDrive - 연세대학교 (Yonsei University)/1 able택/2 작업일지/221114/"

#집
folder ="C:/Users/wl/Desktop/◆◆◆원 드라이브◆◆◆/OneDrive - 연세대학교 (Yonsei University)/1 able택/2 작업일지/221129/"

In [3]:
df=pd.read_excel(folder + "master table_final2(motivation 수정).xlsx")
df

,Unnamed: 0,diag_student_id,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total
0,0,40,26,16,10,8,2,0.790812,NaN,NaN,0.282883,0.175439
1,1,42,13,26,17,2,0,0.628632,NaN,NaN,0.667117,0.163743
2,2,46,45,23,8,0,0,0.642664,NaN,NaN,0.363213,0.216374
3,3,47,74,74,42,25,0,0.648718,NaN,NaN,0.454655,0.622807
4,4,49,77,42,50,6,0,0.567593,NaN,NaN,0.450901,0.505848
...,...,...,...,...,...,...,...,...,...,...,...,...
1897,1897,9569,77,40,24,8,0,0.265005,0.183333,0.422000,0.112818,0.429825
1898,1898,9633,27,5,12,0,0,0.521957,0.819333,0.606667,0.215171,0.122807
1899,1899,9688,52,44,25,10,0,0.286279,0.264000,0.211333,0.331944,0.377193
1900,1900,9770,30,34,18,7,11,0.526251,0.839333,0.471333,0.195093,0.286550
1901,1901,9814,66,27,14,2,4,0.321269,0.188000,0.364667,0.463558,0.324561

In [4]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'section3_score', 'section4_score',
       'section5_score', 'section6_score', 'section7_score', 'tlp_motivation',
       'tlp_attitude', 'tlp_strategy', 'tlp_fear', 'adtm_total'],
      dtype='object')

In [5]:
df2 = df[['tlp_motivation', 'tlp_fear','adtm_total' ]]
df2

      tlp_motivation  tlp_fear  adtm_total
0           0.790812  0.282883    0.175439
1           0.628632  0.667117    0.163743
2           0.642664  0.363213    0.216374
3           0.648718  0.454655    0.622807
4           0.567593  0.450901    0.505848
...              ...       ...         ...
1897        0.265005  0.112818    0.429825
1898        0.521957  0.215171    0.122807
1899        0.286279  0.331944    0.377193
1900        0.526251  0.195093    0.286550
1901        0.321269  0.463558    0.324561

[1902 rows x 3 columns]

# Split

In [6]:
from sklearn.model_selection import train_test_split

# train-test분리
X_train, X_test, y_train, y_test = train_test_split(df2[['tlp_motivation', 'tlp_fear']],df2['adtm_total'])

# train-validation분리
X2_train, X2_val, y2_train, y_val = train_test_split(X_train, y_train)

In [7]:
'''
1 linear regression
2 lasso
3 ridge
4 random forest
5 xgboost
6 Gradient Boosting Regressor
'''

'\n1 linear regression\n2 lasso\n3 ridge\n4 random forest\n5 xgboost\n6 Gradient Boosting Regressor\n'

# All models

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [9]:
def pred_models():
    models = dict()
    models['LR'] = LinearRegression()
    models['LS'] = Lasso()
    models['RG'] = Ridge()
    models['RF'] = RandomForestRegressor()
    models['XGB'] = XGBRegressor()
    models['GB'] = GradientBoostingRegressor()
    models['DT'] = DecisionTreeRegressor()
    return models

models = pred_models()

In [10]:
names = []
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(name,':', r2)
#     print(rmse)

LR : 0.06200113934311646
LS : -0.0008677300833552781
RG : 0.06158133320473336
RF : -0.06609154191936328
XGB : -0.18928770731667388
GB : 0.0006283838503550188
DT : -0.7257004769288447