In [1]:
import pandas as pd

#집
folder ="C:/Users/wl/Desktop/◆◆◆원 드라이브◆◆◆/OneDrive - 연세대학교 (Yonsei University)/1 able택/2 작업일지/221129/"

In [2]:
df1 = pd.read_excel(folder + "0 master table_final3(419 최종).xlsx")
df1

,Unnamed: 0,diag_student_id,student_id,LMS번호,Unnamed: 2,schoolType,schoolYear,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total
0,0,40,1521,NaN,신송우,중,1,0.26,0.16,0.10,0.200,0.024691,0.815900,NaN,NaN,0.296575,0.173611
1,1,42,1509,NaN,최지수,중,1,0.13,0.26,0.17,0.050,0.000000,0.602510,NaN,NaN,0.726948,0.159722
2,2,46,1534,NaN,박용겸,중,1,0.45,0.23,0.08,0.000,0.000000,0.623431,NaN,NaN,0.382198,0.222222
3,3,47,1535,NaN,양효원,중,2,0.74,0.74,0.42,0.625,0.000000,0.619247,NaN,NaN,0.481746,0.704861
4,4,49,1533,NaN,정서윤,중,1,0.77,0.42,0.50,0.150,0.000000,0.527197,NaN,NaN,0.486075,0.565972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,414,9610,17766,9610.0,이성민,중,3,0.45,0.59,0.38,0.250,0.123457,0.649749,0.171149,0.389599,0.913289,0.520833
415,415,9771,18062,9771.0,서진성,중,2,0.26,0.09,0.18,0.000,0.000000,0.116274,0.051799,0.166271,0.280566,0.142361
416,416,9780,18033,9780.0,정세린,초,5,0.76,0.41,0.15,0.500,0.000000,0.729498,0.677576,0.982277,0.324595,0.486111
417,417,9815,18364,9815.0,이준원,초,6,0.17,0.19,0.10,0.375,0.061728,0.516175,0.735365,0.610856,0.173347,0.187500
418,418,9905,18305,9905.0,박승민,중,3,0.09,0.07,0.10,0.000,0.000000,0.657936,0.583752,0.537036,0.240563,0.048611

In [3]:
df2 = pd.read_csv(folder + "1 able_problem_result.csv", encoding="UTF-8")
df2

,id,result,problem_id,lecture_id,course_id,created_date,sort,student_id,student_answer,problem_group_id,solve_time,hint_show,solve_keyword_id,section_id,section_sc_id
0,1,1,65,40,12,2015-07-12 01:39:00,1,172,<p>4</p>\n,1821,4,0,1,473,0
1,10,0,67,40,22,2015-07-14 00:07:29,1,172,<p>f</p>\n,1827,4,0,1,473,0
2,11,0,148,40,22,2015-07-14 00:07:38,1,172,<p>g</p>\n,1831,4,0,1,473,0
3,1106,0,1062,123,111,2015-07-18 22:25:44,1,450,NaN,7756,2,0,1,1909,0
4,1107,0,946,123,111,2015-07-18 22:25:55,1,450,NaN,7760,2,0,1,1909,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8054935,10931913,1,175017,71803,765508,2022-05-06 11:20:48,1,16529,"["""",""1"","""","""",""""]",12069963,158,0,1,2694289,7326590
8054936,10931914,1,63195,71464,765510,2022-05-06 11:22:26,1,17376,"["""","""","""",""1"",""""]",12025767,185,0,2,2678525,7300908
8054937,10931915,1,63212,71464,765510,2022-05-06 11:22:54,1,17376,3,12025778,27,0,2,2678525,7300908
8054938,10931916,0,63233,71464,765510,2022-05-06 11:23:08,2,17376,"["""","""","""","""",""""]",12025624,11,0,2,2678526,7300908
8054939,10931917,0,63201,71464,765510,2022-05-06 11:23:09,2,17376,"[""1"","""","""","""",""""]",12025750,1,0,2,2678525,7300908

In [4]:
df1.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id', 'LMS번호', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'section3_score', 'section4_score',
       'section5_score', 'section6_score', 'section7_score', 'tlp_motivation',
       'tlp_attitude', 'tlp_strategy', 'tlp_fear', 'adtm_total'],
      dtype='object')

In [5]:
df2.columns

Index(['id', 'result', 'problem_id', 'lecture_id', 'course_id', 'created_date',
       'sort', 'student_id', 'student_answer', 'problem_group_id',
       'solve_time', 'hint_show', 'solve_keyword_id', 'section_id',
       'section_sc_id'],
      dtype='object')

In [6]:
df2 = df2[['student_id', 'result','solve_time']]
df2

         student_id  result  solve_time
0               172       1           4
1               172       0           4
2               172       0           4
3               450       0           2
4               450       0           2
...             ...     ...         ...
8054935       16529       1         158
8054936       17376       1         185
8054937       17376       1          27
8054938       17376       0          11
8054939       17376       0           1

[8054940 rows x 3 columns]

In [7]:
df = pd.merge(df1, df2 , left_on='LMS번호', right_on='student_id', how='inner')
df

# lms 다르고 나머지 똑같다

,Unnamed: 0,diag_student_id,student_id_x,LMS번호,Unnamed: 2,schoolType,schoolYear,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,student_id_y,result,solve_time
0,155,928,2254,928.0,이지예,초,6,0.35,0.48,0.25,0.5,0.740741,0.726622,0.809837,0.962686,0.206201,0.611111,928,1,69
1,155,928,2254,928.0,이지예,초,6,0.35,0.48,0.25,0.5,0.740741,0.726622,0.809837,0.962686,0.206201,0.611111,928,1,82
2,155,928,2254,928.0,이지예,초,6,0.35,0.48,0.25,0.5,0.740741,0.726622,0.809837,0.962686,0.206201,0.611111,928,1,51
3,155,928,2254,928.0,이지예,초,6,0.35,0.48,0.25,0.5,0.740741,0.726622,0.809837,0.962686,0.206201,0.611111,928,1,92
4,155,928,2254,928.0,이지예,초,6,0.35,0.48,0.25,0.5,0.740741,0.726622,0.809837,0.962686,0.206201,0.611111,928,1,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74170,418,9905,18305,9905.0,박승민,중,3,0.09,0.07,0.10,0.0,0.000000,0.657936,0.583752,0.537036,0.240563,0.048611,9905,0,300
74171,418,9905,18305,9905.0,박승민,중,3,0.09,0.07,0.10,0.0,0.000000,0.657936,0.583752,0.537036,0.240563,0.048611,9905,1,163
74172,418,9905,18305,9905.0,박승민,중,3,0.09,0.07,0.10,0.0,0.000000,0.657936,0.583752,0.537036,0.240563,0.048611,9905,0,15
74173,418,9905,18305,9905.0,박승민,중,3,0.09,0.07,0.10,0.0,0.000000,0.657936,0.583752,0.537036,0.240563,0.048611,9905,1,105
74174,418,9905,18305,9905.0,박승민,중,3,0.09,0.07,0.10,0.0,0.000000,0.657936,0.583752,0.537036,0.240563,0.048611,9905,1,40

In [8]:
len(df['Unnamed: 2'].unique())

101

In [9]:
df.describe()

,Unnamed: 0,diag_student_id,student_id_x,LMS번호,schoolYear,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,student_id_y,result,solve_time
count,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000
mean,368.743889,7041.148204,13366.947368,7041.148204,3.265858,0.458316,0.480715,0.324474,0.140043,0.248552,0.509066,0.548050,0.543093,0.354752,0.486406,7041.148204,0.522952,83.412619
std,32.404787,1965.829588,3539.078980,1965.829588,1.916262,0.204284,0.274829,0.209057,0.190619,0.251172,0.200138,0.208921,0.223903,0.149661,0.253472,1965.829588,0.499476,80.632456
min,155.000000,928.000000,2254.000000,928.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.056317,0.000000,0.000000,0.078853,0.000000,928.000000,0.000000,0.000000
25%,354.000000,5960.000000,11968.000000,5960.000000,1.000000,0.280000,0.230000,0.140000,0.000000,0.024691,0.367619,0.399511,0.351881,0.248533,0.281250,5960.000000,0.000000,19.000000
50%,374.000000,7727.000000,14989.000000,7727.000000,3.000000,0.520000,0.490000,0.350000,0.050000,0.148148,0.522072,0.584103,0.537793,0.300615,0.510417,7727.000000,1.000000,60.000000
75%,390.000000,8219.000000,15475.000000,8219.000000,5.000000,0.570000,0.740000,0.460000,0.250000,0.370370,0.664577,0.653216,0.740773,0.405697,0.736111,8219.000000,1.000000,121.000000
max,418.000000,9905.000000,18435.000000,9905.000000,6.000000,0.940000,1.000000,0.870000,0.750000,1.000000,0.819887,1.000000,1.000000,0.913289,0.986111,9905.000000,1.000000,300.000000

In [10]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id_x', 'LMS번호', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'section3_score', 'section4_score',
       'section5_score', 'section6_score', 'section7_score', 'tlp_motivation',
       'tlp_attitude', 'tlp_strategy', 'tlp_fear', 'adtm_total',
       'student_id_y', 'result', 'solve_time'],
      dtype='object')

In [11]:
# 스케일링
from sklearn.preprocessing import MinMaxScaler

# attitude, strategy 값은 모두 받아왔으므로 스케일링 안함
scaler = MinMaxScaler()
df[['section3_score', 'section4_score',
       'section5_score', 'section6_score', 'section7_score', 'tlp_motivation',
       'tlp_fear', 'adtm_total']] = scaler.fit_transform(df[['section3_score', 'section4_score',
       'section5_score', 'section6_score', 'section7_score', 'tlp_motivation',
       'tlp_fear', 'adtm_total']])
df

,Unnamed: 0,diag_student_id,student_id_x,LMS번호,Unnamed: 2,schoolType,schoolYear,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,student_id_y,result,solve_time
0,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,0.666667,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,69
1,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,0.666667,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,82
2,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,0.666667,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,51
3,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,0.666667,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,92
4,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,0.666667,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74170,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,0.000000,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,0,300
74171,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,0.000000,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,1,163
74172,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,0.000000,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,0,15
74173,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,0.000000,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,1,105
74174,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,0.000000,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,1,40

In [12]:
df.describe()

,Unnamed: 0,diag_student_id,student_id_x,LMS번호,schoolYear,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,student_id_y,result,solve_time
count,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000,74175.000000
mean,368.743889,7041.148204,13366.947368,7041.148204,3.265858,0.487570,0.480715,0.372958,0.186725,0.248552,0.592937,0.548050,0.543093,0.330642,0.493257,7041.148204,0.522952,83.412619
std,32.404787,1965.829588,3539.078980,1965.829588,1.916262,0.217324,0.274829,0.240295,0.254159,0.251172,0.262108,0.208921,0.223903,0.179356,0.257042,1965.829588,0.499476,80.632456
min,155.000000,928.000000,2254.000000,928.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,928.000000,0.000000,0.000000
25%,354.000000,5960.000000,11968.000000,5960.000000,1.000000,0.297872,0.230000,0.160920,0.000000,0.024691,0.407693,0.399511,0.351881,0.203347,0.285211,5960.000000,0.000000,19.000000
50%,374.000000,7727.000000,14989.000000,7727.000000,3.000000,0.553191,0.490000,0.402299,0.066667,0.148148,0.609970,0.584103,0.537793,0.265763,0.517606,7727.000000,1.000000,60.000000
75%,390.000000,8219.000000,15475.000000,8219.000000,5.000000,0.606383,0.740000,0.528736,0.333333,0.370370,0.796601,0.653216,0.740773,0.391695,0.746479,8219.000000,1.000000,121.000000
max,418.000000,9905.000000,18435.000000,9905.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9905.000000,1.000000,300.000000

In [14]:
#-------------------------------------------------------------------------

In [13]:
df.columns

Index(['Unnamed: 0', 'diag_student_id', 'student_id_x', 'LMS번호', 'Unnamed: 2',
       'schoolType', 'schoolYear', 'section3_score', 'section4_score',
       'section5_score', 'section6_score', 'section7_score', 'tlp_motivation',
       'tlp_attitude', 'tlp_strategy', 'tlp_fear', 'adtm_total',
       'student_id_y', 'result', 'solve_time'],
      dtype='object')

In [15]:
# 학생 점수 계산위해 count 변수 추가
df['count'] = 1
df

,Unnamed: 0,diag_student_id,student_id_x,LMS번호,Unnamed: 2,schoolType,schoolYear,section3_score,section4_score,section5_score,...,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,student_id_y,result,solve_time,count
0,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,...,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,69,1
1,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,...,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,82,1
2,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,...,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,51,1
3,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,...,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,92,1
4,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,...,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,110,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74170,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,...,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,0,300,1
74171,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,...,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,1,163,1
74172,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,...,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,0,15,1
74173,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,...,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,1,105,1
74174,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,...,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,1,40,1

# 그룹바이

In [16]:
df2 = df.groupby(["Unnamed: 2","schoolType", "schoolYear"]).agg({
    'section3_score': "mean", 
    'section4_score': "mean",
    'section5_score': "mean",
    'section6_score': "mean",
    'section7_score': "mean",
    'tlp_motivation': "mean",
    'tlp_attitude'  : "mean",
    'tlp_strategy'  : "mean",
    'tlp_fear'      : "mean",
    'adtm_total'    : "mean", 
    'solve_time'    : "mean",
    
    'result'        : "sum",
    'count'         : "sum"  })
df2

,,,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,solve_time,result,count
Unnamed: 2,schoolType,schoolYear,,,,,,,,,,,,,
강민주,중,3,0.680851,0.21,0.379310,0.000000,0.000000,1.000000,1.000000,0.963393,0.000000,0.373239,78.254545,297,660
강윤지,중,1,0.957447,1.00,0.758621,0.400000,0.234568,0.518145,0.239969,0.388892,0.228050,0.968310,102.588448,271,554
곽지석,초,5,0.787234,0.74,0.689655,0.833333,0.679012,0.832061,0.916923,0.944509,0.131837,0.971831,46.360656,42,61
권도아,중,3,0.000000,0.06,0.000000,0.200000,0.000000,0.794225,0.554261,0.370412,0.150663,0.000000,78.057604,727,1302
권민준,중,1,0.297872,0.67,0.505747,0.100000,0.259259,0.457842,0.129407,0.185559,0.542626,0.531690,67.169249,305,839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
최부강,초,4,0.585106,0.39,0.586207,0.000000,0.148148,0.590541,0.693963,0.647816,0.441831,0.510563,62.215054,42,93
최은지,초,6,0.478723,0.57,0.344828,0.000000,0.604938,0.229472,0.526776,0.295935,0.315151,0.595070,100.127812,601,978
최현준,중,1,0.563830,0.89,0.793103,0.133333,0.370370,0.682057,0.823619,0.740773,0.351073,0.820423,95.173438,4360,6867
한문정,초,5,1.000000,0.62,0.390805,0.333333,0.000000,0.513506,0.413281,0.332997,0.350828,0.661972,41.048780,68,164
한채윤,초,5,0.819149,0.62,0.965517,0.600000,0.148148,0.495251,0.564839,0.704115,0.604367,0.848592,40.748792,71,207

In [17]:
df2['point'] = (df2['result'] / df2['count']*100)
df2['point']

Unnamed: 2  schoolType  schoolYear
강민주         중           3             45.000000
강윤지         중           1             48.916968
곽지석         초           5             68.852459
권도아         중           3             55.837174
권민준         중           1             36.352801
                                        ...
최부강         초           4             45.161290
최은지         초           6             61.451943
최현준         중           1             63.492063
한문정         초           5             41.463415
한채윤         초           5             34.299517
Name: point, Length: 102, dtype: float64

In [18]:
# 점수 스케일링 추가
scaler = MinMaxScaler()
df2[['point']] = scaler.fit_transform(df2[['point']])
df2

,,,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,solve_time,result,count,point
Unnamed: 2,schoolType,schoolYear,,,,,,,,,,,,,,
강민주,중,3,0.680851,0.21,0.379310,0.000000,0.000000,1.000000,1.000000,0.963393,0.000000,0.373239,78.254545,297,660,0.450000
강윤지,중,1,0.957447,1.00,0.758621,0.400000,0.234568,0.518145,0.239969,0.388892,0.228050,0.968310,102.588448,271,554,0.489170
곽지석,초,5,0.787234,0.74,0.689655,0.833333,0.679012,0.832061,0.916923,0.944509,0.131837,0.971831,46.360656,42,61,0.688525
권도아,중,3,0.000000,0.06,0.000000,0.200000,0.000000,0.794225,0.554261,0.370412,0.150663,0.000000,78.057604,727,1302,0.558372
권민준,중,1,0.297872,0.67,0.505747,0.100000,0.259259,0.457842,0.129407,0.185559,0.542626,0.531690,67.169249,305,839,0.363528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
최부강,초,4,0.585106,0.39,0.586207,0.000000,0.148148,0.590541,0.693963,0.647816,0.441831,0.510563,62.215054,42,93,0.451613
최은지,초,6,0.478723,0.57,0.344828,0.000000,0.604938,0.229472,0.526776,0.295935,0.315151,0.595070,100.127812,601,978,0.614519
최현준,중,1,0.563830,0.89,0.793103,0.133333,0.370370,0.682057,0.823619,0.740773,0.351073,0.820423,95.173438,4360,6867,0.634921
한문정,초,5,1.000000,0.62,0.390805,0.333333,0.000000,0.513506,0.413281,0.332997,0.350828,0.661972,41.048780,68,164,0.414634
한채윤,초,5,0.819149,0.62,0.965517,0.600000,0.148148,0.495251,0.564839,0.704115,0.604367,0.848592,40.748792,71,207,0.342995

In [19]:
df2.describe()

,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,solve_time,result,count,point
count,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000
mean,0.513872,0.422843,0.382128,0.272222,0.159162,0.522378,0.475427,0.481892,0.374243,0.467930,81.807286,380.294118,727.205882,0.530928
std,0.243240,0.231557,0.243569,0.295812,0.200141,0.234910,0.234540,0.236414,0.215605,0.237315,29.359079,634.945037,1230.324109,0.168208
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.500000,0.000000,3.000000,0.000000
25%,0.305851,0.232500,0.175287,0.000000,0.000000,0.362809,0.350767,0.314554,0.221599,0.290493,62.286150,77.750000,169.500000,0.415141
50%,0.531915,0.430000,0.362069,0.133333,0.074074,0.525478,0.464508,0.453547,0.317013,0.487676,82.581976,251.500000,494.500000,0.515218
75%,0.680851,0.600000,0.528736,0.500000,0.234568,0.684401,0.607924,0.648384,0.526526,0.632042,103.525374,448.500000,911.000000,0.634646
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,150.056385,4360.000000,9928.000000,1.000000

In [21]:
#https://rfriend.tistory.com/392

# 머신러닝

# 1 학생전체

In [20]:
df2

,,,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,solve_time,result,count,point
Unnamed: 2,schoolType,schoolYear,,,,,,,,,,,,,,
강민주,중,3,0.680851,0.21,0.379310,0.000000,0.000000,1.000000,1.000000,0.963393,0.000000,0.373239,78.254545,297,660,0.450000
강윤지,중,1,0.957447,1.00,0.758621,0.400000,0.234568,0.518145,0.239969,0.388892,0.228050,0.968310,102.588448,271,554,0.489170
곽지석,초,5,0.787234,0.74,0.689655,0.833333,0.679012,0.832061,0.916923,0.944509,0.131837,0.971831,46.360656,42,61,0.688525
권도아,중,3,0.000000,0.06,0.000000,0.200000,0.000000,0.794225,0.554261,0.370412,0.150663,0.000000,78.057604,727,1302,0.558372
권민준,중,1,0.297872,0.67,0.505747,0.100000,0.259259,0.457842,0.129407,0.185559,0.542626,0.531690,67.169249,305,839,0.363528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
최부강,초,4,0.585106,0.39,0.586207,0.000000,0.148148,0.590541,0.693963,0.647816,0.441831,0.510563,62.215054,42,93,0.451613
최은지,초,6,0.478723,0.57,0.344828,0.000000,0.604938,0.229472,0.526776,0.295935,0.315151,0.595070,100.127812,601,978,0.614519
최현준,중,1,0.563830,0.89,0.793103,0.133333,0.370370,0.682057,0.823619,0.740773,0.351073,0.820423,95.173438,4360,6867,0.634921
한문정,초,5,1.000000,0.62,0.390805,0.333333,0.000000,0.513506,0.413281,0.332997,0.350828,0.661972,41.048780,68,164,0.414634
한채윤,초,5,0.819149,0.62,0.965517,0.600000,0.148148,0.495251,0.564839,0.704115,0.604367,0.848592,40.748792,71,207,0.342995

In [21]:
df2.columns

Index(['section3_score', 'section4_score', 'section5_score', 'section6_score',
       'section7_score', 'tlp_motivation', 'tlp_attitude', 'tlp_strategy',
       'tlp_fear', 'adtm_total', 'solve_time', 'result', 'count', 'point'],
      dtype='object')

In [22]:
df3 = df2[[ 'tlp_motivation', 'tlp_attitude', 'tlp_strategy','tlp_fear', 
           'adtm_total', 'point']]
df3

,,,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
Unnamed: 2,schoolType,schoolYear,,,,,,
강민주,중,3,1.000000,1.000000,0.963393,0.000000,0.373239,0.450000
강윤지,중,1,0.518145,0.239969,0.388892,0.228050,0.968310,0.489170
곽지석,초,5,0.832061,0.916923,0.944509,0.131837,0.971831,0.688525
권도아,중,3,0.794225,0.554261,0.370412,0.150663,0.000000,0.558372
권민준,중,1,0.457842,0.129407,0.185559,0.542626,0.531690,0.363528
...,...,...,...,...,...,...,...,...
최부강,초,4,0.590541,0.693963,0.647816,0.441831,0.510563,0.451613
최은지,초,6,0.229472,0.526776,0.295935,0.315151,0.595070,0.614519
최현준,중,1,0.682057,0.823619,0.740773,0.351073,0.820423,0.634921
한문정,초,5,0.513506,0.413281,0.332997,0.350828,0.661972,0.414634
한채윤,초,5,0.495251,0.564839,0.704115,0.604367,0.848592,0.342995

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

# split

In [24]:
df3

,,,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
Unnamed: 2,schoolType,schoolYear,,,,,,
강민주,중,3,1.000000,1.000000,0.963393,0.000000,0.373239,0.450000
강윤지,중,1,0.518145,0.239969,0.388892,0.228050,0.968310,0.489170
곽지석,초,5,0.832061,0.916923,0.944509,0.131837,0.971831,0.688525
권도아,중,3,0.794225,0.554261,0.370412,0.150663,0.000000,0.558372
권민준,중,1,0.457842,0.129407,0.185559,0.542626,0.531690,0.363528
...,...,...,...,...,...,...,...,...
최부강,초,4,0.590541,0.693963,0.647816,0.441831,0.510563,0.451613
최은지,초,6,0.229472,0.526776,0.295935,0.315151,0.595070,0.614519
최현준,중,1,0.682057,0.823619,0.740773,0.351073,0.820423,0.634921
한문정,초,5,0.513506,0.413281,0.332997,0.350828,0.661972,0.414634
한채윤,초,5,0.495251,0.564839,0.704115,0.604367,0.848592,0.342995

In [25]:
df3=df3.reset_index()
df3

,Unnamed: 2,schoolType,schoolYear,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
0,강민주,중,3,1.000000,1.000000,0.963393,0.000000,0.373239,0.450000
1,강윤지,중,1,0.518145,0.239969,0.388892,0.228050,0.968310,0.489170
2,곽지석,초,5,0.832061,0.916923,0.944509,0.131837,0.971831,0.688525
3,권도아,중,3,0.794225,0.554261,0.370412,0.150663,0.000000,0.558372
4,권민준,중,1,0.457842,0.129407,0.185559,0.542626,0.531690,0.363528
...,...,...,...,...,...,...,...,...,...
97,최부강,초,4,0.590541,0.693963,0.647816,0.441831,0.510563,0.451613
98,최은지,초,6,0.229472,0.526776,0.295935,0.315151,0.595070,0.614519
99,최현준,중,1,0.682057,0.823619,0.740773,0.351073,0.820423,0.634921
100,한문정,초,5,0.513506,0.413281,0.332997,0.350828,0.661972,0.414634
101,한채윤,초,5,0.495251,0.564839,0.704115,0.604367,0.848592,0.342995

In [26]:
from sklearn.model_selection import train_test_split

# train-test분리
X_train, X_test, y_train, y_test = train_test_split(df3[['tlp_motivation', 'tlp_fear', 'adtm_total']],df3[['point']])

# train-validation분리
X2_train, X2_val, y2_train, y_val = train_test_split(X_train, y_train)

# 모델선언

In [27]:
def pred_models():
    models = dict()
    models['LR'] = LinearRegression()
    models['LS'] = Lasso()
    models['RG'] = Ridge()
    models['RF'] = RandomForestRegressor()
    models['XGB'] = XGBRegressor()
    models['GB'] = GradientBoostingRegressor()
    models['DT'] = DecisionTreeRegressor()
    return models

models = pred_models()
models

{'LR': LinearRegression(),
 'LS': Lasso(),
 'RG': Ridge(),
 'RF': RandomForestRegressor(),
 'XGB': XGBRegressor(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, gamma=None,
              gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, n_estimators=100, n_jobs=None,
              num_parallel_tree=None, predictor=None, random_state=None,
              reg_alpha=None, reg_lambda=None, ...),
 'GB': GradientBoostingRegressor(),
 'DT': DecisionTreeRegressor()}


# R2 score, rmse

In [28]:
import numpy as np

for name, model in models.items():
    model = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(name,':', r2)
    print("rmse : ", rmse)
    print()

LR : -0.03141952927164238
rmse :  0.17837445740452468

LS : -0.03756899013623216
rmse :  0.17890541333165133

RG : -0.02894972294471554
rmse :  0.17816076433426403

RF : -0.10150659199485146
rmse :  0.18433531278369739

XGB : -0.17496211798879546
rmse :  0.19038245478192198

GB : -0.3032182889026933
rmse :  0.200504245552475

DT : -1.617447399642356
rmse :  0.2841541291661247

C:\Users\wl\AppData\Local\Temp/ipykernel_1628/2406700941.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = model.fit(X_train, y_train)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

# p value, r2

In [29]:
df3.columns

Index(['Unnamed: 2', 'schoolType', 'schoolYear', 'tlp_motivation',
       'tlp_attitude', 'tlp_strategy', 'tlp_fear', 'adtm_total', 'point'],
      dtype='object')

In [31]:
a=df3[['point', 'tlp_motivation', 'tlp_fear', 'adtm_total']]
a

        point  tlp_motivation  tlp_fear  adtm_total
0    0.450000        1.000000  0.000000    0.373239
1    0.489170        0.518145  0.228050    0.968310
2    0.688525        0.832061  0.131837    0.971831
3    0.558372        0.794225  0.150663    0.000000
4    0.363528        0.457842  0.542626    0.531690
..        ...             ...       ...         ...
97   0.451613        0.590541  0.441831    0.510563
98   0.614519        0.229472  0.315151    0.595070
99   0.634921        0.682057  0.351073    0.820423
100  0.414634        0.513506  0.350828    0.661972
101  0.342995        0.495251  0.604367    0.848592

[102 rows x 4 columns]

In [32]:
#1
import patsy
import statsmodels.api as sm

f = 'point ~ tlp_motivation+tlp_fear+adtm_total'
y, X = patsy.dmatrices(f, a, return_type='dataframe')

In [33]:
model1 = sm.OLS(y, X).fit()
print(model1.summary())

# Prob(F-statistics) : 이 모델의 유의미성 검증 결과. 보통 0.05보다 작으면 유의미합니다.
# Adj.R-squred : 보통 설명력이라고 말하는 값인데 주어진 데이터를 현재 모델이 얼마나 잘 설명하고 있는지를 나타내는 지수입니다. 
# 1에 가까울수록 설명력이 좋다고 판단합니다. 
# 서로 다른 모델을 비교할 때는 이 값이 높은 쪽을 선택할 수 있습니다.

                            OLS Regression Results
==============================================================================
Dep. Variable:                  point   R-squared:                       0.034
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     1.146
Date:                Thu, 01 Dec 2022   Prob (F-statistic):              0.335
Time:                        17:18:34   Log-Likelihood:                 39.350
No. Observations:                 102   AIC:                            -70.70
Df Residuals:                      98   BIC:                            -60.20
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          0.5611      0.059      9.501      0.000       0.444       0.678
tlp_motivation     0.0655      0.071      0.919      0.360      -0.076       0.207
tlp_fear          -0.0917      0.078     -1.174      0.243      -0.247       0.063
adtm_total        -0.0643      0.071     -0.907      0.366      -0.205       0.076
==============================================================================
Omnibus:                        0.391   Durbin-Watson:                   2.283
Prob(Omnibus):                  0.822   Jarque-Bera (JB):                0.222
Skew:                           0.113   Prob(JB):                        0.895
Kurtosis:                       3.029   Cond. No.                         7.17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# 2 초중고별

In [35]:
df3

,Unnamed: 2,schoolType,schoolYear,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
0,강민주,중,3,1.000000,1.000000,0.963393,0.000000,0.373239,0.450000
1,강윤지,중,1,0.518145,0.239969,0.388892,0.228050,0.968310,0.489170
2,곽지석,초,5,0.832061,0.916923,0.944509,0.131837,0.971831,0.688525
3,권도아,중,3,0.794225,0.554261,0.370412,0.150663,0.000000,0.558372
4,권민준,중,1,0.457842,0.129407,0.185559,0.542626,0.531690,0.363528
...,...,...,...,...,...,...,...,...,...
97,최부강,초,4,0.590541,0.693963,0.647816,0.441831,0.510563,0.451613
98,최은지,초,6,0.229472,0.526776,0.295935,0.315151,0.595070,0.614519
99,최현준,중,1,0.682057,0.823619,0.740773,0.351073,0.820423,0.634921
100,한문정,초,5,0.513506,0.413281,0.332997,0.350828,0.661972,0.414634
101,한채윤,초,5,0.495251,0.564839,0.704115,0.604367,0.848592,0.342995

In [36]:
df3=df3.reset_index()
df3

,index,Unnamed: 2,schoolType,schoolYear,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
0,0,강민주,중,3,1.000000,1.000000,0.963393,0.000000,0.373239,0.450000
1,1,강윤지,중,1,0.518145,0.239969,0.388892,0.228050,0.968310,0.489170
2,2,곽지석,초,5,0.832061,0.916923,0.944509,0.131837,0.971831,0.688525
3,3,권도아,중,3,0.794225,0.554261,0.370412,0.150663,0.000000,0.558372
4,4,권민준,중,1,0.457842,0.129407,0.185559,0.542626,0.531690,0.363528
...,...,...,...,...,...,...,...,...,...,...
97,97,최부강,초,4,0.590541,0.693963,0.647816,0.441831,0.510563,0.451613
98,98,최은지,초,6,0.229472,0.526776,0.295935,0.315151,0.595070,0.614519
99,99,최현준,중,1,0.682057,0.823619,0.740773,0.351073,0.820423,0.634921
100,100,한문정,초,5,0.513506,0.413281,0.332997,0.350828,0.661972,0.414634
101,101,한채윤,초,5,0.495251,0.564839,0.704115,0.604367,0.848592,0.342995

In [37]:
df_elemt = df3[ df3['schoolType']=='초' ]
df_elemt

,index,Unnamed: 2,schoolType,schoolYear,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
2,2,곽지석,초,5,0.832061,0.916923,0.944509,0.131837,0.971831,0.688525
6,6,김도우,초,5,0.554506,0.603355,0.462257,0.375099,0.380282,0.672131
7,7,김도현,초,3,0.537471,0.498804,0.444080,0.386482,0.140845,0.480287
8,8,김령경,초,5,0.479459,0.138013,0.370765,0.605919,0.816901,0.277778
9,9,김명지,초,5,0.347845,0.375332,0.462610,0.481763,0.211268,0.528986
10,10,김민기,초,3,0.262790,0.401890,0.222671,0.424955,0.524648,0.599104
11,11,김민상,초,6,0.882214,0.645029,0.685231,0.564492,0.718310,0.352496
12,12,김민성,초,4,0.291715,0.449621,0.388538,0.297233,0.623239,0.800000
14,14,김민지,초,6,0.597921,0.586525,0.667054,0.252430,0.464789,0.672316
19,19,김승민,초,5,0.253765,0.512519,0.333754,0.284543,0.281690,0.496477
21,21,김시형,초,3,0.445026,0.581305,0.463014,0.331451,0.577465,0.869281
22,22,김예린,초,5,0.689393,0.584103,0.704115,0.222011,0.352113,0.426791
23,23,김유정,초,6,0.364444,0.212903,0.222924,0.214260,0.633803,0.125000
24,24,김은서,초,4,0.509093,0.460436,0.314466,0.399877,0.848592,0.586957
25,25,김은혜,초,4,0.939716,0.603105,0.722242,0.907958,0.704225,0.496633
26,26,김정진,초,6,0.556475,0.493572,0.555264,0.409599,0.411972,0.384615
27,27,김준휘,초,4,0.251526,0.221102,0.259278,0.476435,0.690141,0.511111
29,29,김태현,초,5,0.602176,0.545723,0.629639,0.155489,0.447183,0.581301
31,31,문서준,초,6,0.186912,0.157887,0.481545,0.616790,0.415493,0.662651
32,32,박소이,초,4,0.802818,0.774254,0.537440,0.327784,0.285211,0.632653
33,33,박소희,초,6,0.283683,0.097029,0.296289,0.286995,0.485915,0.431507
35,35,박정아,초,4,0.493810,0.479463,0.388538,0.767078,0.302817,0.888889
36,36,박종엽,초,4,0.242100,0.379975,0.277051,0.530988,0.524648,0.497642
37,37,박지우,초,4,0.565233,0.493234,0.333704,0.589920,0.661972,0.721918
38,38,배서한,초,4,0.436663,0.000000,0.185963,0.858242,0.510563,0.555556
39,39,변상우,초,5,0.591015,0.694077,1.000000,0.088921,0.813380,0.323113
40,40,서소린,초,5,0.521968,0.625257,0.537793,0.249484,0.355634,0.562136
41,41,서제원,초,6,0.497721,0.512587,0.648574,0.288962,0.792254,0.421053
43,43,소재욱,초,5,0.417775,0.383282,0.555314,0.714031,0.845070,0.383287
45,45,송시영--,초,5,0.197707,0.195497,0.296390,0.315817,0.626761,0.775000
46,46,신유민,초,4,0.711180,0.876278,0.685181,0.175146,0.397887,0.633823
47,47,안우진,초,4,0.407693,0.598110,0.260035,0.237773,0.024648,0.338059
51,51,오지훈,초,6,0.962842,0.595088,0.741530,0.203347,0.746479,0.429895
55,55,이서현,초,5,0.727919,0.481660,0.555213,0.673213,0.330986,0.503356
64,64,이제민,초,4,0.280391,0.063656,0.278516,0.119648,0.552817,0.400000
66,66,이준수,초,5,0.767968,0.364165,0.389649,0.463357,0.602113,0.353061
67,67,이준원,초,6,0.602247,0.735365,0.610856,0.113244,0.190141,0.621891
69,69,이지예,초,6,0.877857,0.809837,0.962686,0.152616,0.619718,0.539535
71,71,이채민,초,4,0.625155,0.609446,0.351881,0.318209,0.387324,0.352451
72,72,이하윤,초,4,0.482203,0.634032,0.592628,0.198017,0.619718,0.497382
78,78,임찬민,초,3,0.383188,0.289288,0.222924,0.709298,0.468310,0.607843
88,88,정세린,초,5,0.881623,0.677576,0.982277,0.294501,0.492958,0.469565
89,89,정소연,초,6,0.056812,0.013601,0.148902,0.221462,0.753521,0.576271
92,92,정해린,초,6,0.604049,0.944658,0.963393,0.171732,0.242958,0.367521
94,94,조하원,초,5,0.745663,0.650600,0.833022,0.250560,0.545775,0.732899
95,95,진서율,초,4,0.796601,0.947680,0.925221,0.193891,0.330986,0.416446
97,97,최부강,초,4,0.590541,0.693963,0.647816,0.441831,0.510563,0.451613
98,98,최은지,초,6,0.229472,0.526776,0.295935,0.315151,0.595070,0.614519
100,100,한문정,초,5,0.513506,0.413281,0.332997,0.350828,0.661972,0.414634
101,101,한채윤,초,5,0.495251,0.564839,0.704115,0.604367,0.848592,0.342995

In [38]:
df_middle = df3[ df3['schoolType']=='중' ]
df_middle

,index,Unnamed: 2,schoolType,schoolYear,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
0,0,강민주,중,3,1.000000,1.000000,0.963393,0.000000,0.373239,0.450000
1,1,강윤지,중,1,0.518145,0.239969,0.388892,0.228050,0.968310,0.489170
3,3,권도아,중,3,0.794225,0.554261,0.370412,0.150663,0.000000,0.558372
4,4,권민준,중,1,0.457842,0.129407,0.185559,0.542626,0.531690,0.363528
5,5,김나현,중,1,0.605179,0.352842,0.426306,0.398206,0.774648,0.497059
13,13,김민솔,중,3,0.243609,0.366544,0.426306,0.256870,0.489437,0.372510
15,15,김상휘,중,2,0.503123,0.452250,0.351830,0.253236,0.070423,0.644086
16,16,김서은,중,1,0.231149,0.305618,0.444837,0.225457,0.640845,0.508772
17,17,김서이,중,1,0.954076,0.402533,0.740419,0.091529,0.598592,0.840000
18,18,김수안,중,1,0.607258,0.399511,0.388892,0.688227,0.500000,0.427245
20,20,김승재,중,3,0.250660,0.460267,0.518909,0.262174,0.288732,0.504782
28,28,김지민,중,1,0.856604,0.810019,0.871144,0.265763,0.112676,0.626773
30,30,김태희,중,1,0.528989,0.443462,0.388892,0.181129,0.742958,0.556529
34,34,박승민,중,3,0.787903,0.583752,0.537036,0.193795,0.049296,0.433824
42,42,서진성,중,2,0.078522,0.051799,0.166271,0.241736,0.144366,0.305109
44,44,송다은,중,2,0.833314,0.675299,0.703307,0.166006,0.250000,0.688654
48,48,안지현,중,1,0.539701,0.416769,0.277708,0.513141,0.517606,0.814621
49,49,오인택,중,1,0.408503,0.447187,0.703711,0.263053,0.492958,0.726368
50,50,오재민,중,2,0.484411,0.143177,0.425246,0.846242,0.235915,0.538462
52,52,윤체영,중,1,0.211171,0.173947,0.184852,0.312542,0.179577,0.519326
53,53,이가현,중,1,0.254058,0.408989,0.314819,0.551065,0.633803,0.493601
54,54,이강훈,중,2,0.806110,0.653216,0.481899,0.391695,0.172535,0.394292
56,56,이성민,중,3,0.777181,0.171149,0.389599,1.000000,0.528169,0.590909
57,57,이수민,중,1,0.409702,0.468580,0.463014,0.623767,0.309859,0.551845
58,58,이수민,중,3,0.609970,0.477004,0.463368,0.579204,0.422535,0.405542
59,59,이승찬,중,1,0.553715,0.757868,0.537440,0.091575,0.619718,0.618952
60,60,이시아,중,2,0.306450,0.300442,0.202979,0.318619,0.545775,0.414706
61,61,이예진,중,2,0.000000,0.206901,0.147841,0.128224,0.225352,0.730640
62,62,이은성,중,3,0.224302,0.350158,0.259278,0.231976,0.721831,0.552265
63,63,이재상,중,3,0.444045,0.308823,0.110427,0.681170,0.105634,0.371197
65,65,이주미,중,2,0.865688,0.352592,0.462964,0.812702,0.369718,0.201717
68,68,이준혁,중,2,0.533902,0.920127,0.925574,0.100783,0.204225,0.666667
70,70,이지한,중,2,0.625227,0.339580,0.463368,0.195808,0.609155,0.667732
73,73,이한영,중,3,0.547646,0.787698,0.426710,0.099978,0.785211,0.669903
74,74,이현지,중,3,0.433385,0.248405,0.129563,0.362341,0.316901,0.502203
75,75,이혜린,중,1,0.515081,0.418695,0.425953,0.444975,0.433099,0.758621
76,76,임성빈,중,3,0.544193,0.558815,0.481091,0.477544,0.355634,0.285714
77,77,임지훈,중,2,0.640175,0.520786,0.500328,0.727507,0.524648,0.569668
79,79,임호준,중,2,0.463977,0.542700,0.444837,0.281097,0.073944,0.478261
80,80,장성은,중,1,0.771575,0.716351,0.721838,0.305484,0.102113,0.782987
81,81,장시우,중,1,0.081451,0.165396,0.074123,0.243054,0.112676,0.520990
82,82,장예린,중,1,0.104942,0.355559,0.592679,0.601889,0.408451,0.315697
83,83,장주원,중,1,0.909027,0.443111,0.574097,0.393753,0.647887,0.690076
84,84,전세찬,중,1,0.469588,0.368754,0.425196,0.132784,0.433099,0.493124
85,85,전지은,중,3,0.826204,0.837389,0.888917,0.352113,0.165493,1.000000
86,86,전채원,중,1,0.086622,0.074526,0.000000,0.484183,0.295775,0.322581
87,87,정서윤,중,3,0.641508,0.473812,0.666650,0.388600,0.387324,0.814159
90,90,정재연,중,1,0.362264,0.085625,0.017824,0.735805,1.000000,0.000000
91,91,정지원,중,3,0.685182,0.991631,0.833022,0.059787,0.098592,0.404348
93,93,조규정,중,1,0.628364,0.460436,0.369654,0.548214,0.721831,0.547945
96,96,차우주,중,1,0.207375,0.383531,0.277455,0.630556,0.274648,0.769231
99,99,최현준,중,1,0.682057,0.823619,0.740773,0.351073,0.820423,0.634921

In [39]:
df_high = df3[ df3['schoolType']=='고' ]
df_high
# 고등학생 없음

Empty DataFrame
Columns: [index, Unnamed: 2, schoolType, schoolYear, tlp_motivation, tlp_attitude, tlp_strategy, tlp_fear, adtm_total, point]
Index: []

# 초등학생

In [40]:
from sklearn.model_selection import train_test_split

# train-test분리
X_train, X_test, y_train, y_test = train_test_split(df_elemt[['tlp_motivation', 'tlp_fear', 'adtm_total']],df_elemt[['point']])

# train-validation분리
X2_train, X2_val, y2_train, y_val = train_test_split(X_train, y_train)

In [41]:
import numpy as np

for name, model in models.items():
    model = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(name,':', r2)
    print("rmse : ", rmse)
    print()

LR : -0.0853079642031409
rmse :  0.1670763643636116

LS : -0.0038235158700510308
rmse :  0.16068199085468862

RG : -0.042420286832439036
rmse :  0.16374194645313744

RF : -0.1739196058222987
rmse :  0.17376315734316733

XGB : -0.4876078803110615
rmse :  0.1956062631700884

GB : -0.447649442803729
rmse :  0.19296130387831825

DT : -0.4640139541863102
rmse :  0.19404887507554627

C:\Users\wl\AppData\Local\Temp/ipykernel_1628/3549648255.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = model.fit(X_train, y_train)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

# 중학생

In [42]:
from sklearn.model_selection import train_test_split

# train-test분리
X_train, X_test, y_train, y_test = train_test_split(df_middle[['tlp_motivation', 'tlp_fear', 'adtm_total']],df_middle[['point']])

# train-validation분리
X2_train, X2_val, y2_train, y_val = train_test_split(X_train, y_train)

In [43]:
import numpy as np

for name, model in models.items():
    model = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(name,':', r2)
    print("rmse : ", rmse)
    print()

LR : -1.0521553391915437
rmse :  0.19313454104038677

LS : -0.059577020564709704
rmse :  0.13877815245441655

RG : -0.6906743653992278
rmse :  0.175301172078933

RF : -1.8162802307735082
rmse :  0.22625217833462363

XGB : -2.554113842346694
rmse :  0.2541677844581633

GB : -2.110623693878074
rmse :  0.23778178000749536

DT : -2.977565215422442
rmse :  0.26888309002646754

C:\Users\wl\AppData\Local\Temp/ipykernel_1628/3549648255.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = model.fit(X_train, y_train)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

# 초중고 세부학년별

In [44]:
df

,Unnamed: 0,diag_student_id,student_id_x,LMS번호,Unnamed: 2,schoolType,schoolYear,section3_score,section4_score,section5_score,...,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,student_id_y,result,solve_time,count
0,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,...,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,69,1
1,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,...,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,82,1
2,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,...,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,51,1
3,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,...,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,92,1
4,155,928,2254,928.0,이지예,초,6,0.372340,0.48,0.287356,...,0.740741,0.877857,0.809837,0.962686,0.152616,0.619718,928,1,110,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74170,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,...,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,0,300,1
74171,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,...,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,1,163,1
74172,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,...,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,0,15,1
74173,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,...,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,1,105,1
74174,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.114943,...,0.000000,0.787903,0.583752,0.537036,0.193795,0.049296,9905,1,40,1

# 초3

In [46]:
# df_elemt_3 = df[ ( df['schoolType']=='초' ) & ( df['schoolYear']==3 ) ]
# df_elemt_3

,Unnamed: 0,diag_student_id,student_id_x,LMS번호,Unnamed: 2,schoolType,schoolYear,section3_score,section4_score,section5_score,...,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,student_id_y,result,solve_time,count
16257,351,5769,11813,5769.0,김시형,초,3,0.638298,0.60,0.586207,...,0.061728,0.445026,0.581305,0.463014,0.331451,0.577465,5769,1,131,1
16258,351,5769,11813,5769.0,김시형,초,3,0.638298,0.60,0.586207,...,0.061728,0.445026,0.581305,0.463014,0.331451,0.577465,5769,1,107,1
16259,351,5769,11813,5769.0,김시형,초,3,0.638298,0.60,0.586207,...,0.061728,0.445026,0.581305,0.463014,0.331451,0.577465,5769,1,77,1
16260,351,5769,11813,5769.0,김시형,초,3,0.638298,0.60,0.586207,...,0.061728,0.445026,0.581305,0.463014,0.331451,0.577465,5769,1,59,1
16261,351,5769,11813,5769.0,김시형,초,3,0.638298,0.60,0.586207,...,0.061728,0.445026,0.581305,0.463014,0.331451,0.577465,5769,1,125,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39456,379,7938,14989,7938.0,임찬민,초,3,0.617021,0.41,0.459770,...,0.000000,0.383188,0.289288,0.222924,0.709298,0.468310,7938,1,112,1
39457,379,7938,14989,7938.0,임찬민,초,3,0.617021,0.41,0.459770,...,0.000000,0.383188,0.289288,0.222924,0.709298,0.468310,7938,1,66,1
39458,379,7938,14989,7938.0,임찬민,초,3,0.617021,0.41,0.459770,...,0.000000,0.383188,0.289288,0.222924,0.709298,0.468310,7938,1,94,1
39459,379,7938,14989,7938.0,임찬민,초,3,0.617021,0.41,0.459770,...,0.000000,0.383188,0.289288,0.222924,0.709298,0.468310,7938,1,71,1
39460,379,7938,14989,7938.0,임찬민,초,3,0.617021,0.41,0.459770,...,0.000000,0.383188,0.289288,0.222924,0.709298,0.468310,7938,1,16,1

In [47]:
# df_elemt_3 = df_elemt_3.groupby(["Unnamed: 2","schoolType", "schoolYear"]).agg({
#     'section3_score': "mean", 
#     'section4_score': "mean",
#     'section5_score': "mean",
#     'section6_score': "mean",
#     'section7_score': "mean",
#     'tlp_motivation': "mean",
#     'tlp_attitude'  : "mean",
#     'tlp_strategy'  : "mean",
#     'tlp_fear'      : "mean",
#     'adtm_total'    : "mean", 
#     'solve_time'    : "mean",
    
#     'result'        : "sum",
#     'count'         : "sum"  })
# df_elemt_3

,,,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,solve_time,result,count
Unnamed: 2,schoolType,schoolYear,,,,,,,,,,,,,
김도현,초,3,0.457447,0.05,0.045977,0.000000,0.000000,0.537471,0.498804,0.444080,0.386482,0.140845,70.347670,134,279
김민기,초,3,0.276596,0.67,0.321839,0.833333,0.185185,0.262790,0.401890,0.222671,0.424955,0.524648,62.499440,535,893
김시형,초,3,0.638298,0.60,0.586207,0.000000,0.061728,0.445026,0.581305,0.463014,0.331451,0.577465,73.366013,532,612
임찬민,초,3,0.617021,0.41,0.459770,0.200000,0.000000,0.383188,0.289288,0.222924,0.709298,0.468310,82.852187,403,663

In [51]:
sum( (df_elemt['schoolType']=='초' ) & ( df_elemt['schoolYear']==6 ) )

13

In [52]:
sum( (df_middle['schoolType']=='중' ) & ( df_middle['schoolYear']==3 ) )

15

In [53]:
sum( (df_high['schoolType']=='고' ) & ( df_high['schoolYear']==1 ) )

0

In [54]:
'''
<학년별 인원>
초1 : 0
초2 : 0
초3 : 4
초4 : 16
초5 : 17
초6 : 13

중1 : 25
중2 : 12
중3 : 15

고1 : 0
고2 : 0
고3 : 0

'''

'\n초1 : 0\n초2 : 0\n초3 : 4\n초4 : 16\n초5 : 17\n초6 : 13\n\n중1 : 25\n중2 : 12\n중3 : 15\n\n고1 : 0\n고2 : 0\n고3 : 0\n\n'

# 초3

In [49]:
df_elemt_3 = df_elemt[ (df_elemt['schoolType']=='초' ) & ( df_elemt['schoolYear']==3 ) ]
df_elemt_3

,index,Unnamed: 2,schoolType,schoolYear,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
7,7,김도현,초,3,0.537471,0.498804,0.444080,0.386482,0.140845,0.480287
10,10,김민기,초,3,0.262790,0.401890,0.222671,0.424955,0.524648,0.599104
21,21,김시형,초,3,0.445026,0.581305,0.463014,0.331451,0.577465,0.869281
78,78,임찬민,초,3,0.383188,0.289288,0.222924,0.709298,0.468310,0.607843

In [50]:
from sklearn.model_selection import train_test_split

# train-test분리
X_train, X_test, y_train, y_test = train_test_split(df_elemt_3[['tlp_motivation', 'tlp_fear', 'adtm_total']],df_elemt_3[['point']])

# train-validation분리
X2_train, X2_val, y2_train, y_val = train_test_split(X_train, y_train)

In [51]:
import numpy as np

for name, model in models.items():
    model = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(name,':', r2)
    print("rmse : ", rmse)
    print()

LR : nan
rmse :  0.34824845929040515

LS : nan
rmse :  0.21178937042994617

RG : nan
rmse :  0.21431875767656128

RF : nan
rmse :  0.23203685327277912

XGB : nan
rmse :  0.3880615025011015

GB : nan
rmse :  0.17247373303540325

DT : nan
rmse :  0.11881740498581161

C:\Users\wl\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:682: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:682: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:682: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\wl\AppData\Local\Temp/ipykernel_1628/3549648255.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = model.fit(X_train, y_train)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:682: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:682: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:682: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:682: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

# 초4

In [52]:
df_elemt_4 = df_elemt[ (df_elemt['schoolType']=='초' ) & ( df_elemt['schoolYear']==4 ) ]
df_elemt_4

,index,Unnamed: 2,schoolType,schoolYear,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
12,12,김민성,초,4,0.291715,0.449621,0.388538,0.297233,0.623239,0.800000
24,24,김은서,초,4,0.509093,0.460436,0.314466,0.399877,0.848592,0.586957
25,25,김은혜,초,4,0.939716,0.603105,0.722242,0.907958,0.704225,0.496633
27,27,김준휘,초,4,0.251526,0.221102,0.259278,0.476435,0.690141,0.511111
32,32,박소이,초,4,0.802818,0.774254,0.537440,0.327784,0.285211,0.632653
35,35,박정아,초,4,0.493810,0.479463,0.388538,0.767078,0.302817,0.888889
36,36,박종엽,초,4,0.242100,0.379975,0.277051,0.530988,0.524648,0.497642
37,37,박지우,초,4,0.565233,0.493234,0.333704,0.589920,0.661972,0.721918
38,38,배서한,초,4,0.436663,0.000000,0.185963,0.858242,0.510563,0.555556
46,46,신유민,초,4,0.711180,0.876278,0.685181,0.175146,0.397887,0.633823
47,47,안우진,초,4,0.407693,0.598110,0.260035,0.237773,0.024648,0.338059
64,64,이제민,초,4,0.280391,0.063656,0.278516,0.119648,0.552817,0.400000
71,71,이채민,초,4,0.625155,0.609446,0.351881,0.318209,0.387324,0.352451
72,72,이하윤,초,4,0.482203,0.634032,0.592628,0.198017,0.619718,0.497382
95,95,진서율,초,4,0.796601,0.947680,0.925221,0.193891,0.330986,0.416446
97,97,최부강,초,4,0.590541,0.693963,0.647816,0.441831,0.510563,0.451613

In [53]:
from sklearn.model_selection import train_test_split

# train-test분리
X_train, X_test, y_train, y_test = train_test_split(df_elemt_4[['tlp_motivation', 'tlp_fear', 'adtm_total']],df_elemt_4[['point']])

# train-validation분리
X2_train, X2_val, y2_train, y_val = train_test_split(X_train, y_train)

In [54]:
import numpy as np

for name, model in models.items():
    model = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(name,':', r2)
    print("rmse : ", rmse)
    print()

LR : -4.16574328378981
rmse :  0.18689056475235213

LS : -1.4124388732866726
rmse :  0.12771712258658915

RG : -1.5384802439410477
rmse :  0.13101102981444054

RF : -4.835350273141012
rmse :  0.19863438570188724

XGB : -13.010728720772468
rmse :  0.30778774844049805

GB : -10.49920855690245
rmse :  0.2788399151280469

DT : -6.206994167374155
rmse :  0.22074864772251515

C:\Users\wl\AppData\Local\Temp/ipykernel_1628/3549648255.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = model.fit(X_train, y_train)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

#  초5

In [55]:
df_elemt_5 = df_elemt[ (df_elemt['schoolType']=='초' ) & ( df_elemt['schoolYear']==5 ) ]
df_elemt_5

,index,Unnamed: 2,schoolType,schoolYear,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
2,2,곽지석,초,5,0.832061,0.916923,0.944509,0.131837,0.971831,0.688525
6,6,김도우,초,5,0.554506,0.603355,0.462257,0.375099,0.380282,0.672131
8,8,김령경,초,5,0.479459,0.138013,0.370765,0.605919,0.816901,0.277778
9,9,김명지,초,5,0.347845,0.375332,0.462610,0.481763,0.211268,0.528986
19,19,김승민,초,5,0.253765,0.512519,0.333754,0.284543,0.281690,0.496477
22,22,김예린,초,5,0.689393,0.584103,0.704115,0.222011,0.352113,0.426791
29,29,김태현,초,5,0.602176,0.545723,0.629639,0.155489,0.447183,0.581301
39,39,변상우,초,5,0.591015,0.694077,1.000000,0.088921,0.813380,0.323113
40,40,서소린,초,5,0.521968,0.625257,0.537793,0.249484,0.355634,0.562136
43,43,소재욱,초,5,0.417775,0.383282,0.555314,0.714031,0.845070,0.383287
45,45,송시영--,초,5,0.197707,0.195497,0.296390,0.315817,0.626761,0.775000
55,55,이서현,초,5,0.727919,0.481660,0.555213,0.673213,0.330986,0.503356
66,66,이준수,초,5,0.767968,0.364165,0.389649,0.463357,0.602113,0.353061
88,88,정세린,초,5,0.881623,0.677576,0.982277,0.294501,0.492958,0.469565
94,94,조하원,초,5,0.745663,0.650600,0.833022,0.250560,0.545775,0.732899
100,100,한문정,초,5,0.513506,0.413281,0.332997,0.350828,0.661972,0.414634
101,101,한채윤,초,5,0.495251,0.564839,0.704115,0.604367,0.848592,0.342995

In [56]:
from sklearn.model_selection import train_test_split

# train-test분리
X_train, X_test, y_train, y_test = train_test_split(df_elemt_5[['tlp_motivation', 'tlp_fear', 'adtm_total']],df_elemt_5[['point']])

# train-validation분리
X2_train, X2_val, y2_train, y_val = train_test_split(X_train, y_train)

In [57]:
import numpy as np

for name, model in models.items():
    model = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(name,':', r2)
    print("rmse : ", rmse)
    print()

LR : -0.19229475952045294
rmse :  0.11607467133113807

LS : -0.37619442025394445
rmse :  0.12470548088229796

RG : -0.2008097481051827
rmse :  0.11648841805904689

RF : -0.19889477683318924
rmse :  0.11639549701950869

XGB : -0.338572217398061
rmse :  0.12298907875921071

GB : -0.6908007819668649
rmse :  0.13822667619255855

DT : -1.1063268184702588
rmse :  0.15427960694601506

C:\Users\wl\AppData\Local\Temp/ipykernel_1628/3549648255.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = model.fit(X_train, y_train)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

# 초6

In [58]:
df_elemt_6 = df_elemt[ (df_elemt['schoolType']=='초' ) & ( df_elemt['schoolYear']==6 ) ]
df_elemt_6

,index,Unnamed: 2,schoolType,schoolYear,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
11,11,김민상,초,6,0.882214,0.645029,0.685231,0.564492,0.718310,0.352496
14,14,김민지,초,6,0.597921,0.586525,0.667054,0.252430,0.464789,0.672316
23,23,김유정,초,6,0.364444,0.212903,0.222924,0.214260,0.633803,0.125000
26,26,김정진,초,6,0.556475,0.493572,0.555264,0.409599,0.411972,0.384615
31,31,문서준,초,6,0.186912,0.157887,0.481545,0.616790,0.415493,0.662651
33,33,박소희,초,6,0.283683,0.097029,0.296289,0.286995,0.485915,0.431507
41,41,서제원,초,6,0.497721,0.512587,0.648574,0.288962,0.792254,0.421053
51,51,오지훈,초,6,0.962842,0.595088,0.741530,0.203347,0.746479,0.429895
67,67,이준원,초,6,0.602247,0.735365,0.610856,0.113244,0.190141,0.621891
69,69,이지예,초,6,0.877857,0.809837,0.962686,0.152616,0.619718,0.539535
89,89,정소연,초,6,0.056812,0.013601,0.148902,0.221462,0.753521,0.576271
92,92,정해린,초,6,0.604049,0.944658,0.963393,0.171732,0.242958,0.367521
98,98,최은지,초,6,0.229472,0.526776,0.295935,0.315151,0.595070,0.614519

In [59]:
from sklearn.model_selection import train_test_split

# train-test분리
X_train, X_test, y_train, y_test = train_test_split(df_elemt_6[['tlp_motivation', 'tlp_fear', 'adtm_total']],df_elemt_6[['point']])

# train-validation분리
X2_train, X2_val, y2_train, y_val = train_test_split(X_train, y_train)

In [65]:
#####
import numpy as np

for name, model in models.items():
    model = model.fit(X_train, y_train)
    y_pred = model.predict(X_test) 
    y_pred = pd.DataFrame(y_pred) ###

    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(name,':', r2)
    print("rmse : ", rmse)
    print()

LR : -3.888923655674322
rmse :  0.25422296866485644

LS : -1.030153146017335
rmse :  0.1638221262465273

RG : -1.226076341369858
rmse :  0.17154504774101637

RF : -3.3535941323403238
rmse :  0.23990103832780307

XGB : -3.1501571273229922
rmse :  0.23422887254349195

GB : -2.3091090945924493
rmse :  0.20915280852776708

DT : -2.3588998273739534
rmse :  0.21072044954792868

C:\Users\wl\AppData\Local\Temp/ipykernel_1628/790727065.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = model.fit(X_train, y_train)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

# 중1

In [71]:
df_middle_1 = df_middle[ (df_middle['schoolType']=='중' ) & ( df_middle['schoolYear']==1 ) ]
df_middle_1

,index,Unnamed: 2,schoolType,schoolYear,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
1,1,강윤지,중,1,0.518145,0.239969,0.388892,0.228050,0.968310,0.489170
4,4,권민준,중,1,0.457842,0.129407,0.185559,0.542626,0.531690,0.363528
5,5,김나현,중,1,0.605179,0.352842,0.426306,0.398206,0.774648,0.497059
16,16,김서은,중,1,0.231149,0.305618,0.444837,0.225457,0.640845,0.508772
17,17,김서이,중,1,0.954076,0.402533,0.740419,0.091529,0.598592,0.840000
18,18,김수안,중,1,0.607258,0.399511,0.388892,0.688227,0.500000,0.427245
28,28,김지민,중,1,0.856604,0.810019,0.871144,0.265763,0.112676,0.626773
30,30,김태희,중,1,0.528989,0.443462,0.388892,0.181129,0.742958,0.556529
48,48,안지현,중,1,0.539701,0.416769,0.277708,0.513141,0.517606,0.814621
49,49,오인택,중,1,0.408503,0.447187,0.703711,0.263053,0.492958,0.726368
52,52,윤체영,중,1,0.211171,0.173947,0.184852,0.312542,0.179577,0.519326
53,53,이가현,중,1,0.254058,0.408989,0.314819,0.551065,0.633803,0.493601
57,57,이수민,중,1,0.409702,0.468580,0.463014,0.623767,0.309859,0.551845
59,59,이승찬,중,1,0.553715,0.757868,0.537440,0.091575,0.619718,0.618952
75,75,이혜린,중,1,0.515081,0.418695,0.425953,0.444975,0.433099,0.758621
80,80,장성은,중,1,0.771575,0.716351,0.721838,0.305484,0.102113,0.782987
81,81,장시우,중,1,0.081451,0.165396,0.074123,0.243054,0.112676,0.520990
82,82,장예린,중,1,0.104942,0.355559,0.592679,0.601889,0.408451,0.315697
83,83,장주원,중,1,0.909027,0.443111,0.574097,0.393753,0.647887,0.690076
84,84,전세찬,중,1,0.469588,0.368754,0.425196,0.132784,0.433099,0.493124
86,86,전채원,중,1,0.086622,0.074526,0.000000,0.484183,0.295775,0.322581
90,90,정재연,중,1,0.362264,0.085625,0.017824,0.735805,1.000000,0.000000
93,93,조규정,중,1,0.628364,0.460436,0.369654,0.548214,0.721831,0.547945
96,96,차우주,중,1,0.207375,0.383531,0.277455,0.630556,0.274648,0.769231
99,99,최현준,중,1,0.682057,0.823619,0.740773,0.351073,0.820423,0.634921

In [72]:
from sklearn.model_selection import train_test_split

# train-test분리
X_train, X_test, y_train, y_test = train_test_split(df_middle_1[['tlp_motivation', 'tlp_fear', 'adtm_total']],df_middle_1[['point']])

# train-validation분리
X2_train, X2_val, y2_train, y_val = train_test_split(X_train, y_train)

In [73]:
import numpy as np

for name, model in models.items():
    model = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(name,':', r2)
    print("rmse : ", rmse)
    print()

LR : -2.6379954656589213
rmse :  0.19955087513131178

LS : -0.5069988495579225
rmse :  0.12843370775706592

RG : -1.1662167432789645
rmse :  0.1539832615101596

RF : -2.0823201737192685
rmse :  0.18367981545627085

XGB : -3.015318610412372
rmse :  0.20964406199360605

GB : -3.324524895716136
rmse :  0.21756636751359945

DT : -4.435046286466595
rmse :  0.24390695451354907

C:\Users\wl\AppData\Local\Temp/ipykernel_1628/3549648255.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = model.fit(X_train, y_train)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

# 중2

In [74]:
df_middle_2 = df_middle[ (df_middle['schoolType']=='중' ) & ( df_middle['schoolYear']==2 ) ]
df_middle_2

,index,Unnamed: 2,schoolType,schoolYear,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
15,15,김상휘,중,2,0.503123,0.452250,0.351830,0.253236,0.070423,0.644086
42,42,서진성,중,2,0.078522,0.051799,0.166271,0.241736,0.144366,0.305109
44,44,송다은,중,2,0.833314,0.675299,0.703307,0.166006,0.250000,0.688654
50,50,오재민,중,2,0.484411,0.143177,0.425246,0.846242,0.235915,0.538462
54,54,이강훈,중,2,0.806110,0.653216,0.481899,0.391695,0.172535,0.394292
60,60,이시아,중,2,0.306450,0.300442,0.202979,0.318619,0.545775,0.414706
61,61,이예진,중,2,0.000000,0.206901,0.147841,0.128224,0.225352,0.730640
65,65,이주미,중,2,0.865688,0.352592,0.462964,0.812702,0.369718,0.201717
68,68,이준혁,중,2,0.533902,0.920127,0.925574,0.100783,0.204225,0.666667
70,70,이지한,중,2,0.625227,0.339580,0.463368,0.195808,0.609155,0.667732
77,77,임지훈,중,2,0.640175,0.520786,0.500328,0.727507,0.524648,0.569668
79,79,임호준,중,2,0.463977,0.542700,0.444837,0.281097,0.073944,0.478261

In [75]:
from sklearn.model_selection import train_test_split

# train-test분리
X_train, X_test, y_train, y_test = train_test_split(df_middle_2[['tlp_motivation', 'tlp_fear', 'adtm_total']],df_middle_2[['point']])

# train-validation분리
X2_train, X2_val, y2_train, y_val = train_test_split(X_train, y_train)

In [76]:
import numpy as np

for name, model in models.items():
    model = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(name,':', r2)
    print("rmse : ", rmse)
    print()

LR : 0.3309424002929334
rmse :  0.1695398880169006

LS : -0.06076308652554463
rmse :  0.21347613784263492

RG : 0.06904894196553324
rmse :  0.19998782759586878

RF : 0.2859900107514812
rmse :  0.17514279729678658

XGB : 0.1259562200783655
rmse :  0.193779009266365

GB : 0.4276735273046681
rmse :  0.1568057756686734

DT : 0.1092143927271364
rmse :  0.19562607146864594

C:\Users\wl\AppData\Local\Temp/ipykernel_1628/3549648255.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = model.fit(X_train, y_train)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

# 중3

In [77]:
df_middle_3 = df_middle[ (df_middle['schoolType']=='중' ) & ( df_middle['schoolYear']==3 ) ]
df_middle_3

,index,Unnamed: 2,schoolType,schoolYear,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
0,0,강민주,중,3,1.000000,1.000000,0.963393,0.000000,0.373239,0.450000
3,3,권도아,중,3,0.794225,0.554261,0.370412,0.150663,0.000000,0.558372
13,13,김민솔,중,3,0.243609,0.366544,0.426306,0.256870,0.489437,0.372510
20,20,김승재,중,3,0.250660,0.460267,0.518909,0.262174,0.288732,0.504782
34,34,박승민,중,3,0.787903,0.583752,0.537036,0.193795,0.049296,0.433824
56,56,이성민,중,3,0.777181,0.171149,0.389599,1.000000,0.528169,0.590909
58,58,이수민,중,3,0.609970,0.477004,0.463368,0.579204,0.422535,0.405542
62,62,이은성,중,3,0.224302,0.350158,0.259278,0.231976,0.721831,0.552265
63,63,이재상,중,3,0.444045,0.308823,0.110427,0.681170,0.105634,0.371197
73,73,이한영,중,3,0.547646,0.787698,0.426710,0.099978,0.785211,0.669903
74,74,이현지,중,3,0.433385,0.248405,0.129563,0.362341,0.316901,0.502203
76,76,임성빈,중,3,0.544193,0.558815,0.481091,0.477544,0.355634,0.285714
85,85,전지은,중,3,0.826204,0.837389,0.888917,0.352113,0.165493,1.000000
87,87,정서윤,중,3,0.641508,0.473812,0.666650,0.388600,0.387324,0.814159
91,91,정지원,중,3,0.685182,0.991631,0.833022,0.059787,0.098592,0.404348

In [78]:
from sklearn.model_selection import train_test_split

# train-test분리
X_train, X_test, y_train, y_test = train_test_split(df_middle_3[['tlp_motivation', 'tlp_fear', 'adtm_total']],df_middle_3[['point']])

# train-validation분리
X2_train, X2_val, y2_train, y_val = train_test_split(X_train, y_train)

In [79]:
import numpy as np

for name, model in models.items():
    model = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(name,':', r2)
    print("rmse : ", rmse)
    print()

LR : -6.353187522832484
rmse :  0.27185432779779345

LS : -3.0832723144070853
rmse :  0.20258281537761505

RG : -3.875906687515621
rmse :  0.2213737506598297

RF : -5.70868501668949
rmse :  0.2596672216329316

XGB : -6.834911259160393
rmse :  0.28061796528026045

GB : -6.71803228467473
rmse :  0.27851701104187937

DT : -4.833153007850129
rmse :  0.24213084328896603

C:\Users\wl\AppData\Local\Temp/ipykernel_1628/3549648255.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = model.fit(X_train, y_train)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

# ============================================================

# rating test data

In [81]:
df_rating_test = pd.read_csv(folder + "1 able_ratingtest_student_result.csv")
df_rating_test

,id,student_id,exam_id,exam_request_id,answer_id,order,insert_data,result,created_date
0,571,172,109,6,2161,1,3,0,42489
1,572,172,109,6,2162,2,3,1,42489
2,573,172,109,6,2163,3,3,1,42489
3,574,172,109,6,2164,4,3,0,42489
4,575,172,109,6,2165,5,NaN,0,42489
...,...,...,...,...,...,...,...,...,...
858124,858735,14993,1088,47142,12216,26,5,0,44685
858125,858736,14993,1088,47142,12217,27,5,1,44685
858126,858737,14993,1088,47142,12218,28,4,1,44685
858127,858738,14993,1088,47142,12219,29,60,1,44685
858128,858739,14993,1088,47142,12220,30,4,1,44685

In [82]:
df_rating_test = df_rating_test[['student_id', 'result']]
df_rating_test

        student_id  result
0              172       0
1              172       1
2              172       1
3              172       0
4              172       0
...            ...     ...
858124       14993       0
858125       14993       1
858126       14993       1
858127       14993       1
858128       14993       1

[858129 rows x 2 columns]

In [83]:
df_rating_merge = pd.merge(df1, df_rating_test , left_on='LMS번호', right_on='student_id', how='inner')
df_rating_merge

,Unnamed: 0,diag_student_id,student_id_x,LMS번호,Unnamed: 2,schoolType,schoolYear,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,student_id_y,result
0,255,1551,3122,1551.0,오인택,중,1,0.26,0.58,0.44,0.375,0.111111,0.368237,0.447187,0.703711,0.298353,0.486111,1551,1
1,255,1551,3122,1551.0,오인택,중,1,0.26,0.58,0.44,0.375,0.111111,0.368237,0.447187,0.703711,0.298353,0.486111,1551,1
2,255,1551,3122,1551.0,오인택,중,1,0.26,0.58,0.44,0.375,0.111111,0.368237,0.447187,0.703711,0.298353,0.486111,1551,1
3,255,1551,3122,1551.0,오인택,중,1,0.26,0.58,0.44,0.375,0.111111,0.368237,0.447187,0.703711,0.298353,0.486111,1551,1
4,255,1551,3122,1551.0,오인택,중,1,0.26,0.58,0.44,0.375,0.111111,0.368237,0.447187,0.703711,0.298353,0.486111,1551,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6375,418,9905,18305,9905.0,박승민,중,3,0.09,0.07,0.10,0.000,0.000000,0.657936,0.583752,0.537036,0.240563,0.048611,9905,0
6376,418,9905,18305,9905.0,박승민,중,3,0.09,0.07,0.10,0.000,0.000000,0.657936,0.583752,0.537036,0.240563,0.048611,9905,1
6377,418,9905,18305,9905.0,박승민,중,3,0.09,0.07,0.10,0.000,0.000000,0.657936,0.583752,0.537036,0.240563,0.048611,9905,1
6378,418,9905,18305,9905.0,박승민,중,3,0.09,0.07,0.10,0.000,0.000000,0.657936,0.583752,0.537036,0.240563,0.048611,9905,1
6379,418,9905,18305,9905.0,박승민,중,3,0.09,0.07,0.10,0.000,0.000000,0.657936,0.583752,0.537036,0.240563,0.048611,9905,1

In [84]:
df_rating_merge.describe()

,Unnamed: 0,diag_student_id,student_id_x,LMS번호,schoolYear,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,student_id_y,result
count,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000
mean,372.681818,7376.960815,13783.727273,7376.960815,3.167712,0.457806,0.447053,0.312602,0.144788,0.181102,0.501742,0.584694,0.537101,0.338638,0.452107,7376.960815,0.761755
std,21.797584,1446.894361,2717.347873,1446.894361,1.756923,0.210813,0.266619,0.207549,0.209629,0.211180,0.185569,0.212024,0.234255,0.137307,0.247234,1446.894361,0.426043
min,255.000000,1551.000000,2644.000000,1551.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.118510,0.063656,0.074123,0.078853,0.000000,1551.000000,0.000000
25%,365.000000,7030.000000,12524.000000,7030.000000,1.000000,0.310000,0.210000,0.120000,0.000000,0.012346,0.348908,0.401890,0.332997,0.248533,0.281250,7030.000000,1.000000
50%,374.000000,7727.000000,14387.000000,7727.000000,3.000000,0.500000,0.540000,0.300000,0.050000,0.074074,0.516175,0.584103,0.537440,0.300615,0.458333,7727.000000,1.000000
75%,386.000000,8139.000000,15206.000000,8139.000000,5.000000,0.570000,0.650000,0.460000,0.150000,0.370370,0.664577,0.810019,0.740773,0.371801,0.652778,8139.000000,1.000000
max,418.000000,9905.000000,18364.000000,9905.000000,6.000000,0.940000,1.000000,0.860000,0.750000,0.679012,0.819887,1.000000,0.963393,0.757000,0.958333,9905.000000,1.000000

In [85]:
# 스케일링
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_rating_merge[['section3_score', 'section4_score',
       'section5_score', 'section6_score', 'section7_score', 'tlp_motivation', 'tlp_attitude', 'tlp_strategy',
       'tlp_fear', 'adtm_total']] = scaler.fit_transform(df_rating_merge[['section3_score', 'section4_score',
       'section5_score', 'section6_score', 'section7_score', 'tlp_motivation', 'tlp_attitude', 'tlp_strategy',
       'tlp_fear', 'adtm_total']])
df_rating_merge

,Unnamed: 0,diag_student_id,student_id_x,LMS번호,Unnamed: 2,schoolType,schoolYear,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,student_id_y,result
0,255,1551,3122,1551.0,오인택,중,1,0.276596,0.58,0.511628,0.5,0.163636,0.356053,0.409605,0.707983,0.323677,0.507246,1551,1
1,255,1551,3122,1551.0,오인택,중,1,0.276596,0.58,0.511628,0.5,0.163636,0.356053,0.409605,0.707983,0.323677,0.507246,1551,1
2,255,1551,3122,1551.0,오인택,중,1,0.276596,0.58,0.511628,0.5,0.163636,0.356053,0.409605,0.707983,0.323677,0.507246,1551,1
3,255,1551,3122,1551.0,오인택,중,1,0.276596,0.58,0.511628,0.5,0.163636,0.356053,0.409605,0.707983,0.323677,0.507246,1551,1
4,255,1551,3122,1551.0,오인택,중,1,0.276596,0.58,0.511628,0.5,0.163636,0.356053,0.409605,0.707983,0.323677,0.507246,1551,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6375,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.116279,0.0,0.000000,0.769095,0.555454,0.520554,0.238458,0.050725,9905,0
6376,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.116279,0.0,0.000000,0.769095,0.555454,0.520554,0.238458,0.050725,9905,1
6377,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.116279,0.0,0.000000,0.769095,0.555454,0.520554,0.238458,0.050725,9905,1
6378,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.116279,0.0,0.000000,0.769095,0.555454,0.520554,0.238458,0.050725,9905,1
6379,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.116279,0.0,0.000000,0.769095,0.555454,0.520554,0.238458,0.050725,9905,1

In [86]:
df_rating_merge.describe()

,Unnamed: 0,diag_student_id,student_id_x,LMS번호,schoolYear,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,student_id_y,result
count,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000,6380.000000
mean,372.681818,7376.960815,13783.727273,7376.960815,3.167712,0.487027,0.447053,0.363491,0.193051,0.266714,0.546399,0.556460,0.520628,0.383080,0.471764,7376.960815,0.761755
std,21.797584,1446.894361,2717.347873,1446.894361,1.756923,0.224270,0.266619,0.241337,0.279505,0.311010,0.264579,0.226438,0.263424,0.202474,0.257984,1446.894361,0.426043
min,255.000000,1551.000000,2644.000000,1551.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1551.000000,0.000000
25%,365.000000,7030.000000,12524.000000,7030.000000,1.000000,0.329787,0.210000,0.139535,0.000000,0.018182,0.328493,0.361228,0.291108,0.250211,0.293478,7030.000000,1.000000
50%,374.000000,7727.000000,14387.000000,7727.000000,3.000000,0.531915,0.540000,0.348837,0.066667,0.109091,0.566977,0.555829,0.521008,0.327012,0.478261,7727.000000,1.000000
75%,386.000000,8139.000000,15206.000000,8139.000000,5.000000,0.606383,0.650000,0.534884,0.200000,0.545455,0.778565,0.797103,0.749659,0.431983,0.681159,8139.000000,1.000000
max,418.000000,9905.000000,18364.000000,9905.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9905.000000,1.000000

In [87]:
# 학생 점수 계산위해 count 변수 추가
df_rating_merge['count'] = 1
df_rating_merge

,Unnamed: 0,diag_student_id,student_id_x,LMS번호,Unnamed: 2,schoolType,schoolYear,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,student_id_y,result,count
0,255,1551,3122,1551.0,오인택,중,1,0.276596,0.58,0.511628,0.5,0.163636,0.356053,0.409605,0.707983,0.323677,0.507246,1551,1,1
1,255,1551,3122,1551.0,오인택,중,1,0.276596,0.58,0.511628,0.5,0.163636,0.356053,0.409605,0.707983,0.323677,0.507246,1551,1,1
2,255,1551,3122,1551.0,오인택,중,1,0.276596,0.58,0.511628,0.5,0.163636,0.356053,0.409605,0.707983,0.323677,0.507246,1551,1,1
3,255,1551,3122,1551.0,오인택,중,1,0.276596,0.58,0.511628,0.5,0.163636,0.356053,0.409605,0.707983,0.323677,0.507246,1551,1,1
4,255,1551,3122,1551.0,오인택,중,1,0.276596,0.58,0.511628,0.5,0.163636,0.356053,0.409605,0.707983,0.323677,0.507246,1551,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6375,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.116279,0.0,0.000000,0.769095,0.555454,0.520554,0.238458,0.050725,9905,0,1
6376,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.116279,0.0,0.000000,0.769095,0.555454,0.520554,0.238458,0.050725,9905,1,1
6377,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.116279,0.0,0.000000,0.769095,0.555454,0.520554,0.238458,0.050725,9905,1,1
6378,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.116279,0.0,0.000000,0.769095,0.555454,0.520554,0.238458,0.050725,9905,1,1
6379,418,9905,18305,9905.0,박승민,중,3,0.095745,0.07,0.116279,0.0,0.000000,0.769095,0.555454,0.520554,0.238458,0.050725,9905,1,1

In [89]:
df_rating_merge2 = df_rating_merge.groupby(["Unnamed: 2","schoolType", "schoolYear"]).agg({
    'section3_score': "mean", 
    'section4_score': "mean",
    'section5_score': "mean",
    'section6_score': "mean",
    'section7_score': "mean",
    'tlp_motivation': "mean",
    'tlp_attitude'  : "mean",
    'tlp_strategy'  : "mean",
    'tlp_fear'      : "mean",
    'adtm_total'    : "mean", 
    
    'result'        : "sum",
    'count'         : "sum"  })
df_rating_merge2

,,,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,result,count
Unnamed: 2,schoolType,schoolYear,,,,,,,,,,,,
강민주,중,3,0.680851,0.21,0.383721,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.384058,118,160
강윤지,중,1,0.957447,1.00,0.767442,0.400000,0.345455,0.475417,0.188299,0.353963,0.280607,0.996377,35,40
곽지석,초,5,0.787234,0.74,0.697674,0.833333,1.000000,0.817169,0.911275,0.978764,0.162220,1.000000,88,90
권도아,중,3,0.000000,0.06,0.000000,0.200000,0.000000,0.775978,0.523958,0.333182,0.185386,0.000000,143,180
김나현,중,1,0.712766,0.72,0.709302,0.866667,0.109091,0.570169,0.308846,0.396037,0.489978,0.797101,33,60
김도현,초,3,0.457447,0.05,0.046512,0.000000,0.000000,0.496457,0.464731,0.416023,0.475552,0.144928,27,40
김명지,초,5,0.276596,0.24,0.116279,0.000000,0.218182,0.290017,0.332865,0.436861,0.592792,0.217391,65,80
김민기,초,3,0.276596,0.67,0.325581,0.833333,0.272727,0.197419,0.361228,0.167045,0.522892,0.539855,112,150
김민상,초,6,0.670213,0.52,0.534884,0.000000,1.000000,0.871769,0.620897,0.687202,0.694587,0.739130,21,30
김민솔,중,3,0.755319,0.41,0.453488,0.000000,0.000000,0.176537,0.323480,0.396037,0.316070,0.503623,17,30
김민지,초,6,0.510638,0.65,0.313953,0.000000,0.072727,0.562268,0.558415,0.666761,0.310606,0.478261,108,120
김상휘,중,2,0.223404,0.02,0.069767,0.033333,0.036364,0.459063,0.415012,0.312287,0.311597,0.072464,89,90
김수안,중,1,0.542553,0.40,0.488372,0.700000,0.000000,0.572432,0.358687,0.353963,0.846839,0.514493,51,90
김승재,중,3,0.468085,0.27,0.162791,0.100000,0.109091,0.184213,0.423574,0.500170,0.322595,0.297101,61,80
김예린,초,5,0.393617,0.23,0.255814,0.000000,0.545455,0.661851,0.555829,0.708437,0.273177,0.362319,77,140
김지민,중,1,0.148936,0.10,0.139535,0.166667,0.054545,0.843888,0.797103,0.896264,0.327012,0.115942,466,580
김태현,초,5,0.425532,0.06,0.441860,0.000000,1.000000,0.566900,0.514840,0.624688,0.191323,0.460145,71,90
김태희,중,1,0.500000,0.74,0.744186,1.000000,0.145455,0.487223,0.405627,0.353963,0.222873,0.764493,185,240
박소이,초,4,0.531915,0.38,0.000000,0.000000,0.090909,0.785333,0.758907,0.521008,0.403326,0.293478,133,180
박승민,중,3,0.095745,0.07,0.116279,0.000000,0.000000,0.769095,0.555454,0.520554,0.238458,0.050725,30,40
박종엽,초,4,0.542553,0.57,0.534884,0.033333,0.109091,0.174894,0.337824,0.228197,0.653361,0.539855,241,330
박지우,초,4,0.617021,0.54,0.616279,0.500000,0.363636,0.526681,0.458782,0.291903,0.725876,0.681159,73,90
서소린,초,5,0.478723,0.23,0.174419,0.000000,0.545455,0.479579,0.599780,0.521406,0.306980,0.365942,233,270
서제원,초,6,0.680851,0.71,0.674419,0.566667,0.490909,0.453182,0.479451,0.645980,0.355557,0.815217,16,20
소재욱,초,5,0.787234,0.68,0.732558,0.333333,0.672727,0.366147,0.341355,0.541108,0.878590,0.869565,85,110
송다은,중,2,0.457447,0.25,0.174419,0.000000,0.000000,0.818533,0.653225,0.707529,0.204264,0.257246,73,100
신유민,초,4,0.553191,0.60,0.116279,0.066667,0.018182,0.685570,0.867867,0.687145,0.215511,0.409420,351,410
안우진,초,4,0.117021,0.00,0.093023,0.000000,0.000000,0.355171,0.570789,0.209062,0.292571,0.025362,11,30
안지현,중,1,0.372340,0.31,0.639535,0.600000,0.363636,0.498885,0.377119,0.228935,0.631401,0.532609,72,90
오인택,중,1,0.276596,0.58,0.511628,0.500000,0.163636,0.356053,0.409605,0.707983,0.323677,0.507246,15,30
오지훈,초,6,0.606383,0.79,0.406977,0.000000,0.963636,0.959548,0.567561,0.750511,0.250211,0.768116,185,250
이강훈,중,2,0.202128,0.13,0.232558,0.000000,0.163636,0.788917,0.629640,0.458551,0.481966,0.177536,93,120
이수민,중,1,0.340426,0.28,0.383721,0.133333,0.054545,0.357358,0.432453,0.437315,0.767522,0.318841,42,60
이승찬,중,1,0.244681,0.64,0.616279,0.600000,0.545455,0.514141,0.741407,0.521008,0.112679,0.637681,20,20
이은성,중,3,0.861702,0.65,0.534884,0.000000,0.454545,0.155518,0.305980,0.208210,0.285438,0.742754,192,250
이제민,초,4,0.627660,0.55,0.476744,0.466667,0.000000,0.216581,0.000000,0.229843,0.147223,0.568841,16,40
이주미,중,2,0.425532,0.20,0.441860,0.066667,0.309091,0.853778,0.308579,0.437259,1.000000,0.380435,1,20
이준원,초,6,0.180851,0.19,0.116279,0.500000,0.090909,0.566977,0.717375,0.603566,0.139342,0.195652,49,60
이준혁,중,2,0.255319,0.20,0.220930,0.133333,0.054545,0.492572,0.914697,0.957472,0.124010,0.210145,18,20
이채민,초,4,0.553191,0.40,0.279070,0.000000,0.109091,0.591916,0.582895,0.312344,0.391545,0.398551,15,20
이한영,중,3,0.861702,0.42,1.000000,0.866667,0.000000,0.507535,0.773265,0.396491,0.123020,0.807971,18,20
임찬민,초,3,0.617021,0.41,0.465116,0.200000,0.000000,0.328493,0.240971,0.167329,0.872766,0.481884,168,210
장시우,중,1,0.234043,0.10,0.139535,0.000000,0.000000,0.000000,0.108657,0.000000,0.299070,0.115942,91,180
장예린,중,1,0.329787,0.38,0.406977,0.800000,0.000000,0.025575,0.311748,0.583125,0.740602,0.420290,13,30
장주원,중,1,0.776596,0.65,0.441860,0.666667,0.000000,0.900960,0.405251,0.562230,0.484499,0.666667,28,30
전세찬,중,1,0.702128,0.41,0.302326,0.000000,0.036364,0.422555,0.325839,0.394788,0.163386,0.445652,21,40
정서윤,중,3,0.329787,0.16,0.488372,0.566667,0.290909,0.609719,0.438040,0.666307,0.478158,0.398551,18,20
조규정,중,1,0.776596,0.59,0.639535,0.533333,0.254545,0.595410,0.423755,0.332330,0.674557,0.742754,3,20
조하원,초,5,0.840426,0.60,0.232558,0.000000,0.145455,0.723110,0.626846,0.853395,0.308305,0.561594,82,90
진서율,초,4,0.648936,0.25,0.162791,0.200000,0.000000,0.778565,0.944123,0.957075,0.238576,0.340580,45,60
최은지,초,6,0.478723,0.57,0.348837,0.000000,0.890909,0.161146,0.494605,0.249432,0.387782,0.612319,159,240
최현준,중,1,0.563830,0.89,0.802326,0.133333,0.545455,0.653864,0.811628,0.749659,0.431983,0.844203,383,450
한문정,초,5,1.000000,0.62,0.395349,0.333333,0.000000,0.470367,0.373394,0.291108,0.431681,0.681159,100,140

In [101]:
df_rating_merge2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 53 entries, ('강민주', '중', 3) to ('한문정', '초', 5)
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tlp_motivation  53 non-null     float64
 1   tlp_attitude    53 non-null     float64
 2   tlp_strategy    53 non-null     float64
 3   tlp_fear        53 non-null     float64
 4   adtm_total      53 non-null     float64
 5   point           53 non-null     float64
dtypes: float64(6)
memory usage: 5.3+ KB

In [90]:
df_rating_merge2['point'] = (df_rating_merge2['result'] / df_rating_merge2['count']*100)
df_rating_merge2['point']

Unnamed: 2  schoolType  schoolYear
강민주         중           3              73.750000
강윤지         중           1              87.500000
곽지석         초           5              97.777778
권도아         중           3              79.444444
김나현         중           1              55.000000
김도현         초           3              67.500000
김명지         초           5              81.250000
김민기         초           3              74.666667
김민상         초           6              70.000000
김민솔         중           3              56.666667
김민지         초           6              90.000000
김상휘         중           2              98.888889
김수안         중           1              56.666667
김승재         중           3              76.250000
김예린         초           5              55.000000
김지민         중           1              80.344828
김태현         초           5              78.888889
김태희         중           1              77.083333
박소이         초           4              73.888889
박승민         중           3              75.000000
박종엽         초           4              73.030303
박지우         초           4              81.111111
서소린         초           5              86.296296
서제원         초           6              80.000000
소재욱         초           5              77.272727
송다은         중           2              73.000000
신유민         초           4              85.609756
안우진         초           4              36.666667
안지현         중           1              80.000000
오인택         중           1              50.000000
오지훈         초           6              74.000000
이강훈         중           2              77.500000
이수민         중           1              70.000000
이승찬         중           1             100.000000
이은성         중           3              76.800000
이제민         초           4              40.000000
이주미         중           2               5.000000
이준원         초           6              81.666667
이준혁         중           2              90.000000
이채민         초           4              75.000000
이한영         중           3              90.000000
임찬민         초           3              80.000000
장시우         중           1              50.555556
장예린         중           1              43.333333
장주원         중           1              93.333333
전세찬         중           1              52.500000
정서윤         중           3              90.000000
조규정         중           1              15.000000
조하원         초           5              91.111111
진서율         초           4              75.000000
최은지         초           6              66.250000
최현준         중           1              85.111111
한문정         초           5              71.428571
Name: point, dtype: float64

In [91]:
# 점수 스케일링 추가
scaler = MinMaxScaler()
df_rating_merge2[['point']] = scaler.fit_transform(df_rating_merge2[['point']])
df_rating_merge2

,,,section3_score,section4_score,section5_score,section6_score,section7_score,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,result,count,point
Unnamed: 2,schoolType,schoolYear,,,,,,,,,,,,,
강민주,중,3,0.680851,0.21,0.383721,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.384058,118,160,0.723684
강윤지,중,1,0.957447,1.00,0.767442,0.400000,0.345455,0.475417,0.188299,0.353963,0.280607,0.996377,35,40,0.868421
곽지석,초,5,0.787234,0.74,0.697674,0.833333,1.000000,0.817169,0.911275,0.978764,0.162220,1.000000,88,90,0.976608
권도아,중,3,0.000000,0.06,0.000000,0.200000,0.000000,0.775978,0.523958,0.333182,0.185386,0.000000,143,180,0.783626
김나현,중,1,0.712766,0.72,0.709302,0.866667,0.109091,0.570169,0.308846,0.396037,0.489978,0.797101,33,60,0.526316
김도현,초,3,0.457447,0.05,0.046512,0.000000,0.000000,0.496457,0.464731,0.416023,0.475552,0.144928,27,40,0.657895
김명지,초,5,0.276596,0.24,0.116279,0.000000,0.218182,0.290017,0.332865,0.436861,0.592792,0.217391,65,80,0.802632
김민기,초,3,0.276596,0.67,0.325581,0.833333,0.272727,0.197419,0.361228,0.167045,0.522892,0.539855,112,150,0.733333
김민상,초,6,0.670213,0.52,0.534884,0.000000,1.000000,0.871769,0.620897,0.687202,0.694587,0.739130,21,30,0.684211
김민솔,중,3,0.755319,0.41,0.453488,0.000000,0.000000,0.176537,0.323480,0.396037,0.316070,0.503623,17,30,0.543860
김민지,초,6,0.510638,0.65,0.313953,0.000000,0.072727,0.562268,0.558415,0.666761,0.310606,0.478261,108,120,0.894737
김상휘,중,2,0.223404,0.02,0.069767,0.033333,0.036364,0.459063,0.415012,0.312287,0.311597,0.072464,89,90,0.988304
김수안,중,1,0.542553,0.40,0.488372,0.700000,0.000000,0.572432,0.358687,0.353963,0.846839,0.514493,51,90,0.543860
김승재,중,3,0.468085,0.27,0.162791,0.100000,0.109091,0.184213,0.423574,0.500170,0.322595,0.297101,61,80,0.750000
김예린,초,5,0.393617,0.23,0.255814,0.000000,0.545455,0.661851,0.555829,0.708437,0.273177,0.362319,77,140,0.526316
김지민,중,1,0.148936,0.10,0.139535,0.166667,0.054545,0.843888,0.797103,0.896264,0.327012,0.115942,466,580,0.793103
김태현,초,5,0.425532,0.06,0.441860,0.000000,1.000000,0.566900,0.514840,0.624688,0.191323,0.460145,71,90,0.777778
김태희,중,1,0.500000,0.74,0.744186,1.000000,0.145455,0.487223,0.405627,0.353963,0.222873,0.764493,185,240,0.758772
박소이,초,4,0.531915,0.38,0.000000,0.000000,0.090909,0.785333,0.758907,0.521008,0.403326,0.293478,133,180,0.725146
박승민,중,3,0.095745,0.07,0.116279,0.000000,0.000000,0.769095,0.555454,0.520554,0.238458,0.050725,30,40,0.736842
박종엽,초,4,0.542553,0.57,0.534884,0.033333,0.109091,0.174894,0.337824,0.228197,0.653361,0.539855,241,330,0.716108
박지우,초,4,0.617021,0.54,0.616279,0.500000,0.363636,0.526681,0.458782,0.291903,0.725876,0.681159,73,90,0.801170
서소린,초,5,0.478723,0.23,0.174419,0.000000,0.545455,0.479579,0.599780,0.521406,0.306980,0.365942,233,270,0.855750
서제원,초,6,0.680851,0.71,0.674419,0.566667,0.490909,0.453182,0.479451,0.645980,0.355557,0.815217,16,20,0.789474
소재욱,초,5,0.787234,0.68,0.732558,0.333333,0.672727,0.366147,0.341355,0.541108,0.878590,0.869565,85,110,0.760766
송다은,중,2,0.457447,0.25,0.174419,0.000000,0.000000,0.818533,0.653225,0.707529,0.204264,0.257246,73,100,0.715789
신유민,초,4,0.553191,0.60,0.116279,0.066667,0.018182,0.685570,0.867867,0.687145,0.215511,0.409420,351,410,0.848524
안우진,초,4,0.117021,0.00,0.093023,0.000000,0.000000,0.355171,0.570789,0.209062,0.292571,0.025362,11,30,0.333333
안지현,중,1,0.372340,0.31,0.639535,0.600000,0.363636,0.498885,0.377119,0.228935,0.631401,0.532609,72,90,0.789474
오인택,중,1,0.276596,0.58,0.511628,0.500000,0.163636,0.356053,0.409605,0.707983,0.323677,0.507246,15,30,0.473684
오지훈,초,6,0.606383,0.79,0.406977,0.000000,0.963636,0.959548,0.567561,0.750511,0.250211,0.768116,185,250,0.726316
이강훈,중,2,0.202128,0.13,0.232558,0.000000,0.163636,0.788917,0.629640,0.458551,0.481966,0.177536,93,120,0.763158
이수민,중,1,0.340426,0.28,0.383721,0.133333,0.054545,0.357358,0.432453,0.437315,0.767522,0.318841,42,60,0.684211
이승찬,중,1,0.244681,0.64,0.616279,0.600000,0.545455,0.514141,0.741407,0.521008,0.112679,0.637681,20,20,1.000000
이은성,중,3,0.861702,0.65,0.534884,0.000000,0.454545,0.155518,0.305980,0.208210,0.285438,0.742754,192,250,0.755789
이제민,초,4,0.627660,0.55,0.476744,0.466667,0.000000,0.216581,0.000000,0.229843,0.147223,0.568841,16,40,0.368421
이주미,중,2,0.425532,0.20,0.441860,0.066667,0.309091,0.853778,0.308579,0.437259,1.000000,0.380435,1,20,0.000000
이준원,초,6,0.180851,0.19,0.116279,0.500000,0.090909,0.566977,0.717375,0.603566,0.139342,0.195652,49,60,0.807018
이준혁,중,2,0.255319,0.20,0.220930,0.133333,0.054545,0.492572,0.914697,0.957472,0.124010,0.210145,18,20,0.894737
이채민,초,4,0.553191,0.40,0.279070,0.000000,0.109091,0.591916,0.582895,0.312344,0.391545,0.398551,15,20,0.736842
이한영,중,3,0.861702,0.42,1.000000,0.866667,0.000000,0.507535,0.773265,0.396491,0.123020,0.807971,18,20,0.894737
임찬민,초,3,0.617021,0.41,0.465116,0.200000,0.000000,0.328493,0.240971,0.167329,0.872766,0.481884,168,210,0.789474
장시우,중,1,0.234043,0.10,0.139535,0.000000,0.000000,0.000000,0.108657,0.000000,0.299070,0.115942,91,180,0.479532
장예린,중,1,0.329787,0.38,0.406977,0.800000,0.000000,0.025575,0.311748,0.583125,0.740602,0.420290,13,30,0.403509
장주원,중,1,0.776596,0.65,0.441860,0.666667,0.000000,0.900960,0.405251,0.562230,0.484499,0.666667,28,30,0.929825
전세찬,중,1,0.702128,0.41,0.302326,0.000000,0.036364,0.422555,0.325839,0.394788,0.163386,0.445652,21,40,0.500000
정서윤,중,3,0.329787,0.16,0.488372,0.566667,0.290909,0.609719,0.438040,0.666307,0.478158,0.398551,18,20,0.894737
조규정,중,1,0.776596,0.59,0.639535,0.533333,0.254545,0.595410,0.423755,0.332330,0.674557,0.742754,3,20,0.105263
조하원,초,5,0.840426,0.60,0.232558,0.000000,0.145455,0.723110,0.626846,0.853395,0.308305,0.561594,82,90,0.906433
진서율,초,4,0.648936,0.25,0.162791,0.200000,0.000000,0.778565,0.944123,0.957075,0.238576,0.340580,45,60,0.736842
최은지,초,6,0.478723,0.57,0.348837,0.000000,0.890909,0.161146,0.494605,0.249432,0.387782,0.612319,159,240,0.644737
최현준,중,1,0.563830,0.89,0.802326,0.133333,0.545455,0.653864,0.811628,0.749659,0.431983,0.844203,383,450,0.843275
한문정,초,5,1.000000,0.62,0.395349,0.333333,0.000000,0.470367,0.373394,0.291108,0.431681,0.681159,100,140,0.699248

In [92]:
df_rating_merge2.columns

Index(['section3_score', 'section4_score', 'section5_score', 'section6_score',
       'section7_score', 'tlp_motivation', 'tlp_attitude', 'tlp_strategy',
       'tlp_fear', 'adtm_total', 'result', 'count', 'point'],
      dtype='object')

In [93]:
df_rating_merge2 = df_rating_merge2[[ 'tlp_motivation', 'tlp_attitude', 'tlp_strategy','tlp_fear', 
           'adtm_total', 'point']]
df_rating_merge2

,,,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
Unnamed: 2,schoolType,schoolYear,,,,,,
강민주,중,3,1.000000,1.000000,1.000000,0.000000,0.384058,0.723684
강윤지,중,1,0.475417,0.188299,0.353963,0.280607,0.996377,0.868421
곽지석,초,5,0.817169,0.911275,0.978764,0.162220,1.000000,0.976608
권도아,중,3,0.775978,0.523958,0.333182,0.185386,0.000000,0.783626
김나현,중,1,0.570169,0.308846,0.396037,0.489978,0.797101,0.526316
김도현,초,3,0.496457,0.464731,0.416023,0.475552,0.144928,0.657895
김명지,초,5,0.290017,0.332865,0.436861,0.592792,0.217391,0.802632
김민기,초,3,0.197419,0.361228,0.167045,0.522892,0.539855,0.733333
김민상,초,6,0.871769,0.620897,0.687202,0.694587,0.739130,0.684211
김민솔,중,3,0.176537,0.323480,0.396037,0.316070,0.503623,0.543860
김민지,초,6,0.562268,0.558415,0.666761,0.310606,0.478261,0.894737
김상휘,중,2,0.459063,0.415012,0.312287,0.311597,0.072464,0.988304
김수안,중,1,0.572432,0.358687,0.353963,0.846839,0.514493,0.543860
김승재,중,3,0.184213,0.423574,0.500170,0.322595,0.297101,0.750000
김예린,초,5,0.661851,0.555829,0.708437,0.273177,0.362319,0.526316
김지민,중,1,0.843888,0.797103,0.896264,0.327012,0.115942,0.793103
김태현,초,5,0.566900,0.514840,0.624688,0.191323,0.460145,0.777778
김태희,중,1,0.487223,0.405627,0.353963,0.222873,0.764493,0.758772
박소이,초,4,0.785333,0.758907,0.521008,0.403326,0.293478,0.725146
박승민,중,3,0.769095,0.555454,0.520554,0.238458,0.050725,0.736842
박종엽,초,4,0.174894,0.337824,0.228197,0.653361,0.539855,0.716108
박지우,초,4,0.526681,0.458782,0.291903,0.725876,0.681159,0.801170
서소린,초,5,0.479579,0.599780,0.521406,0.306980,0.365942,0.855750
서제원,초,6,0.453182,0.479451,0.645980,0.355557,0.815217,0.789474
소재욱,초,5,0.366147,0.341355,0.541108,0.878590,0.869565,0.760766
송다은,중,2,0.818533,0.653225,0.707529,0.204264,0.257246,0.715789
신유민,초,4,0.685570,0.867867,0.687145,0.215511,0.409420,0.848524
안우진,초,4,0.355171,0.570789,0.209062,0.292571,0.025362,0.333333
안지현,중,1,0.498885,0.377119,0.228935,0.631401,0.532609,0.789474
오인택,중,1,0.356053,0.409605,0.707983,0.323677,0.507246,0.473684
오지훈,초,6,0.959548,0.567561,0.750511,0.250211,0.768116,0.726316
이강훈,중,2,0.788917,0.629640,0.458551,0.481966,0.177536,0.763158
이수민,중,1,0.357358,0.432453,0.437315,0.767522,0.318841,0.684211
이승찬,중,1,0.514141,0.741407,0.521008,0.112679,0.637681,1.000000
이은성,중,3,0.155518,0.305980,0.208210,0.285438,0.742754,0.755789
이제민,초,4,0.216581,0.000000,0.229843,0.147223,0.568841,0.368421
이주미,중,2,0.853778,0.308579,0.437259,1.000000,0.380435,0.000000
이준원,초,6,0.566977,0.717375,0.603566,0.139342,0.195652,0.807018
이준혁,중,2,0.492572,0.914697,0.957472,0.124010,0.210145,0.894737
이채민,초,4,0.591916,0.582895,0.312344,0.391545,0.398551,0.736842
이한영,중,3,0.507535,0.773265,0.396491,0.123020,0.807971,0.894737
임찬민,초,3,0.328493,0.240971,0.167329,0.872766,0.481884,0.789474
장시우,중,1,0.000000,0.108657,0.000000,0.299070,0.115942,0.479532
장예린,중,1,0.025575,0.311748,0.583125,0.740602,0.420290,0.403509
장주원,중,1,0.900960,0.405251,0.562230,0.484499,0.666667,0.929825
전세찬,중,1,0.422555,0.325839,0.394788,0.163386,0.445652,0.500000
정서윤,중,3,0.609719,0.438040,0.666307,0.478158,0.398551,0.894737
조규정,중,1,0.595410,0.423755,0.332330,0.674557,0.742754,0.105263
조하원,초,5,0.723110,0.626846,0.853395,0.308305,0.561594,0.906433
진서율,초,4,0.778565,0.944123,0.957075,0.238576,0.340580,0.736842
최은지,초,6,0.161146,0.494605,0.249432,0.387782,0.612319,0.644737
최현준,중,1,0.653864,0.811628,0.749659,0.431983,0.844203,0.843275
한문정,초,5,0.470367,0.373394,0.291108,0.431681,0.681159,0.699248

In [94]:
df_rating_merge3=df_rating_merge2.reset_index()
df_rating_merge3

,Unnamed: 2,schoolType,schoolYear,tlp_motivation,tlp_attitude,tlp_strategy,tlp_fear,adtm_total,point
0,강민주,중,3,1.000000,1.000000,1.000000,0.000000,0.384058,0.723684
1,강윤지,중,1,0.475417,0.188299,0.353963,0.280607,0.996377,0.868421
2,곽지석,초,5,0.817169,0.911275,0.978764,0.162220,1.000000,0.976608
3,권도아,중,3,0.775978,0.523958,0.333182,0.185386,0.000000,0.783626
4,김나현,중,1,0.570169,0.308846,0.396037,0.489978,0.797101,0.526316
5,김도현,초,3,0.496457,0.464731,0.416023,0.475552,0.144928,0.657895
6,김명지,초,5,0.290017,0.332865,0.436861,0.592792,0.217391,0.802632
7,김민기,초,3,0.197419,0.361228,0.167045,0.522892,0.539855,0.733333
8,김민상,초,6,0.871769,0.620897,0.687202,0.694587,0.739130,0.684211
9,김민솔,중,3,0.176537,0.323480,0.396037,0.316070,0.503623,0.543860
10,김민지,초,6,0.562268,0.558415,0.666761,0.310606,0.478261,0.894737
11,김상휘,중,2,0.459063,0.415012,0.312287,0.311597,0.072464,0.988304
12,김수안,중,1,0.572432,0.358687,0.353963,0.846839,0.514493,0.543860
13,김승재,중,3,0.184213,0.423574,0.500170,0.322595,0.297101,0.750000
14,김예린,초,5,0.661851,0.555829,0.708437,0.273177,0.362319,0.526316
15,김지민,중,1,0.843888,0.797103,0.896264,0.327012,0.115942,0.793103
16,김태현,초,5,0.566900,0.514840,0.624688,0.191323,0.460145,0.777778
17,김태희,중,1,0.487223,0.405627,0.353963,0.222873,0.764493,0.758772
18,박소이,초,4,0.785333,0.758907,0.521008,0.403326,0.293478,0.725146
19,박승민,중,3,0.769095,0.555454,0.520554,0.238458,0.050725,0.736842
20,박종엽,초,4,0.174894,0.337824,0.228197,0.653361,0.539855,0.716108
21,박지우,초,4,0.526681,0.458782,0.291903,0.725876,0.681159,0.801170
22,서소린,초,5,0.479579,0.599780,0.521406,0.306980,0.365942,0.855750
23,서제원,초,6,0.453182,0.479451,0.645980,0.355557,0.815217,0.789474
24,소재욱,초,5,0.366147,0.341355,0.541108,0.878590,0.869565,0.760766
25,송다은,중,2,0.818533,0.653225,0.707529,0.204264,0.257246,0.715789
26,신유민,초,4,0.685570,0.867867,0.687145,0.215511,0.409420,0.848524
27,안우진,초,4,0.355171,0.570789,0.209062,0.292571,0.025362,0.333333
28,안지현,중,1,0.498885,0.377119,0.228935,0.631401,0.532609,0.789474
29,오인택,중,1,0.356053,0.409605,0.707983,0.323677,0.507246,0.473684
30,오지훈,초,6,0.959548,0.567561,0.750511,0.250211,0.768116,0.726316
31,이강훈,중,2,0.788917,0.629640,0.458551,0.481966,0.177536,0.763158
32,이수민,중,1,0.357358,0.432453,0.437315,0.767522,0.318841,0.684211
33,이승찬,중,1,0.514141,0.741407,0.521008,0.112679,0.637681,1.000000
34,이은성,중,3,0.155518,0.305980,0.208210,0.285438,0.742754,0.755789
35,이제민,초,4,0.216581,0.000000,0.229843,0.147223,0.568841,0.368421
36,이주미,중,2,0.853778,0.308579,0.437259,1.000000,0.380435,0.000000
37,이준원,초,6,0.566977,0.717375,0.603566,0.139342,0.195652,0.807018
38,이준혁,중,2,0.492572,0.914697,0.957472,0.124010,0.210145,0.894737
39,이채민,초,4,0.591916,0.582895,0.312344,0.391545,0.398551,0.736842
40,이한영,중,3,0.507535,0.773265,0.396491,0.123020,0.807971,0.894737
41,임찬민,초,3,0.328493,0.240971,0.167329,0.872766,0.481884,0.789474
42,장시우,중,1,0.000000,0.108657,0.000000,0.299070,0.115942,0.479532
43,장예린,중,1,0.025575,0.311748,0.583125,0.740602,0.420290,0.403509
44,장주원,중,1,0.900960,0.405251,0.562230,0.484499,0.666667,0.929825
45,전세찬,중,1,0.422555,0.325839,0.394788,0.163386,0.445652,0.500000
46,정서윤,중,3,0.609719,0.438040,0.666307,0.478158,0.398551,0.894737
47,조규정,중,1,0.595410,0.423755,0.332330,0.674557,0.742754,0.105263
48,조하원,초,5,0.723110,0.626846,0.853395,0.308305,0.561594,0.906433
49,진서율,초,4,0.778565,0.944123,0.957075,0.238576,0.340580,0.736842
50,최은지,초,6,0.161146,0.494605,0.249432,0.387782,0.612319,0.644737
51,최현준,중,1,0.653864,0.811628,0.749659,0.431983,0.844203,0.843275
52,한문정,초,5,0.470367,0.373394,0.291108,0.431681,0.681159,0.699248

In [95]:
from sklearn.model_selection import train_test_split

# train-test분리
X_train, X_test, y_train, y_test = train_test_split(df_rating_merge3[['tlp_motivation', 'tlp_fear', 'adtm_total']],df_rating_merge3[['point']])

# train-validation분리
X2_train, X2_val, y2_train, y_val = train_test_split(X_train, y_train)

In [96]:
import numpy as np

for name, model in models.items():
    model = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print(name,':', r2)
    print("rmse : ", rmse)
    print()

LR : -0.22598989922742896
rmse :  0.27615508822498136

LS : -0.44692283380411024
rmse :  0.30000762210079285

RG : -0.28429826269206737
rmse :  0.2826458095627093

RF : -0.5901751272269253
rmse :  0.3145082786360807

XGB : -1.2208424734461154
rmse :  0.3716793910473835

GB : -0.8152489307106563
rmse :  0.3360297264181168

DT : -0.983407448689406
rmse :  0.3512493858097054

C:\Users\wl\AppData\Local\Temp/ipykernel_1628/2406700941.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = model.fit(X_train, y_train)
C:\Users\wl\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [97]:
b=df_rating_merge3[['point', 'tlp_motivation', 'tlp_fear', 'adtm_total']]
b

       point  tlp_motivation  tlp_fear  adtm_total
0   0.723684        1.000000  0.000000    0.384058
1   0.868421        0.475417  0.280607    0.996377
2   0.976608        0.817169  0.162220    1.000000
3   0.783626        0.775978  0.185386    0.000000
4   0.526316        0.570169  0.489978    0.797101
5   0.657895        0.496457  0.475552    0.144928
6   0.802632        0.290017  0.592792    0.217391
7   0.733333        0.197419  0.522892    0.539855
8   0.684211        0.871769  0.694587    0.739130
9   0.543860        0.176537  0.316070    0.503623
10  0.894737        0.562268  0.310606    0.478261
11  0.988304        0.459063  0.311597    0.072464
12  0.543860        0.572432  0.846839    0.514493
13  0.750000        0.184213  0.322595    0.297101
14  0.526316        0.661851  0.273177    0.362319
15  0.793103        0.843888  0.327012    0.115942
16  0.777778        0.566900  0.191323    0.460145
17  0.758772        0.487223  0.222873    0.764493
18  0.725146        0.785333  0.403326    0.293478
19  0.736842        0.769095  0.238458    0.050725
20  0.716108        0.174894  0.653361    0.539855
21  0.801170        0.526681  0.725876    0.681159
22  0.855750        0.479579  0.306980    0.365942
23  0.789474        0.453182  0.355557    0.815217
24  0.760766        0.366147  0.878590    0.869565
25  0.715789        0.818533  0.204264    0.257246
26  0.848524        0.685570  0.215511    0.409420
27  0.333333        0.355171  0.292571    0.025362
28  0.789474        0.498885  0.631401    0.532609
29  0.473684        0.356053  0.323677    0.507246
30  0.726316        0.959548  0.250211    0.768116
31  0.763158        0.788917  0.481966    0.177536
32  0.684211        0.357358  0.767522    0.318841
33  1.000000        0.514141  0.112679    0.637681
34  0.755789        0.155518  0.285438    0.742754
35  0.368421        0.216581  0.147223    0.568841
36  0.000000        0.853778  1.000000    0.380435
37  0.807018        0.566977  0.139342    0.195652
38  0.894737        0.492572  0.124010    0.210145
39  0.736842        0.591916  0.391545    0.398551
40  0.894737        0.507535  0.123020    0.807971
41  0.789474        0.328493  0.872766    0.481884
42  0.479532        0.000000  0.299070    0.115942
43  0.403509        0.025575  0.740602    0.420290
44  0.929825        0.900960  0.484499    0.666667
45  0.500000        0.422555  0.163386    0.445652
46  0.894737        0.609719  0.478158    0.398551
47  0.105263        0.595410  0.674557    0.742754
48  0.906433        0.723110  0.308305    0.561594
49  0.736842        0.778565  0.238576    0.340580
50  0.644737        0.161146  0.387782    0.612319
51  0.843275        0.653864  0.431983    0.844203
52  0.699248        0.470367  0.431681    0.681159

In [98]:
#1
import patsy
import statsmodels.api as sm

f = 'point ~ tlp_motivation+tlp_fear+adtm_total'
y, X = patsy.dmatrices(f, b, return_type='dataframe')

In [100]:
model2 = sm.OLS(y, X).fit()
print(model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  point   R-squared:                       0.162
Model:                            OLS   Adj. R-squared:                  0.111
Method:                 Least Squares   F-statistic:                     3.162
Date:                Thu, 01 Dec 2022   Prob (F-statistic):             0.0327
Time:                        17:53:26   Log-Likelihood:                 14.758
No. Observations:                  53   AIC:                            -21.52
Df Residuals:                      49   BIC:                            -13.64
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          0.7114      0.094      7.567      0.000       0.522       0.900
tlp_motivation     0.1125      0.110      1.026      0.310      -0.108       0.333
tlp_fear          -0.3035      0.117     -2.594      0.012      -0.539      -0.068
adtm_total         0.1187      0.104      1.140      0.260      -0.091       0.328
==============================================================================
Omnibus:                       14.847   Durbin-Watson:                   2.174
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               16.504
Skew:                          -1.183   Prob(JB):                     0.000261
Kurtosis:                       4.371   Cond. No.                         7.32
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.